In [690]:
import pandas as pd
import numpy as np
from scipy.stats import lognorm
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error

In [691]:
in_file_name = 'data/grouped_paces_ju.tsv'
df_all = pd.read_csv(in_file_name, delimiter="\t")
history = df_all

In [692]:
order18 = pd.read_csv('data/running_order_j2018_ju.tsv', delimiter="\t")
order18 = order18[np.isfinite(order18.team_id)]

In [693]:
#paces = df.as_matrix(["pace_1", "pace_2", "pace_3", "pace_4", "pace_5", "pace_6"])
paces = history[["pace_1", "pace_2", "pace_3", "pace_4", "pace_5", "pace_6"]]
logs = np.log(paces)
means = np.nanmean(logs, axis=1)
stdevs = np.nanstd(logs, axis=1)
history = history.assign(log_means=pd.Series(means).values)
history = history.assign(log_stdevs=pd.Series(stdevs).values)

/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: Mean of empty slice
  after removing the cwd from sys.path.
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/numpy/lib/nanfunctions.py:1434: RuntimeWarning: Degrees of freedom <= 0 for slice.
  keepdims=keepdims)

In [694]:
# Estimate values for all, but only use them if no history is available
with_history = history[np.isfinite(history.pace_2)]
x = with_history.mean_team_id.values
x = x.reshape(len(x), 1)

log_means = with_history.log_means.values.reshape(len(with_history.log_means), 1)
log_means_model = linear_model.LinearRegression()
log_means_model.fit(x, log_means)

estimated_log_means = log_means_model.predict(order18.team_id.values.reshape(len(order18.team_id), 1))
order18 = order18.assign(estimated_log_means=estimated_log_means)

log_stdevs = with_history.log_stdevs.values.reshape(len(with_history.log_stdevs), 1)
log_stdevs_model = linear_model.LinearRegression()
log_stdevs_model.fit(x, log_stdevs)

estimated_log_stdevs = log_stdevs_model.predict(order18.team_id.values.reshape(len(order18.team_id), 1))
order18 = order18.assign(estimated_log_stdevs=estimated_log_stdevs)
order18.head()

,team_id,team,team_base_name,leg,leg_dist,name,estimated_log_means,estimated_log_stdevs
4,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö,1,11.0,Otto Simosas,1.944005,0.084975
5,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö,2,11.9,Elias Kuukka,1.944005,0.084975
6,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö,3,12.8,Johan Runesson,1.944005,0.084975
7,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö,4,8.7,Anton Kuukka,1.944005,0.084975
8,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö,5,8.7,Severi Kymäläinen,1.944005,0.084975

In [695]:
# Combine history with 2018 runners 
no_history_row = pd.DataFrame([[0,0]], columns=["log_means", "log_stdevs"])
def get_history_row(running_order_row):
    name = running_order_row["name"].lower()
    
    by_name = history[history['name'] == name]
    by_name_and_colon = history[history['name'].str.contains(name + ":", regex=False)]

    runners = by_name.append(by_name_and_colon)
    if(len(runners) == 1):
        return runners
    team_name = running_order_row["team_base_name"].upper()
    runners = runners[runners['teams'].str.contains(team_name, regex=False)]
    if(len(runners) == 1):
        return runners
    if(len(runners) == 0):
        return no_history_row
    print(f"name '{name}' team_name '{team_name}'")
    print(f"by_name {len(by_name)} by_name_and_colon {len(by_name_and_colon)} runners {len(runners)}")
    print(f"Duplicate runner {runners}")
    #print(f"TEAMS by_name_and_colon {by_name_and_colon['teams']}")
    return runners.sort_values("num_runs", ascending = False).head(1)

def get_estimate_params(running_order_row):
    history_row = get_history_row(running_order_row)
    #print(f"estimate_row log_means {history_row.log_means} {history_row.log_stdevs}")
    log_means = history_row.log_means.values[0]
    log_stdevs = history_row.log_stdevs.values[0]
    return pd.Series({"history_log_means": log_means, "history_log_stdevs": log_stdevs})

#order18 = order18[order18['team'].str.contains("Reak") | order18['team'].str.contains("Puskasil") | order18['team'].str.contains("Rastihaukat")]
estimate_params = order18.apply(lambda row: get_estimate_params(row), axis=1)
order18 = order18.assign(history_log_means = estimate_params.history_log_means)
order18 = order18.assign(history_log_stdevs = estimate_params.history_log_stdevs)

name 'petri laaksonen' team_name 'UNO SK'
by_name 0 by_name_and_colon 6 runners 2
Duplicate runner       mean_team_id            teams                             name  \
3977         611.0  UNO SK-HARRASTE  petri laaksonen:UNO SK-HARRASTE
3979         698.0           UNO SK           petri laaksonen:UNO SK

      num_runs  num_valid_times  mean_pace  stdev  pace_1  pace_2  pace_3  \
3977         1                1      8.749    0.0   8.749     NaN     NaN
3979         1                1      7.124    0.0   7.124     NaN     NaN

      pace_4  pace_5  pace_6  log_means  log_stdevs
3977     NaN     NaN     NaN   2.168939         0.0
3979     NaN     NaN     NaN   1.963469         0.0
name 'arto laaksonen' team_name 'UNO SK'
by_name 0 by_name_and_colon 6 runners 2
Duplicate runner       mean_team_id            teams                            name  num_runs  \
3984         611.0  UNO SK-HARRASTE  arto laaksonen:UNO SK-HARRASTE         1
3985         698.0           UNO SK           arto laaksonen:UNO SK         1

      num_valid_times  mean_pace  stdev  pace_1  pace_2  pace_3  pace_4  \
3984                1     10.423    0.0  10.423     NaN     NaN     NaN
3985                1      9.706    0.0   9.706     NaN     NaN     NaN

      pace_5  pace_6  log_means  log_stdevs
3984     NaN     NaN   2.344015         0.0
3985     NaN     NaN   2.272744         0.0
name 'panu kärkkäinen' team_name 'JÄMSÄN RETKI-VEIKOT'
by_name 0 by_name_and_colon 4 runners 2
Duplicate runner       mean_team_id                        teams  \
1841         570.0          JÄMSÄN RETKI-VEIKOT
1843         954.0  JÄMSÄN RETKI-VEIKOT/JUKOLA2

                                             name  num_runs  num_valid_times  \
1841          panu kärkkäinen:JÄMSÄN RETKI-VEIKOT         4                3
1843  panu kärkkäinen:JÄMSÄN RETKI-VEIKOT/JUKOLA2         1                1

      mean_pace  stdev  pace_1  pace_2  pace_3  pace_4  pace_5  pace_6  \
1841      9.109  1.401   7.938    8.31  11.079     NaN     NaN     NaN
1843      8.686  0.000   8.686     NaN     NaN     NaN     NaN     NaN

      log_means  log_stdevs
1841   2.198057    0.147556
1843   2.161713    0.000000

In [696]:
order18['log_means'] = np.where(np.isfinite(order18["history_log_means"]) & order18["history_log_means"] > 0, order18["history_log_means"], order18["estimated_log_means"])
order18['log_stdevs'] = np.where(np.isfinite(order18["history_log_stdevs"]) & order18["history_log_stdevs"] > 0, order18["history_log_stdevs"], order18["estimated_log_stdevs"])
order18.head()

,team_id,team,team_base_name,leg,leg_dist,name,estimated_log_means,estimated_log_stdevs,history_log_means,history_log_stdevs,log_means,log_stdevs
4,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö,1,11.0,Otto Simosas,1.944005,0.084975,1.817424,0.101691,1.817424,0.101691
5,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö,2,11.9,Elias Kuukka,1.944005,0.084975,1.819386,0.111737,1.819386,0.111737
6,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö,3,12.8,Johan Runesson,1.944005,0.084975,1.775426,0.086651,1.775426,0.086651
7,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö,4,8.7,Anton Kuukka,1.944005,0.084975,1.844396,0.114598,1.844396,0.114598
8,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö,5,8.7,Severi Kymäläinen,1.944005,0.084975,1.813504,0.048913,1.813504,0.048913

In [697]:
# Calculate personal estimates
# s = sigma and scale = exp(mu).

log_means = np.exp(order18['log_means']) 
log_stdevs = order18['log_stdevs']

intervals95 = lognorm.interval(0.95, s = log_stdevs, scale = log_means)
means = lognorm.mean(s = log_stdevs, scale = log_means)
medians = lognorm.median(s = log_stdevs, scale = log_means)

In [698]:
order18 = order18.assign(ind_95_start = pd.Series(intervals95[0] * order18.leg_dist).values)
order18 = order18.assign(ind_95_end = pd.Series(intervals95[1] * order18.leg_dist).values)
order18 = order18.assign(ind_mean = pd.Series(means * order18.leg_dist).values)
order18 = order18.assign(ind_median = pd.Series(medians * order18.leg_dist).values)

In [699]:
by_teams = order18.set_index(["team_id", "leg"]).unstack()
by_teams.head()

                             team                            \
leg                             1                         2
team_id
3.0           Tampereen Pyrintö 1       Tampereen Pyrintö 1
5.0                   Halden SK 1               Halden SK 1
6.0      Helsingin Suunnistajat 1  Helsingin Suunnistajat 1
8.0             Hiidenkiertäjät 1         Hiidenkiertäjät 1
11.0                   OK Linne 1                OK Linne 1

                                                             \
leg                             3                         4
team_id
3.0           Tampereen Pyrintö 1       Tampereen Pyrintö 1
5.0                   Halden SK 1               Halden SK 1
6.0      Helsingin Suunnistajat 1  Helsingin Suunnistajat 1
8.0             Hiidenkiertäjät 1         Hiidenkiertäjät 1
11.0                   OK Linne 1                OK Linne 1

                                                             \
leg                             5                         6
team_id
3.0           Tampereen Pyrintö 1       Tampereen Pyrintö 1
5.0                   Halden SK 1               Halden SK 1
6.0      Helsingin Suunnistajat 1  Helsingin Suunnistajat 1
8.0             Hiidenkiertäjät 1         Hiidenkiertäjät 1
11.0                   OK Linne 1                OK Linne 1

                                           team_base_name  \
leg                             7                       1
team_id
3.0           Tampereen Pyrintö 1       Tampereen Pyrintö
5.0                   Halden SK 1               Halden SK
6.0      Helsingin Suunnistajat 1  Helsingin Suunnistajat
8.0             Hiidenkiertäjät 1         Hiidenkiertäjät
11.0                   OK Linne 1                OK Linne

                                                           ...       ind_mean  \
leg                           2                       3    ...              5
team_id                                                    ...
3.0           Tampereen Pyrintö       Tampereen Pyrintö    ...      53.411364
5.0                   Halden SK               Halden SK    ...      62.097304
6.0      Helsingin Suunnistajat  Helsingin Suunnistajat    ...      56.917205
8.0             Hiidenkiertäjät         Hiidenkiertäjät    ...      55.117340
11.0                   OK Linne                OK Linne    ...      56.721972

                              ind_median                                   \
leg              6          7          1          2          3          4
team_id
3.0      61.058061  87.339752  67.715767  73.400057  75.555759  55.021214
5.0      75.794950  85.633899  64.133501  75.142332  77.273814  59.881118
6.0      73.143192  95.454671  71.067530  81.893692  79.259454  56.622836
8.0      67.175768  89.509771  64.842688  81.656738  74.557289  54.048333
11.0     67.114796  92.568771  68.047577  75.630890  74.017768  51.993243


leg              5          6          7
team_id
3.0      53.347510  61.026089  87.281419
5.0      61.654866  75.521582  85.578863
6.0      56.567705  72.479759  95.225971
8.0      55.029472  66.579191  89.286199
11.0     55.593390  66.933450  92.321787

[5 rows x 98 columns]

In [700]:
# remove teams missing some runners
print(len(by_teams))
by_teams = by_teams[np.isfinite(by_teams.log_means[1]) & np.isfinite(by_teams.log_means[2]) & np.isfinite(by_teams.log_means[3]) & np.isfinite(by_teams.log_means[4]) & np.isfinite(by_teams.log_means[5]) & np.isfinite(by_teams.log_means[6]) & np.isfinite(by_teams.log_means[7])] 
print(len(by_teams))

1479
1461

In [701]:
# Sum of log normal variables is not defined 
# so we simulate 10000 runs for each user and sum them and then do statistics on simulated results 
def simulate_relay_estimates(row):
    samples = pd.DataFrame()
    for i in range(1,8):
        if np.isnan(row["log_means"][i]):
            print(row["log_means"])
            print(row["name"])
        samples[i] = row["leg_dist"][i] * lognorm.rvs(s = row["log_stdevs"][i], scale = np.exp(row["log_means"][i]), size = 10000)

    samples_sums = pd.DataFrame()
    # leg_1 
    # leg_1 + leg_2
    # leg_1 + leg_2 + leg_3
    # ...
    for i in range(1,8):
        samples_sums[i] = np.sum([ samples[j] for j in range(1,i+1) ], axis=0)

    start95 = samples_sums.quantile(0.025)
    end95 = samples_sums.quantile(0.975)
    medians = samples_sums.median()
    means = samples_sums.mean()
    
    sum_logs = np.log(samples_sums)
    sum_log_means = np.mean(sum_logs)
    sum_log_stds = np.std(sum_logs)
    
    """
    for i in range(1,8):
        bins = int(samples_sums[i].max() - samples_sums[i].min())
        name = row["name"][i]
        plt.title(f"{name} bins = {bins}")
        plt.hist(samples_sums[i], bins=bins)
        #plt.axvline(x=row["fin_real"][i], color="r")        
        plt.axvline(x=medians[i], color="g")
        plt.axvline(x=means[i], color="yellow")
        plt.show()    
    """
    
    """
    bins = int( (samples_sums.max().max() - samples_sums.min().min()) / 5) 
    plt.figure(figsize=(20, 6))
    plt.title(f"Whole team, bins = {bins}")
    plt.hist([samples_sums[1], samples_sums[2], samples_sums[3], samples_sums[4], samples_sums[5], samples_sums[6], samples_sums[7]], bins=bins)
    for i in range(1,8):
        #plt.axvline(x=row["fin_real"][i], color="r")
        plt.axvline(x=medians[i], color="g")

    plt.show()
    """
    
    fin_start95_dict = {f"fin_start95_{leg}" : start95.values[leg-1] for leg in range(1,8)}
    fin_end95_dict = {f"fin_end95_{leg}" : end95.values[leg-1] for leg in range(1,8)}
    fin_median_dict = {f"fin_median_{leg}" : medians.values[leg-1] for leg in range(1,8)}
    fin_mean_dict = {f"fin_mean_{leg}" : means.values[leg-1] for leg in range(1,8)}
    fin_sum_log_means_dict = {f"fin_sum_log_mean_{leg}" : sum_log_means.values[leg-1] for leg in range(1,8)}
    fin_sum_log_stds_dict = {f"fin_sum_log_std_{leg}" : sum_log_stds.values[leg-1] for leg in range(1,8)}
    new_cols = {**fin_start95_dict, **fin_end95_dict, **fin_median_dict, **fin_mean_dict, **fin_sum_log_means_dict, **fin_sum_log_stds_dict}

    #print(start95.values)
    #print(new_cols)
    return pd.Series(new_cols)

relay_estimates = by_teams.apply(simulate_relay_estimates, axis=1)
relay_estimates.head()

,fin_start95_1,fin_start95_2,fin_start95_3,fin_start95_4,fin_start95_5,fin_start95_6,fin_start95_7,fin_end95_1,fin_end95_2,fin_end95_3,...,fin_sum_log_mean_5,fin_sum_log_mean_6,fin_sum_log_mean_7,fin_sum_log_std_1,fin_sum_log_std_2,fin_sum_log_std_3,fin_sum_log_std_4,fin_sum_log_std_5,fin_sum_log_std_6,fin_sum_log_std_7
team_id,,,,,,,,,,,,,,,,,,,,,
3.0,55.383496,122.216315,193.874995,246.711450,299.415646,360.284725,447.200087,83.378700,164.703838,243.982948,...,5.787746,5.959401,6.162848,0.102922,0.076640,0.058421,0.051696,0.043975,0.037385,0.031237
5.0,61.064480,126.448663,197.152214,255.525615,313.570274,386.487927,471.679024,67.382527,154.635834,239.777047,...,5.825760,6.027526,6.215378,0.025041,0.051559,0.049808,0.042074,0.040717,0.036758,0.031075
6.0,51.953436,125.127763,202.842856,257.505371,312.348141,380.230955,473.922255,97.424926,188.947945,269.898284,...,5.849441,6.040683,6.245587,0.160246,0.104389,0.072535,0.061800,0.054720,0.051104,0.043759
8.0,52.224874,126.323775,199.552166,252.927025,307.213167,369.429379,456.329614,80.828058,171.222230,246.413473,...,5.802014,5.986357,6.189310,0.110984,0.078002,0.054180,0.044694,0.038469,0.038986,0.034012
11.0,57.221458,126.330617,196.937265,248.236204,297.496460,363.318761,452.599555,80.800633,164.027150,242.034563,...,5.789502,5.976417,6.187323,0.087599,0.067063,0.053081,0.043632,0.049350,0.042708,0.037329

In [702]:
len(relay_estimates)
#relay_estimates[["fin_sum_log_mean_1", "fin_sum_log_std_1", "fin_sum_log_mean_2", "fin_sum_log_std_2", "fin_sum_log_mean_3", "fin_sum_log_std_3"]]

1461

In [703]:
# Flatten the troublesome multi-index to field_{leg} etc...
by_teams_flat = by_teams.copy()
by_teams_flat.columns = [f'{x[0]}_{x[1]}' for x in by_teams_flat.columns]
by_teams_flat.reset_index()

,team_id,team_1,team_2,team_3,team_4,team_5,team_6,team_7,team_base_name_1,team_base_name_2,...,ind_mean_5,ind_mean_6,ind_mean_7,ind_median_1,ind_median_2,ind_median_3,ind_median_4,ind_median_5,ind_median_6,ind_median_7
0,3.0,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö,Tampereen Pyrintö,...,53.411364,61.058061,87.339752,67.715767,73.400057,75.555759,55.021214,53.347510,61.026089,87.281419
1,5.0,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK,Halden SK,...,62.097304,75.794950,85.633899,64.133501,75.142332,77.273814,59.881118,61.654866,75.521582,85.578863
2,6.0,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat,Helsingin Suunnistajat,...,56.917205,73.143192,95.454671,71.067530,81.893692,79.259454,56.622836,56.567705,72.479759,95.225971
3,8.0,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät,Hiidenkiertäjät,...,55.117340,67.175768,89.509771,64.842688,81.656738,74.557289,54.048333,55.029472,66.579191,89.286199
4,11.0,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne,OK Linne,...,56.721972,67.114796,92.568771,68.047577,75.630890,74.017768,51.993243,55.593390,66.933450,92.321787
5,13.0,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot,Vehkalahden Veikot,...,55.101333,72.915405,95.417328,71.504227,74.174520,85.982990,57.192691,55.006088,72.486686,94.986823
6,14.0,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima,Ikaalisten Nouseva-Voima,...,62.576465,66.628415,102.489651,70.737369,77.901033,84.792953,54.158064,62.080109,66.525176,101.902216
7,15.0,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä,Vaajakosken Terä,...,58.325239,67.159586,95.230899,65.156383,69.936300,79.595441,51.979770,57.600834,66.807875,95.037990
8,17.0,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving,IL Tyrving,...,57.333536,67.761076,84.976476,65.716365,72.341834,72.698226,53.732789,57.079184,67.619799,84.945242
9,18.0,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK,Nydalens SK,...,50.992857,65.046605,94.260852,69.885691,77.440836,76.428838,55.973405,50.808000,64.810800,93.949004
10,20.0,Ol Norska 1,Ol Norska 1,Ol Norska 1,Ol Norska 1,Ol Norska 1,Ol Norska 1,Ol Norska 1,Ol Norska,Ol Norska,...,67.481616,69.687017,89.815552,76.561403,83.756426,83.105220,57.284005,67.366112,69.627537,89.489700
11,23.0,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL,Lillomarka OL,...,62.420170,75.043866,99.447056,68.730625,90.487600,77.493365,53.892610,62.145386,74.922140,99.161863
12,26.0,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI,NTNUI,...,61.617233,72.004349,101.795724,68.011089,76.987816,80.864879,66.259730,61.393158,71.633572,101.693527
13,27.0,OK Trian 1,OK Trian 1,OK Trian 1,OK Trian 1,OK Trian 1,OK Trian 1,OK Trian 1,OK Trian,OK Trian,...,56.963524,74.712293,91.941831,69.134260,72.753672,79.967540,58.101167,56.701128,74.573305,91.364098
14,28.0,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri,Angelniemen Ankkuri,...,58.784104,67.740436,108.455636,85.074000,81.385672,79.706644,55.722948,58.474682,67.436225,108.060920
15,29.0,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti,Rajamäen Rykmentti,...,61.697679,44.398814,108.502815,69.512068,76.243466,79.236689,60.368493,61.473047,30.991108,108.107773
16,30.0,Hiisirasti 1,Hiisirasti 1,Hiisirasti 1,Hiisirasti 1,Hiisirasti 1,Hiisirasti 1,Hiisirasti 1,Hiisirasti,Hiisirasti,...,60.674104,78.023954,96.145912,77.758241,90.316768,80.917827,57.050815,60.079325,77.155223,95.866932
17,32.0,OK Orion 1,OK Orion 1,OK Orion 1,OK Orion 1,OK Orion 1,OK Orion 1,OK Orion 1,OK Orion,OK Orion,...,58.861257,76.690217,97.081819,78.620226,74.145082,81.015163,58.979693,58.646700,76.410671,96.672657
18,34.0,IGTISA 1,IGTISA 1,IGTISA 1,IGTISA 1,IGTISA 1,IGTISA 1,IGTISA 1,IGTISA,IGTISA,...,61.378507,66.522118,95.112096,68.377080,75.948583,79.729560,58.551459,61.375255,66.347408,94.820832
19,35.0,OLV Baselland 1,OLV Baselland 1,OLV Baselland 1,OLV Baselland 1,OLV Baselland 1,OLV Baselland 1,OLV Baselland 1,OLV Baselland,OLV Baselland,...,57.324702,61.586819,86.896183,62.876000,76.362300,83.038686,53.400600,57.115500,61.538667,86.667308
20,37.0,Järla Orientering 1,Järla Orientering 1,Järla Orientering 1,Järla Orientering 1,Järla Orientering 1,Järla Orientering 1,Järla Orientering 1,Järla Orientering,Järla Orientering,...,58.862402,78.894655,95.667554,69.616274,69.794621,84.531260,57.710983,58.602492,78.501248,95.300935
21,39.0,Tampereen Pyrintö 2,Tampereen Pyrintö 2,Tampereen Pyrintö 2,Tampereen Pyrintö 2,Tampereen Pyrintö 2,Tampereen Pyrintö 2,Tampereen Pyrintö 2,Tampereen Pyrintö,Tampereen Pyrintö,...,59.982690,72.765821,90.185885,71.083504,76.437073,93.258902,66.074821,59.631481,72.622017,90.088718
22,42.0,NTNUI 2,NTNUI 2,NTNUI 2,NTNUI 2,NTNUI 2,NTNUI 2,NTNUI 2,NTNUI,NTNUI,...,61.635344,81.823769,102.047750,66.363000,106.680289,81.658879,57.849225,61.446068,81.525486,101.699044
23,44.0,Hiidenkiertäjät 2,Hiidenkiertäjät 2,Hiidenkiertäjät 2,Hiidenkiertäjät 2,Hiidenkiertäjät 2,Hiidenkiertäjät 2,Hiidenkiertäjät 2,Hiidenkiertäjät,Hiidenkiertäjät,...,53.338406,77.091506,114.316330,68.933963,80.438234,89.996186,57.158965,52.866853,76.809174,113.565983
24,45.0,Kangasala SK 1,Kangasala SK 1,Kangasala SK 1,Kangasala SK 1,Kangasala SK 1,Kangasala SK 1,Kangasala SK 1,Kangasala SK,Kangasala SK,...,55.960051,78.126706,99.357603,67.839808,78.712081,86.917258,57.561386,55.882663,77.339013,99.005098
25,46.0,Vaajakosken Terä 2,Vaajakosken Terä 2,Vaajakosken Terä 2,Vaajakosken Terä 2,Vaajakosken Terä 2,Vaajakosken Terä 2,Vaajakosken Terä 2,Vaajakosken Terä,Vaajakosken Terä,...,55.558227,68.245734,102.708722,84.755468,74.692660,82.977179,58.273064,55.397196,68.086005,102.171541
26,47.0,Halden SK 2,Halden SK 2,Halden SK 2,Halden SK 2,Halden SK 2,Halden SK 2,Halden SK 2,Halden SK,Halden SK,...,58.590506,77.192157,97.959395,78.333367,84.834771,91.151555,59.797213,58.422549,76.909124,97.380234
27,48.0,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna,IK Hakarpspojkarna,...,57.620115,72.085196,99.693926,73.539623,83.708899,87.999761,53.900829,57.568951,71.958190,98.969351
28,50.0,OK Tisaren 1,OK Tisaren 1,OK Tisaren 1,OK Tisaren 1,OK Tisaren 1,OK Tisaren 1,OK Tisaren 1,OK Tisaren,OK Tisaren,...,62.263756,86.482876,109.498330,68.562242,75.439289,91.270168,62.035192,62.035192,86.075668,109.096373
29,54.0,Stora Tuna OK 1,Stora Tuna OK 1,Stora Tuna OK 1,Stora Tuna OK 1,Stora Tuna OK 1,Stora Tuna OK 1,Stora Tuna OK 1,Stora Tuna OK,Stora Tuna OK,...,62.372169,77.427520,109.688986,81.108307,84.999989,91.428560,62.142849,62.142849,77.142847,109.285700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1859.0,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin,Team Kotiinpaluu Jotenkin,...,136.811379,169.834816,240.599322,171.817788,185.875607,199.933426,135.892250,135.892250,168.693828,238.982923
1432,1860.0,Musta Neliö 3,Musta Neliö 3,Musta Neliö 3,Musta Neliö 3,Musta Neliö 3,Musta Neliö 3,Musta Neliö 3,Musta Neliö,Musta Neliö,...,136.870963,241.088552,240.704108,112.551223,183.688400,152.332643,135.951169,135.951169,239.468400,239.086539
1433,1861.0,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67,Kadettikurssi 67,...,136.930574,169.982781,200.810642,171.966811,136.359487,132.648630,136.010114,136.010114,168.840141,200.224911
1434,1862.0,OK kunto OK 1,OK kunto OK 1,OK kunto OK 1,OK kunto OK 1,OK kunto OK 1,OK kunto OK 1,OK kunto OK 1,OK kunto OK,OK kunto OK,...,109.298100,156.130219,157.743024,172.041371,180.903790,145.063558,99.648309,109.296047,156.035099,157.635819
1435,1863.0,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs,Suomenlahden merivartiostoHelRtOs,...,137.049872,170.130875,175.930231,172.115963,186.198178,135.398400,136.128080,136.128080,168.986582,173.546842
1436,1864.0,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut,Sallan Karhut,...,161.844670,138.176034,241.123709,172.190587,168.095974,200.367229,147.902312,159.970956,137.246400,239.501453
1437,1866.0,Supertalentit 1,Supertalentit 1,Supertalentit 1,Supertalentit 1,Supertalentit 1,Supertalentit 1,Supertalentit 1,Supertalentit,Supertalentit,...,137.229014,170.353259,241.333784,172.339933,186.440473,200.541013,136.305220,136.305220,169.206480,239.709180
1438,1868.0,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat,Tuomenmarjat,...,176.266066,121.388832,241.544042,172.489409,128.403600,200.714949,84.987235,175.078800,120.571200,239.917087
1439,1869.0,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW,HattikW,...,137.408391,170.575934,241.649240,102.914555,186.683084,200.801973,136.482591,136.482591,169.426665,240.021108
1440,1870.0,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix,Kerkesix,...,83.167653,170.650224,241.754484,95.299434,119.890630,113.471102,89.577023,83.142194,169.500123,240.125175
1441,1872.0,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät,Rinnerähmät,...,67.679932,170.798900,241.965109,172.788750,186.926011,119.488000,136.660193,67.567986,169.647136,240.333443
1442,1873.0,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18,Spessut Pummaajat -18,...,137.647926,170.873287,242.070491,172.863666,187.007057,201.150447,136.719445,136.719445,169.720690,240.437644
1443,1874.0,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat,Keihäsmatkat,...,99.104611,148.054791,242.175918,172.938614,133.153963,137.926739,89.322900,99.086950,146.904242,240.541891
1444,1875.0,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha,Team Maha,...,125.903550,189.349158,242.281392,95.755000,187.169254,201.324911,94.853617,125.053800,188.071200,240.646183
1445,1877.0,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret,Koskenkorvan Kisattaret,...,137.887879,137.896830,178.394011,98.044718,187.331591,201.499527,99.406200,136.956709,136.965600,177.189300
1446,1878.0,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo,Pinkki Dynamo,...,137.947933,171.245709,242.598088,105.716101,187.412813,201.586891,137.016090,137.016090,170.088939,240.959331
1447,1879.0,EUOC 1,EUOC 1,EUOC 1,EUOC 1,EUOC 1,EUOC 1,EUOC 1,EUOC,EUOC,...,138.008012,171.320291,120.082881,173.313846,78.245176,93.693993,65.963096,137.075496,170.162685,119.536185
1448,1880.0,EUOC 2,EUOC 2,EUOC 2,EUOC 2,EUOC 2,EUOC 2,EUOC 2,EUOC,EUOC,...,132.807031,171.394906,242.809450,108.414739,187.575362,101.158400,50.581800,131.909400,170.236463,241.168322
1449,1881.0,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren,OK Tisaren,...,138.128251,171.469553,242.915199,77.396000,187.656689,201.849212,137.194386,137.194386,170.310272,241.272886
1450,1882.0,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot,Tunkiomadot,...,122.576761,171.544232,243.020995,153.934000,187.738051,118.107577,137.253870,121.747800,170.384114,241.377495
1451,1887.0,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj,RPW2018 Yj,...,124.461214,151.352435,193.055697,140.026653,153.955496,161.908473,108.461563,123.618300,149.774652,191.997963
1452,1888.0,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta,Espoon Suunta,...,136.462017,135.739037,162.069069,91.717804,104.922307,133.995714,98.208094,135.724022,134.362421,160.709003
1453,1889.0,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit,IC-Electrofit,...,104.805844,172.067901,243.762860,174.066753,120.799010,202.550403,137.670977,104.775556,170.901903,242.111029
1454,1890.0,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi,SK Vuoksi,...,140.851363,172.142842,243.869026,98.181104,101.065316,202.638223,137.730667,138.571220,170.976001,242.216001
1455,1891.0,KRIK Finland 1,KRIK Finland 1,KRIK Finland 1,KRIK Finland 1,KRIK Finland 1,KRIK Finland 1,KRIK Finland 1,KRIK Finland,KRIK Finland,...,138.731018,124.430894,132.865186,174.217726,188.471904,202.726081,137.790383,137.790383,123.968982,132.855157
1456,1892.0,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai,käpylä maanantai,...,138.791439,155.353240,244.081496,109.282626,188.553620,202.813977,137.850125,137.850125,154.299600,242.426082
1457,1894.0,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI,NTNUI,...,138.912361,107.065802,244.294152,174.444432,97.803044,202.989884,137.969687,137.969687,107.039313,242.636346
1458,1895.0,Kangasala SK 6,Kangasala SK 6,Kangasala SK 6,Kangasala SK 6,Kangasala SK 6,Kangasala SK 6,Kangasala SK 6,Kangasala SK,Kangasala SK,...,102.156745,126.464876,134.447801,101.664347,115.227108,132.955707,91.273297,101.515699,125.692788,134.156083
1459,1896.0,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK,Kangasala SK,...,100.679832,111.075213,200.411171,123.508704,137.077202,130.893305,94.381221,98.633808,110.283170,198.533840
1460,1897.0,Kangasala SK 8,Kangasala SK 8,Kangasala SK 8,Kangasala SK 8,Kangasala SK 8,Kangasala SK 8,Kangasala SK 8,Kangasala SK,Kangasala SK,...,111.768902,118.826092,167.020931,105.987300,188.962731,126.811054,76.629600,111.744030,118.483658,165.073364

In [704]:
estimates = pd.concat([by_teams_flat, relay_estimates], axis=1, join='inner')

In [705]:
# Convert minutes to date and times
start_timestamp = pd.Timestamp(year = 2018, month = 6, day = 16, hour = 23)

for leg in range(1,8):
    estimates[f"fint_median_{leg}"] = pd.to_datetime(estimates[f"fin_median_{leg}"] * 60, unit = "s", origin= start_timestamp)
    estimates[f"fint_start95_{leg}"] = pd.to_datetime(estimates[f"fin_start95_{leg}"] * 60, unit = "s", origin= start_timestamp)
    estimates[f"fint_end95_{leg}"] = pd.to_datetime(estimates[f"fin_end95_{leg}"] * 60, unit = "s", origin= start_timestamp)

In [706]:
# Sort teams by estimated total time 
estimates = estimates.sort_values("fin_median_7")

estimates.to_csv('data/team_estimates_ju2018.tsv', sep="\t")

In [707]:
estimates[["team_1", "fin_median_7"]].head(10)

                       team_1  fin_median_7
team_id
3.0       Tampereen Pyrintö 1    474.479075
17.0             IL Tyrving 1    474.901934
35.0          OLV Baselland 1    482.126532
11.0               OK Linne 1    486.080085
8.0         Hiidenkiertäjät 1    487.445455
15.0       Vaajakosken Terä 1    488.083652
18.0            Nydalens SK 1    491.140926
29.0     Rajamäen Rykmentti 1    492.398137
5.0               Halden SK 1    500.034980
27.0               OK Trian 1    503.784524

In [708]:
teams_to_follow = estimates[estimates['team_1'].str.contains("Reak") | estimates['team_1'].str.contains("Puskasil") | estimates['team_1'].str.contains("Rastihaukat")]
teams_to_follow[["team_1", "fin_median_7", "fin_start95_7", "fin_end95_7"]]

                        team_1  fin_median_7  fin_start95_7  fin_end95_7
team_id
429.0    Reaktor Innovations 1    744.378617     698.683599   796.622805
568.0            Rastihaukat 1    751.558274     698.442400   809.801107
1270.0   Reaktor Innovations 2    883.551235     793.614558   988.338459
1246.0           Rastihaukat 2    909.769430     833.081557   994.333183
1131.0       Puskasilimät OK 1    914.191071     856.234733   976.539486

In [709]:
leg_1_cols = list(filter(lambda c: "_1" in c,estimates.columns.values))
column_base_names = list(map(lambda c: c[:-2], leg_1_cols))
runner_estimates = pd.wide_to_long(estimates.reset_index(), stubnames=column_base_names, i ="team_id", j="leg", sep = "_").sort_values(by=['team_id', 'leg'])
runner_estimates = runner_estimates.drop(['team_base_name', 'estimated_log_means', 'estimated_log_stdevs'], axis=1)
runner_estimates.head()

                            team  leg_dist               name  \
team_id leg
3.0     1    Tampereen Pyrintö 1      11.0       Otto Simosas
        2    Tampereen Pyrintö 1      11.9       Elias Kuukka
        3    Tampereen Pyrintö 1      12.8     Johan Runesson
        4    Tampereen Pyrintö 1       8.7       Anton Kuukka
        5    Tampereen Pyrintö 1       8.7  Severi Kymäläinen

             history_log_means  history_log_stdevs  log_means  log_stdevs  \
team_id leg
3.0     1             1.817424            0.101691   1.817424    0.101691
        2             1.819386            0.111737   1.819386    0.111737
        3             1.775426            0.086651   1.775426    0.086651
        4             1.844396            0.114598   1.844396    0.114598
        5             1.813504            0.048913   1.813504    0.048913

             ind_95_start  ind_95_end   ind_mean  ind_median  fin_start95  \
team_id leg
3.0     1       55.479226   82.651207  68.066799   67.715767    55.383496
        2       58.963824   91.370742  73.859696   73.400057   122.216315
        3       63.754404   89.541622  75.839943   75.555759   193.874995
        4       43.952596   68.877252  55.383689   55.021214   246.711450
        5       48.470747   58.714937  53.411364   53.347510   299.415646

              fin_end95  fin_median    fin_mean  fin_sum_log_mean  \
team_id leg
3.0     1     83.378700   67.809902   68.138156          4.216241
        2    164.703838  141.436151  141.974458          4.952709
        3    243.982948  217.409832  217.871802          5.382200
        4    301.510271  272.557978  273.177262          5.608784
        5    355.299430  326.009013  326.592663          5.787746

             fin_sum_log_std                fint_median  \
team_id leg
3.0     1           0.102922 2018-06-17 00:07:48.594122
        2           0.076640 2018-06-17 01:21:26.169085
        3           0.058421 2018-06-17 02:37:24.589939
        4           0.051696 2018-06-17 03:32:33.478685
        5           0.043975 2018-06-17 04:26:00.540767

                          fint_start95                 fint_end95
team_id leg
3.0     1   2018-06-16 23:55:23.009760 2018-06-17 00:23:22.721970
        2   2018-06-17 01:02:12.978916 2018-06-17 01:44:42.230302
        3   2018-06-17 02:13:52.499687 2018-06-17 03:03:58.976885
        4   2018-06-17 03:06:42.687000 2018-06-17 04:01:30.616288
        5   2018-06-17 03:59:24.938789 2018-06-17 04:55:17.965786

In [710]:
runner_estimates.to_csv('data/runner_estimates_ju2018.tsv', sep="\t")

In [711]:
runner_estimates[runner_estimates['team'].str.contains("Reak")][["name", "log_means", "log_stdevs", "ind_median"]]

                           name  log_means  log_stdevs  ind_median
team_id leg
429.0   1        Mikko Peltonen   2.184951    0.081299   97.792383
        2       Pasi Huhtiniemi   2.222239    0.072482  109.812846
        3          Joni Freeman   2.130879    0.113846  107.805019
        4       Tuomas Kareinen   2.293240    0.160070   86.190780
        5       Janne Vaittinen   2.324384    0.039861   88.917301
        6         Olavi Kanerva   2.128667    0.092121   90.759473
        7         Jyri Kytömäki   2.355319    0.048494  161.284847
1270.0  1    Antti-Ville Jokela   2.363116    0.106230  116.864000
        2    Karri-Pekka Laakso   2.414677    0.081841  133.115223
        3    Oskari Pirttikoski   2.637533    0.194072  178.927107
        4         Jeppe Koivula   2.043968    0.073759   67.174301
        5          Tommi Simell   2.493221    0.106230  105.271651
        6             Mikko Apo   2.406347    0.186769  119.808344
        7           Aki Kaivola   2.325227    0.106230  156.503700

In [712]:
for_print = runner_estimates.copy()
for_print = for_print.reset_index()
for_print = for_print.set_index('team_id')
for_print = for_print.round(2)
for_print.fint_median = for_print.fint_median.dt.strftime("%H:%M")
for_print.fint_start95 = for_print.fint_start95.dt.strftime("%H:%M")
for_print.fint_end95 = for_print.fint_end95.dt.strftime("%H:%M")
for_print = for_print[['team',
 'leg',
 'name',
 'ind_median', 
 'ind_95_start', 
 'ind_95_end', 
 'fin_median',
 'fint_median',
 'fint_start95',
 'fint_end95']]
for_print.head()

,team,leg,name,ind_median,ind_95_start,ind_95_end,fin_median,fint_median,fint_start95,fint_end95
team_id,,,,,,,,,,
3.0,Tampereen Pyrintö 1,1,Otto Simosas,67.72,55.48,82.65,67.81,00:07,23:55,00:23
3.0,Tampereen Pyrintö 1,2,Elias Kuukka,73.40,58.96,91.37,141.44,01:21,01:02,01:44
3.0,Tampereen Pyrintö 1,3,Johan Runesson,75.56,63.75,89.54,217.41,02:37,02:13,03:03
3.0,Tampereen Pyrintö 1,4,Anton Kuukka,55.02,43.95,68.88,272.56,03:32,03:06,04:01
3.0,Tampereen Pyrintö 1,5,Severi Kymäläinen,53.35,48.47,58.71,326.01,04:26,03:59,04:55

In [713]:
for_print.to_csv('for_print_ju2018.tsv', sep="\t")

In [714]:
for_print[for_print['team'].str.contains("Reak") | for_print['team'].str.contains("Puskasil") | for_print['team'].str.contains("Rastihaukat 2")]

,team,leg,name,ind_median,ind_95_start,ind_95_end,fin_median,fint_median,fint_start95,fint_end95
team_id,,,,,,,,,,
429.0,Reaktor Innovations 1,1,Mikko Peltonen,97.79,83.39,114.68,97.68,00:37,00:23,00:54
429.0,Reaktor Innovations 1,2,Pasi Huhtiniemi,109.81,95.27,126.58,207.89,02:27,02:06,02:51
429.0,Reaktor Innovations 1,3,Joni Freeman,107.81,86.24,134.75,315.84,04:15,03:45,04:51
429.0,Reaktor Innovations 1,4,Tuomas Kareinen,86.19,62.98,117.95,402.76,05:42,05:04,06:29
429.0,Reaktor Innovations 1,5,Janne Vaittinen,88.92,82.24,96.14,491.90,07:11,06:32,07:59
429.0,Reaktor Innovations 1,6,Olavi Kanerva,90.76,75.77,108.72,582.91,08:42,08:00,09:32
429.0,Reaktor Innovations 1,7,Jyri Kytömäki,161.28,146.66,177.37,744.38,11:24,10:38,12:16
1131.0,Puskasilimät OK 1,1,Tuomas Ketonen,124.33,101.43,152.41,124.68,01:04,00:42,01:32
1131.0,Puskasilimät OK 1,2,Petri Miettinen,131.06,122.12,140.64,256.00,03:16,02:51,03:45
1131.0,Puskasilimät OK 1,3,Jaakko Havola,146.75,135.82,158.57,402.98,05:42,05:15,06:14
1131.0,Puskasilimät OK 1,4,Joonas Kekäle,110.58,90.20,135.55,513.91,07:33,06:58,08:13
1131.0,Puskasilimät OK 1,5,Joonas Mikkonen,99.12,80.85,121.50,613.79,09:13,08:33,09:57
1131.0,Puskasilimät OK 1,6,Esko Harjama,123.04,100.37,150.83,737.66,11:17,10:31,12:08
1131.0,Puskasilimät OK 1,7,Anssi Pesonen,175.60,143.25,215.26,914.19,14:14,13:16,15:16
1246.0,Rastihaukat 2,1,Antero Aunesluoma,119.13,96.81,146.59,119.23,00:59,00:36,01:26
1246.0,Rastihaukat 2,2,Janne Takala,113.32,83.61,153.59,233.13,02:53,02:14,03:40
1246.0,Rastihaukat 2,3,Kimmo Tikka,157.01,124.74,197.63,391.66,05:31,04:39,06:31
1246.0,Rastihaukat 2,4,Jari Siniranta,122.44,92.75,161.63,515.23,07:35,06:34,08:44
1246.0,Rastihaukat 2,5,Ove Nilsson,108.27,92.15,127.22,623.82,09:23,08:20,10:35
1246.0,Rastihaukat 2,6,Mika Tapanainen,129.33,105.10,159.14,754.02,11:34,10:25,12:49
1246.0,Rastihaukat 2,7,Teemu Matilainen,154.83,124.30,192.84,909.77,14:09,12:53,15:34
1270.0,Reaktor Innovations 2,1,Antti-Ville Jokela,116.86,94.90,143.91,116.99,00:56,00:35,01:24
1270.0,Reaktor Innovations 2,2,Karri-Pekka Laakso,133.12,113.39,156.28,250.69,03:10,02:39,03:44
1270.0,Reaktor Innovations 2,3,Oskari Pirttikoski,178.93,122.32,261.74,430.53,06:10,05:03,07:34
1270.0,Reaktor Innovations 2,4,Jeppe Koivula,67.17,58.13,77.62,498.18,07:18,06:11,08:43
1270.0,Reaktor Innovations 2,5,Tommi Simell,105.27,85.48,129.64,604.42,09:04,07:53,10:31
1270.0,Reaktor Innovations 2,6,Mikko Apo,119.81,83.08,172.77,726.38,11:06,09:43,12:44
1270.0,Reaktor Innovations 2,7,Aki Kaivola,156.50,127.09,192.73,883.55,13:43,12:13,15:28

In [715]:
for_web = runner_estimates.copy().reset_index()
for_web = for_web[[
 'team_id',
 'leg',
 'team',
 'name',
 'fin_sum_log_mean', 
 'fin_sum_log_std',
 'fin_median',
 'fint_median']]
for_web

,team_id,leg,team,name,fin_sum_log_mean,fin_sum_log_std,fin_median,fint_median
0,3.0,1,Tampereen Pyrintö 1,Otto Simosas,4.216241,0.102922,67.809902,2018-06-17 00:07:48.594122000
1,3.0,2,Tampereen Pyrintö 1,Elias Kuukka,4.952709,0.076640,141.436151,2018-06-17 01:21:26.169085000
2,3.0,3,Tampereen Pyrintö 1,Johan Runesson,5.382200,0.058421,217.409832,2018-06-17 02:37:24.589939000
3,3.0,4,Tampereen Pyrintö 1,Anton Kuukka,5.608784,0.051696,272.557978,2018-06-17 03:32:33.478685000
4,3.0,5,Tampereen Pyrintö 1,Severi Kymäläinen,5.787746,0.043975,326.009013,2018-06-17 04:26:00.540767000
5,3.0,6,Tampereen Pyrintö 1,Aleksi Niemi,5.959401,0.037385,387.030723,2018-06-17 05:27:01.843399000
6,3.0,7,Tampereen Pyrintö 1,Florian Howald,6.162848,0.031237,474.479075,2018-06-17 06:54:28.744524000
7,5.0,1,Halden SK 1,Emil Wingstedt,4.161035,0.025041,64.131176,2018-06-17 00:04:07.870590000
8,5.0,2,Halden SK 1,Fredrik Eliasson,4.936547,0.051559,139.154392,2018-06-17 01:19:09.263498999
9,5.0,3,Halden SK 1,Thomas Natvig Årstad,5.379455,0.049808,216.663619,2018-06-17 02:36:39.817118000
10,5.0,4,Halden SK 1,Alexander Chepelin,5.623728,0.042074,276.670065,2018-06-17 03:36:40.203904000
11,5.0,5,Halden SK 1,Riccardo Scalet,5.825760,0.040717,338.647067,2018-06-17 04:38:38.823991000
12,5.0,6,Halden SK 1,Andreas Rüedlinger,6.027526,0.036758,414.335773,2018-06-17 05:54:20.146367000
13,5.0,7,Halden SK 1,Magne Dähli,6.215378,0.031075,500.034980,2018-06-17 07:20:02.098824000
14,6.0,1,Helsingin Suunnistajat 1,Tuomas Heikkilä,4.262693,0.160246,70.963219,2018-06-17 00:10:57.793133000
15,6.0,2,Helsingin Suunnistajat 1,Topi Syrjäläinen,5.034877,0.104389,153.697925,2018-06-17 01:33:41.875484000
16,6.0,3,Helsingin Suunnistajat 1,Einari Heinaro,5.452459,0.072535,233.355604,2018-06-17 02:53:21.336254000
17,6.0,4,Helsingin Suunnistajat 1,Arttu Syrjäläinen,5.670366,0.061800,289.947034,2018-06-17 03:49:56.822040000
18,6.0,5,Helsingin Suunnistajat 1,Ollipekka Heikkilä,5.849441,0.054720,347.006092,2018-06-17 04:47:00.365547000
19,6.0,6,Helsingin Suunnistajat 1,Veli Kangas,6.040683,0.051104,420.160876,2018-06-17 06:00:09.652586000
20,6.0,7,Helsingin Suunnistajat 1,Olli Ojanaho,6.245587,0.043759,515.776338,2018-06-17 07:35:46.580290000
21,8.0,1,Hiidenkiertäjät 1,Mikko Patana,4.172209,0.110984,64.879922,2018-06-17 00:04:52.795320000
22,8.0,2,Hiidenkiertäjät 1,Eemeli Suominen,4.989560,0.078002,146.784736,2018-06-17 01:26:47.084133000
23,8.0,3,Hiidenkiertäjät 1,Leonid Novikov,5.401117,0.054180,221.561475,2018-06-17 02:41:33.688489000
24,8.0,4,Hiidenkiertäjät 1,Oskari Liukkonen,5.619837,0.044694,275.645745,2018-06-17 03:35:38.744684000
25,8.0,5,Hiidenkiertäjät 1,Matti Kivelä,5.802014,0.038469,330.721797,2018-06-17 04:30:43.307795000
26,8.0,6,Hiidenkiertäjät 1,Olli-Pekka Koistinen,5.986357,0.038986,397.792760,2018-06-17 05:37:47.565611000
27,8.0,7,Hiidenkiertäjät 1,Valentin Novikov,6.189310,0.034012,487.445455,2018-06-17 07:07:26.727284000
28,11.0,1,OK Linne 1,Vincent Coupat,4.219831,0.087599,67.990091,2018-06-17 00:07:59.405478000
29,11.0,2,OK Linne 1,Jakob Andersson,4.969554,0.067063,144.035786,2018-06-17 01:24:02.147146000
...,...,...,...,...,...,...,...,...
10197,1892.0,6,käpylä maanantai 1,Simo Ellilä,6.841730,0.049782,936.311252,2018-06-17 14:36:18.675148000
10198,1892.0,7,käpylä maanantai 1,Ville Hulkkonen,7.073839,0.046533,1180.146791,2018-06-17 18:40:08.807483000
10199,1894.0,1,NTNUI 5,Åsne Skram Trömborg,5.161025,0.117714,174.346835,2018-06-17 01:54:20.810111000
10200,1894.0,2,NTNUI 5,Marta Ulvensöen,5.608026,0.076098,272.160166,2018-06-17 03:32:09.609979000
10201,1894.0,3,NTNUI 5,Anne Eiken,6.167867,0.066569,477.108040,2018-06-17 06:57:06.482408000
10202,1894.0,4,NTNUI 5,Live Bredholdt Jörgensen,6.423562,0.058122,616.452271,2018-06-17 09:16:27.136284000
10203,1894.0,5,NTNUI 5,Nina Aasheim Birkeland,6.626870,0.051905,755.185264,2018-06-17 11:35:11.115864000
10204,1894.0,6,NTNUI 5,Aurora Fossöy,6.759593,0.045517,862.007512,2018-06-17 13:22:00.450728000
10205,1894.0,7,NTNUI 5,Ronja Björklund,7.008566,0.043541,1105.667057,2018-06-17 17:25:40.023443000
10206,1895.0,1,Kangasala SK 6,Eveliina Muukkonen,4.620264,0.092834,101.538676,2018-06-17 00:41:32.320573000
10207,1895.0,2,Kangasala SK 6,Miika Pietilä,5.380807,0.060558,217.168022,2018-06-17 02:37:10.081337000
10208,1895.0,3,Kangasala SK 6,Ville Siekkinen,5.858823,0.040823,350.167545,2018-06-17 04:50:10.052700000
10209,1895.0,4,Kangasala SK 6,Pekka Pietilä,6.091136,0.037536,441.800248,2018-06-17 06:21:48.014893000
10210,1895.0,5,Kangasala SK 6,Jani Joensuu,6.299105,0.037330,543.984920,2018-06-17 08:03:59.095182000
10211,1895.0,6,Kangasala SK 6,Esa Joensuu,6.507812,0.036574,670.262947,2018-06-17 10:10:15.776795000
10212,1895.0,7,Kangasala SK 6,Jenni Joensuu-Partanen,6.690637,0.032434,804.587164,2018-06-17 12:24:35.229819000
10213,1896.0,1,Kangasala SK 7,Esko Jalanto,4.816577,0.066992,123.511967,2018-06-17 01:03:30.718027000
10214,1896.0,2,Kangasala SK 7,Sami Sivunen,5.563471,0.062893,260.648452,2018-06-17 03:20:38.907091000
10215,1896.0,3,Kangasala SK 7,Erkki Laukkanen,5.972167,0.053081,392.117904,2018-06-17 05:32:07.074223000
10216,1896.0,4,Kangasala SK 7,Heimo Lahti,6.188453,0.045304,486.984173,2018-06-17 07:06:59.050367000
10217,1896.0,5,Kangasala SK 7,Markku Huikkola,6.375721,0.051021,586.698395,2018-06-17 08:46:41.903701000
10218,1896.0,6,Kangasala SK 7,Pekka Kannus,6.548974,0.047037,697.782116,2018-06-17 10:37:46.926951000
10219,1896.0,7,Kangasala SK 7,Antti Hyytiäinen,6.800697,0.047508,897.876984,2018-06-17 13:57:52.619062000
10220,1897.0,1,Kangasala SK 8,Juha Virta,4.663660,0.053894,106.048929,2018-06-17 00:46:02.935754000
10221,1897.0,2,Kangasala SK 8,Janne Juntunen,5.689114,0.077659,295.458306,2018-06-17 03:55:27.498363000
10222,1897.0,3,Kangasala SK 8,Jarmo Joutsensaari,6.048915,0.064813,423.096917,2018-06-17 06:03:05.815018000
10223,1897.0,4,Kangasala SK 8,Iiris Saarenpää,6.216659,0.057828,500.994107,2018-06-17 07:20:59.646397000
10224,1897.0,5,Kangasala SK 8,Jarkko Harju,6.418234,0.047421,612.539247,2018-06-17 09:12:32.354822000
10225,1897.0,6,Kangasala SK 8,Saku Suuriniemi,6.595621,0.041639,731.469008,2018-06-17 11:11:28.140494000
10226,1897.0,7,Kangasala SK 8,Tomi-Pekka Olkkonen,6.800374,0.044184,897.709639,2018-06-17 13:57:42.578351000

In [716]:
for_web.to_json('web-lib/for_web_ju2018.json', orient="records")