In [831]:
import pandas as pd
import numpy as np
from scipy.stats import lognorm
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error

In [832]:
in_file_name = 'data/grouped_paces_ju.tsv'
df_all = pd.read_csv(in_file_name, delimiter="\t")
history = df_all

In [833]:
order18 = pd.read_csv('data/running_order_j2018_ju.tsv', delimiter="\t")
order18 = order18[np.isfinite(order18.team_id)]

In [834]:
#paces = df.as_matrix(["pace_1", "pace_2", "pace_3", "pace_4", "pace_5", "pace_6"])
paces = history[["pace_1", "pace_2", "pace_3", "pace_4", "pace_5", "pace_6"]]
logs = np.log(paces)
means = np.nanmean(logs, axis=1)
stdevs = np.nanstd(logs, axis=1)
history = history.assign(log_means=pd.Series(means).values)
history = history.assign(log_stdevs=pd.Series(stdevs).values)

/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: Mean of empty slice
  after removing the cwd from sys.path.
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/numpy/lib/nanfunctions.py:1434: RuntimeWarning: Degrees of freedom <= 0 for slice.
  keepdims=keepdims)

In [835]:
# Estimate values for all, but only use them if no history is available
with_history = history[np.isfinite(history.pace_2)]
x = with_history.mean_team_id.values
x = x.reshape(len(x), 1)

log_means = with_history.log_means.values.reshape(len(with_history.log_means), 1)
log_means_model = linear_model.LinearRegression()
log_means_model.fit(x, log_means)

estimated_log_means = log_means_model.predict(order18.team_id.values.reshape(len(order18.team_id), 1))
order18 = order18.assign(estimated_log_means=estimated_log_means)

log_stdevs = with_history.log_stdevs.values.reshape(len(with_history.log_stdevs), 1)
log_stdevs_model = linear_model.LinearRegression()
log_stdevs_model.fit(x, log_stdevs)

estimated_log_stdevs = log_stdevs_model.predict(order18.team_id.values.reshape(len(order18.team_id), 1))
order18 = order18.assign(estimated_log_stdevs=estimated_log_stdevs)
order18.head()

,team_id,team,team_base_name,leg,leg_dist,name,estimated_log_means,estimated_log_stdevs
0,1,IFK Göteborg 1,IFK Göteborg,1,11.0,Max Peter Bejmer,1.943138,0.084941
1,1,IFK Göteborg 1,IFK Göteborg,2,11.9,Johan Högstarnd,1.943138,0.084941
2,1,IFK Göteborg 1,IFK Göteborg,3,12.8,Vetle Ruud Bråten,1.943138,0.084941
3,1,IFK Göteborg 1,IFK Göteborg,4,8.7,Jonas Pilblad,1.943138,0.084941
4,1,IFK Göteborg 1,IFK Göteborg,5,8.7,Jens Wängdahl,1.943138,0.084941

In [836]:
# Combine history with 2018 runners 
no_history_row = pd.DataFrame([[0,0]], columns=["log_means", "log_stdevs"])
def get_history_row(running_order_row):
    name = running_order_row["name"].lower()
    
    by_name = history[history['name'] == name]
    by_name_and_colon = history[history['name'].str.contains(name + ":", regex=False)]

    runners = by_name.append(by_name_and_colon)
    if(len(runners) == 1):
        return runners
    team_name = running_order_row["team_base_name"].upper()
    runners = runners[runners['teams'].str.contains(team_name, regex=False)]
    if(len(runners) == 1):
        return runners
    if(len(runners) == 0):
        return no_history_row
    print(f"name '{name}' team_name '{team_name}'")
    print(f"by_name {len(by_name)} by_name_and_colon {len(by_name_and_colon)} runners {len(runners)}")
    print(f"Duplicate runner {runners}")
    #print(f"TEAMS by_name_and_colon {by_name_and_colon['teams']}")
    return runners.sort_values("num_runs", ascending = False).head(1)

def get_estimate_params(running_order_row):
    history_row = get_history_row(running_order_row)
    #print(f"estimate_row log_means {history_row.log_means} {history_row.log_stdevs}")
    log_means = history_row.log_means.values[0]
    log_stdevs = history_row.log_stdevs.values[0]
    return pd.Series({"history_log_means": log_means, "history_log_stdevs": log_stdevs})

#order18 = order18[order18['team'].str.contains("Reak") | order18['team'].str.contains("Puskasil") | order18['team'].str.contains("Rastihaukat")]
estimate_params = order18.apply(lambda row: get_estimate_params(row), axis=1)
order18 = order18.assign(history_log_means = estimate_params.history_log_means)
order18 = order18.assign(history_log_stdevs = estimate_params.history_log_stdevs)

name 'anssi koirikivi' team_name 'RASTIIMI'
by_name 0 by_name_and_colon 3 runners 2
Duplicate runner       mean_team_id              teams                               name  \
1127         231.0  RASTIIMI - NONAME  anssi koirikivi:RASTIIMI - NONAME
1129         234.8           RASTIIMI           anssi koirikivi:RASTIIMI

      num_runs  num_valid_times  mean_pace  stdev  pace_1  pace_2  pace_3  \
1127         1                1      5.943  0.000   5.943     NaN     NaN
1129         5                5      7.469  0.585   6.846   7.222   8.536

      pace_4  pace_5  pace_6  log_means  log_stdevs
1127     NaN     NaN     NaN   1.782214    0.000000
1129   7.143   7.596     NaN   2.007769    0.075866
name 'petri laaksonen' team_name 'UNO SK'
by_name 0 by_name_and_colon 6 runners 2
Duplicate runner       mean_team_id            teams                             name  \
3977         611.0  UNO SK-HARRASTE  petri laaksonen:UNO SK-HARRASTE
3979         698.0           UNO SK           petri laaksonen:UNO SK

      num_runs  num_valid_times  mean_pace  stdev  pace_1  pace_2  pace_3  \
3977         1                1      8.749    0.0   8.749     NaN     NaN
3979         1                1      7.124    0.0   7.124     NaN     NaN

      pace_4  pace_5  pace_6  log_means  log_stdevs
3977     NaN     NaN     NaN   2.168939         0.0
3979     NaN     NaN     NaN   1.963469         0.0
name 'arto laaksonen' team_name 'UNO SK'
by_name 0 by_name_and_colon 6 runners 2
Duplicate runner       mean_team_id            teams                            name  num_runs  \
3984         611.0  UNO SK-HARRASTE  arto laaksonen:UNO SK-HARRASTE         1
3985         698.0           UNO SK           arto laaksonen:UNO SK         1

      num_valid_times  mean_pace  stdev  pace_1  pace_2  pace_3  pace_4  \
3984                1     10.423    0.0  10.423     NaN     NaN     NaN
3985                1      9.706    0.0   9.706     NaN     NaN     NaN

      pace_5  pace_6  log_means  log_stdevs
3984     NaN     NaN   2.344015         0.0
3985     NaN     NaN   2.272744         0.0
name 'panu kärkkäinen' team_name 'JÄMSÄN RETKI-VEIKOT'
by_name 0 by_name_and_colon 4 runners 2
Duplicate runner       mean_team_id                        teams  \
1841         570.0          JÄMSÄN RETKI-VEIKOT
1843         954.0  JÄMSÄN RETKI-VEIKOT/JUKOLA2

                                             name  num_runs  num_valid_times  \
1841          panu kärkkäinen:JÄMSÄN RETKI-VEIKOT         4                3
1843  panu kärkkäinen:JÄMSÄN RETKI-VEIKOT/JUKOLA2         1                1

      mean_pace  stdev  pace_1  pace_2  pace_3  pace_4  pace_5  pace_6  \
1841      9.109  1.401   7.938    8.31  11.079     NaN     NaN     NaN
1843      8.686  0.000   8.686     NaN     NaN     NaN     NaN     NaN

      log_means  log_stdevs
1841   2.198057    0.147556
1843   2.161713    0.000000
name 'antti jokinen' team_name 'HERMANNIN KÖÖRI'
by_name 0 by_name_and_colon 8 runners 2
Duplicate runner       mean_team_id                teams                               name  \
4807        1241.0      HERMANNIN KÖÖRI      antti jokinen:HERMANNIN KÖÖRI
4809        1493.0  DNA HERMANNIN KÖÖRI  antti jokinen:DNA HERMANNIN KÖÖRI

      num_runs  num_valid_times  mean_pace  stdev  pace_1  pace_2  pace_3  \
4807         1                1     28.290    0.0  28.290     NaN     NaN
4809         1                1     16.689    0.0  16.689     NaN     NaN

      pace_4  pace_5  pace_6  log_means  log_stdevs
4807     NaN     NaN     NaN   3.342508         0.0
4809     NaN     NaN     NaN   2.814750         0.0

In [837]:
order18['log_means'] = np.where(np.isfinite(order18["history_log_means"]) & order18["history_log_means"] > 0, order18["history_log_means"], order18["estimated_log_means"])
order18['log_stdevs'] = np.where(np.isfinite(order18["history_log_stdevs"]) & order18["history_log_stdevs"] > 0, order18["history_log_stdevs"], order18["estimated_log_stdevs"])
order18.head()

,team_id,team,team_base_name,leg,leg_dist,name,estimated_log_means,estimated_log_stdevs,history_log_means,history_log_stdevs,log_means,log_stdevs
0,1,IFK Göteborg 1,IFK Göteborg,1,11.0,Max Peter Bejmer,1.943138,0.084941,1.833561,0.157965,1.833561,0.157965
1,1,IFK Göteborg 1,IFK Göteborg,2,11.9,Johan Högstarnd,1.943138,0.084941,0.000000,0.000000,1.943138,0.084941
2,1,IFK Göteborg 1,IFK Göteborg,3,12.8,Vetle Ruud Bråten,1.943138,0.084941,1.748671,0.030981,1.748671,0.030981
3,1,IFK Göteborg 1,IFK Göteborg,4,8.7,Jonas Pilblad,1.943138,0.084941,1.803509,0.061865,1.803509,0.061865
4,1,IFK Göteborg 1,IFK Göteborg,5,8.7,Jens Wängdahl,1.943138,0.084941,1.802502,0.079207,1.802502,0.079207

In [838]:
# Calculate personal estimates
# s = sigma and scale = exp(mu).

log_means = np.exp(order18['log_means']) 
log_stdevs = order18['log_stdevs']

intervals95 = lognorm.interval(0.95, s = log_stdevs, scale = log_means)
means = lognorm.mean(s = log_stdevs, scale = log_means)
medians = lognorm.median(s = log_stdevs, scale = log_means)

In [839]:
order18 = order18.assign(ind_95_start = pd.Series(intervals95[0] * order18.leg_dist).values)
order18 = order18.assign(ind_95_end = pd.Series(intervals95[1] * order18.leg_dist).values)
order18 = order18.assign(ind_mean = pd.Series(means * order18.leg_dist).values)
order18 = order18.assign(ind_median = pd.Series(medians * order18.leg_dist).values)

In [840]:
by_teams = order18.set_index(["team_id", "leg"]).unstack()
by_teams.head()

                                     team                                    \
leg                                     1                                 2
team_id
1                          IFK Göteborg 1                    IFK Göteborg 1
2                                Koovee 1                          Koovee 1
3                     Tampereen Pyrintö 1               Tampereen Pyrintö 1
4        Södertälje Nykvarn Orientering 1  Södertälje Nykvarn Orientering 1
5                             Halden SK 1                       Halden SK 1

                                                                             \
leg                                     3                                 4
team_id
1                          IFK Göteborg 1                    IFK Göteborg 1
2                                Koovee 1                          Koovee 1
3                     Tampereen Pyrintö 1               Tampereen Pyrintö 1
4        Södertälje Nykvarn Orientering 1  Södertälje Nykvarn Orientering 1
5                             Halden SK 1                       Halden SK 1

                                                                             \
leg                                     5                                 6
team_id
1                          IFK Göteborg 1                    IFK Göteborg 1
2                                Koovee 1                          Koovee 1
3                     Tampereen Pyrintö 1               Tampereen Pyrintö 1
4        Södertälje Nykvarn Orientering 1  Södertälje Nykvarn Orientering 1
5                             Halden SK 1                       Halden SK 1

                                                           team_base_name  \
leg                                     7                               1
team_id
1                          IFK Göteborg 1                    IFK Göteborg
2                                Koovee 1                          Koovee
3                     Tampereen Pyrintö 1               Tampereen Pyrintö
4        Södertälje Nykvarn Orientering 1  Södertälje Nykvarn Orientering
5                             Halden SK 1                       Halden SK

                                                                         \
leg                                   2                               3
team_id
1                          IFK Göteborg                    IFK Göteborg
2                                Koovee                          Koovee
3                     Tampereen Pyrintö               Tampereen Pyrintö
4        Södertälje Nykvarn Orientering  Södertälje Nykvarn Orientering
5                             Halden SK                       Halden SK

           ...       ind_mean                       ind_median             \
leg        ...              5          6          7          1          2
team_id    ...
1          ...      52.929556  59.216400  86.031925  68.817343  83.069436
2          ...      54.949686  60.995212  87.455533  67.486865  72.104171
3          ...      53.411364  61.058061  87.339752  67.715767  73.400057
4          ...      53.156447  75.761993  87.753882  65.922895  73.799486
5          ...      62.097304  75.794950  85.633899  64.133501  75.142332


leg              3          4          5          6          7
team_id
1        73.561099  52.816934  52.763784  59.215628  86.022319
2        75.980847  54.320490  54.658743  60.876500  87.097402
3        75.555759  55.021214  53.347510  61.026089  87.281419
4        74.831947  51.467591  53.000857  75.488853  87.492446
5        77.273814  59.881118  61.654866  75.521582  85.578863

[5 rows x 98 columns]

In [841]:
# remove teams missing some runners
print(len(by_teams))
by_teams = by_teams[np.isfinite(by_teams.log_means[1]) & np.isfinite(by_teams.log_means[2]) & np.isfinite(by_teams.log_means[3]) & np.isfinite(by_teams.log_means[4]) & np.isfinite(by_teams.log_means[5]) & np.isfinite(by_teams.log_means[6]) & np.isfinite(by_teams.log_means[7])] 
print(len(by_teams))

1858
1843

In [842]:
# Sum of log normal variables is not defined 
# so we simulate 10000 runs for each user and sum them and then do statistics on simulated results 
def simulate_relay_estimates(row):
    samples = pd.DataFrame()
    for i in range(1,8):
        if np.isnan(row["log_means"][i]):
            print(row["log_means"])
            print(row["name"])
        samples[i] = row["leg_dist"][i] * lognorm.rvs(s = row["log_stdevs"][i], scale = np.exp(row["log_means"][i]), size = 10000)

    samples_sums = pd.DataFrame()
    # leg_1 
    # leg_1 + leg_2
    # leg_1 + leg_2 + leg_3
    # ...
    for i in range(1,8):
        samples_sums[i] = np.sum([ samples[j] for j in range(1,i+1) ], axis=0)

    start95 = samples_sums.quantile(0.025)
    end95 = samples_sums.quantile(0.975)
    medians = samples_sums.median()
    means = samples_sums.mean()
    
    sum_logs = np.log(samples_sums)
    sum_log_means = np.mean(sum_logs)
    sum_log_stds = np.std(sum_logs)
    
    """
    for i in range(1,8):
        bins = int(samples_sums[i].max() - samples_sums[i].min())
        name = row["name"][i]
        plt.title(f"{name} bins = {bins}")
        plt.hist(samples_sums[i], bins=bins)
        #plt.axvline(x=row["fin_real"][i], color="r")        
        plt.axvline(x=medians[i], color="g")
        plt.axvline(x=means[i], color="yellow")
        plt.show()    
    """
    
    """
    bins = int( (samples_sums.max().max() - samples_sums.min().min()) / 5) 
    plt.figure(figsize=(20, 6))
    plt.title(f"Whole team, bins = {bins}")
    plt.hist([samples_sums[1], samples_sums[2], samples_sums[3], samples_sums[4], samples_sums[5], samples_sums[6], samples_sums[7]], bins=bins)
    for i in range(1,8):
        #plt.axvline(x=row["fin_real"][i], color="r")
        plt.axvline(x=medians[i], color="g")

    plt.show()
    """
    
    fin_start95_dict = {f"fin_start95_{leg}" : start95.values[leg-1] for leg in range(1,8)}
    fin_end95_dict = {f"fin_end95_{leg}" : end95.values[leg-1] for leg in range(1,8)}
    fin_median_dict = {f"fin_median_{leg}" : medians.values[leg-1] for leg in range(1,8)}
    fin_mean_dict = {f"fin_mean_{leg}" : means.values[leg-1] for leg in range(1,8)}
    fin_sum_log_means_dict = {f"fin_sum_log_mean_{leg}" : sum_log_means.values[leg-1] for leg in range(1,8)}
    fin_sum_log_stds_dict = {f"fin_sum_log_std_{leg}" : sum_log_stds.values[leg-1] for leg in range(1,8)}
    new_cols = {**fin_start95_dict, **fin_end95_dict, **fin_median_dict, **fin_mean_dict, **fin_sum_log_means_dict, **fin_sum_log_stds_dict}

    #print(start95.values)
    #print(new_cols)
    return pd.Series(new_cols)

relay_estimates = by_teams.apply(simulate_relay_estimates, axis=1)
relay_estimates.head()

,fin_start95_1,fin_start95_2,fin_start95_3,fin_start95_4,fin_start95_5,fin_start95_6,fin_start95_7,fin_end95_1,fin_end95_2,fin_end95_3,...,fin_sum_log_mean_5,fin_sum_log_mean_6,fin_sum_log_mean_7,fin_sum_log_std_1,fin_sum_log_std_2,fin_sum_log_std_3,fin_sum_log_std_4,fin_sum_log_std_5,fin_sum_log_std_6,fin_sum_log_std_7
team_id,,,,,,,,,,,,,,,,,,,,,
1,50.675450,129.453546,202.677491,254.324642,305.889288,365.071826,451.140539,93.449436,180.665287,254.497714,...,5.805922,5.970047,6.168793,0.156181,0.084908,0.058246,0.048863,0.043095,0.036602,0.030141
2,57.648165,125.118938,198.325044,251.890383,304.319323,363.896899,446.510564,78.841542,156.825002,236.008962,...,5.785125,5.956755,6.160633,0.080114,0.057300,0.043972,0.036564,0.034748,0.030935,0.030630
3,55.806404,122.051896,194.175708,246.034840,299.334724,360.152129,446.387433,82.505734,164.084386,243.328373,...,5.787038,5.958873,6.162339,0.100813,0.075779,0.058167,0.051999,0.044154,0.037523,0.031330
4,56.052528,127.755193,198.372198,247.816556,299.529829,372.093848,456.689274,77.688166,153.697514,232.861103,...,5.767635,5.980091,6.180765,0.082897,0.046890,0.040111,0.037092,0.033472,0.031607,0.029120
5,60.915666,126.402314,196.951123,255.450802,313.519421,386.609211,471.731699,67.450683,154.885046,239.361172,...,5.826406,6.028229,6.215854,0.025651,0.051836,0.049759,0.041816,0.040918,0.036694,0.031097

In [843]:
len(relay_estimates)
#relay_estimates[["fin_sum_log_mean_1", "fin_sum_log_std_1", "fin_sum_log_mean_2", "fin_sum_log_std_2", "fin_sum_log_mean_3", "fin_sum_log_std_3"]]

1843

In [844]:
# Flatten the troublesome multi-index to field_{leg} etc...
by_teams_flat = by_teams.copy()
by_teams_flat.columns = [f'{x[0]}_{x[1]}' for x in by_teams_flat.columns]
by_teams_flat.reset_index()

,team_id,team_1,team_2,team_3,team_4,team_5,team_6,team_7,team_base_name_1,team_base_name_2,...,ind_mean_5,ind_mean_6,ind_mean_7,ind_median_1,ind_median_2,ind_median_3,ind_median_4,ind_median_5,ind_median_6,ind_median_7
0,1,IFK Göteborg 1,IFK Göteborg 1,IFK Göteborg 1,IFK Göteborg 1,IFK Göteborg 1,IFK Göteborg 1,IFK Göteborg 1,IFK Göteborg,IFK Göteborg,...,52.929556,59.216400,86.031925,68.817343,83.069436,73.561099,52.816934,52.763784,59.215628,86.022319
1,2,Koovee 1,Koovee 1,Koovee 1,Koovee 1,Koovee 1,Koovee 1,Koovee 1,Koovee,Koovee,...,54.949686,60.995212,87.455533,67.486865,72.104171,75.980847,54.320490,54.658743,60.876500,87.097402
2,3,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö 1,Tampereen Pyrintö,Tampereen Pyrintö,...,53.411364,61.058061,87.339752,67.715767,73.400057,75.555759,55.021214,53.347510,61.026089,87.281419
3,4,Södertälje Nykvarn Orientering 1,Södertälje Nykvarn Orientering 1,Södertälje Nykvarn Orientering 1,Södertälje Nykvarn Orientering 1,Södertälje Nykvarn Orientering 1,Södertälje Nykvarn Orientering 1,Södertälje Nykvarn Orientering 1,Södertälje Nykvarn Orientering,Södertälje Nykvarn Orientering,...,53.156447,75.761993,87.753882,65.922895,73.799486,74.831947,51.467591,53.000857,75.488853,87.492446
4,5,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK,Halden SK,...,62.097304,75.794950,85.633899,64.133501,75.142332,77.273814,59.881118,61.654866,75.521582,85.578863
5,6,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat 1,Helsingin Suunnistajat,Helsingin Suunnistajat,...,56.917205,73.143192,95.454671,71.067530,81.893692,79.259454,56.622836,56.567705,72.479759,95.225971
6,7,Paimion Rasti 1,Paimion Rasti 1,Paimion Rasti 1,Paimion Rasti 1,Paimion Rasti 1,Paimion Rasti 1,Paimion Rasti 1,Paimion Rasti,Paimion Rasti,...,52.844717,75.860905,89.062427,67.872451,72.090295,76.532249,52.029271,52.287983,75.587084,88.886257
7,8,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät 1,Hiidenkiertäjät,Hiidenkiertäjät,...,55.117340,67.175768,89.509771,64.842688,81.656738,74.557289,54.048333,55.029472,66.579191,89.286199
8,9,Frol IL 1,Frol IL 1,Frol IL 1,Frol IL 1,Frol IL 1,Frol IL 1,Frol IL 1,Frol IL,Frol IL,...,53.811411,65.225565,95.034567,72.038454,73.169619,82.662063,52.883030,53.695706,65.052225,94.431474
9,10,OK Ravinen 1,OK Ravinen 1,OK Ravinen 1,OK Ravinen 1,OK Ravinen 1,OK Ravinen 1,OK Ravinen 1,OK Ravinen,OK Ravinen,...,62.767118,72.069080,91.075649,71.783890,82.680350,74.387573,57.043640,62.340784,71.992580,90.607479
10,11,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne,OK Linne,...,56.721972,67.114796,92.568771,68.047577,75.630890,74.017768,51.993243,55.593390,66.933450,92.321787
11,12,Ärla IF 1,Ärla IF 1,Ärla IF 1,Ärla IF 1,Ärla IF 1,Ärla IF 1,Ärla IF 1,Ärla IF,Ärla IF,...,55.307667,76.928572,93.581329,67.035450,73.289174,83.789550,62.361002,55.217536,76.287153,93.234360
12,13,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot 1,Vehkalahden Veikot,Vehkalahden Veikot,...,55.101333,72.915405,95.417328,71.504227,74.174520,85.982990,57.192691,55.006088,72.486686,94.986823
13,14,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima,Ikaalisten Nouseva-Voima,...,62.576465,66.628415,102.489651,70.737369,77.901033,84.792953,54.158064,62.080109,66.525176,101.902216
14,15,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä 1,Vaajakosken Terä,Vaajakosken Terä,...,58.325239,67.159586,95.230899,65.156383,69.936300,79.595441,51.979770,57.600834,66.807875,95.037990
15,16,MS Parma 1,MS Parma 1,MS Parma 1,MS Parma 1,MS Parma 1,MS Parma 1,MS Parma 1,MS Parma,MS Parma,...,61.762435,75.366207,95.490761,66.164341,75.783505,84.485725,56.830922,61.126579,74.581139,94.991582
16,17,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving,IL Tyrving,...,57.333536,67.761076,84.976476,65.716365,72.341834,72.698226,53.732789,57.079184,67.619799,84.945242
17,18,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK,Nydalens SK,...,50.992857,65.046605,94.260852,69.885691,77.440836,76.428838,55.973405,50.808000,64.810800,93.949004
18,19,OK Denseln 1,OK Denseln 1,OK Denseln 1,OK Denseln 1,OK Denseln 1,OK Denseln 1,OK Denseln 1,OK Denseln,OK Denseln,...,60.336040,80.771253,103.696966,70.191931,72.539560,78.306546,54.085214,59.824907,80.463913,103.320900
19,20,Ol Norska 1,Ol Norska 1,Ol Norska 1,Ol Norska 1,Ol Norska 1,Ol Norska 1,Ol Norska 1,Ol Norska,Ol Norska,...,67.481616,69.687017,89.815552,76.561403,83.756426,83.105220,57.284005,67.366112,69.627537,89.489700
20,21,IFK Lidingö SOK 1,IFK Lidingö SOK 1,IFK Lidingö SOK 1,IFK Lidingö SOK 1,IFK Lidingö SOK 1,IFK Lidingö SOK 1,IFK Lidingö SOK 1,IFK Lidingö SOK,IFK Lidingö SOK,...,65.429328,67.158229,87.522932,64.399170,72.267940,77.939194,48.927277,64.109146,67.072460,87.246252
21,22,Turun Metsänkävijät 1,Turun Metsänkävijät 1,Turun Metsänkävijät 1,Turun Metsänkävijät 1,Turun Metsänkävijät 1,Turun Metsänkävijät 1,Turun Metsänkävijät 1,Turun Metsänkävijät,Turun Metsänkävijät,...,52.828012,63.873671,94.798728,67.313000,70.347297,80.623469,52.117878,52.796445,63.705988,94.132606
22,23,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL 1,Lillomarka OL,Lillomarka OL,...,62.420170,67.231784,106.312143,68.730625,77.125893,77.493365,66.154800,62.145386,66.901171,106.139698
23,24,Malungs OK Skogsmårdarna 1,Malungs OK Skogsmårdarna 1,Malungs OK Skogsmårdarna 1,Malungs OK Skogsmårdarna 1,Malungs OK Skogsmårdarna 1,Malungs OK Skogsmårdarna 1,Malungs OK Skogsmårdarna 1,Malungs OK Skogsmårdarna,Malungs OK Skogsmårdarna,...,61.563660,76.423854,108.267127,77.556266,83.901778,79.763585,61.339956,61.339956,76.146152,107.873715
24,25,Koovee 2,Koovee 2,Koovee 2,Koovee 2,Koovee 2,Koovee 2,Koovee 2,Koovee,Koovee,...,54.816164,69.105899,98.945206,73.591247,71.712939,79.345191,57.137895,54.664900,68.984440,98.767775
25,26,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI,NTNUI,...,61.617233,72.004349,101.795724,68.011089,76.987816,80.864879,66.259730,61.393158,71.633572,101.693527
26,27,OK Trian 1,OK Trian 1,OK Trian 1,OK Trian 1,OK Trian 1,OK Trian 1,OK Trian 1,OK Trian,OK Trian,...,56.963524,74.712293,91.941831,69.134260,72.753672,79.967540,58.101167,56.701128,74.573305,91.364098
27,28,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri,Angelniemen Ankkuri,...,58.784104,67.740436,108.455636,85.074000,81.385672,79.706644,55.722948,58.474682,67.436225,108.060920
28,29,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti 1,Rajamäen Rykmentti,Rajamäen Rykmentti,...,61.697679,44.398814,108.502815,69.512068,76.243466,79.236689,60.368493,61.473047,30.991108,108.107773
29,30,Hiisirasti 1,Hiisirasti 1,Hiisirasti 1,Hiisirasti 1,Hiisirasti 1,Hiisirasti 1,Hiisirasti 1,Hiisirasti,Hiisirasti,...,60.674104,78.023954,96.145912,77.758241,90.316768,83.936831,54.998835,60.079325,77.155223,95.866932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813,1865,Pojat 35 1,Pojat 35 1,Pojat 35 1,Pojat 35 1,Pojat 35 1,Pojat 35 1,Pojat 35 1,Pojat 35,Pojat 35,...,137.169274,94.551974,241.228723,172.265244,186.359673,200.454102,89.766600,136.246148,94.157502,239.605294
1814,1866,Supertalentit 1,Supertalentit 1,Supertalentit 1,Supertalentit 1,Supertalentit 1,Supertalentit 1,Supertalentit 1,Supertalentit,Supertalentit,...,137.229014,170.353259,241.333784,172.339933,186.440473,200.541013,136.305220,136.305220,169.206480,239.709180
1815,1867,Kunnon Urheilijat 2,Kunnon Urheilijat 2,Kunnon Urheilijat 2,Kunnon Urheilijat 2,Kunnon Urheilijat 2,Kunnon Urheilijat 2,Kunnon Urheilijat 2,Kunnon Urheilijat,Kunnon Urheilijat,...,96.033034,170.427452,197.984067,174.105776,186.521309,200.627962,111.677471,95.471763,169.279843,196.650900
1816,1868,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat,Tuomenmarjat,...,176.266066,121.388832,241.544042,172.489409,128.403600,200.714949,84.987235,175.078800,120.571200,239.917087
1817,1869,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW,HattikW,...,137.408391,170.575934,241.649240,102.914555,186.683084,200.801973,136.482591,136.482591,169.426665,240.021108
1818,1870,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix,Kerkesix,...,83.167653,170.650224,241.754484,95.299434,119.890630,113.471102,89.577023,83.142194,169.500123,240.125175
1819,1872,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät,Rinnerähmät,...,67.679932,170.798900,241.965109,172.788750,186.926011,119.488000,136.660193,67.567986,169.647136,240.333443
1820,1873,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18,Spessut Pummaajat -18,...,137.647926,170.873287,242.070491,172.863666,187.007057,201.150447,136.719445,136.719445,169.720690,240.437644
1821,1874,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat,Keihäsmatkat,...,99.104611,148.054791,242.175918,172.938614,133.153963,137.926739,89.322900,99.086950,146.904242,240.541891
1822,1875,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha,Team Maha,...,125.903550,189.349158,242.281392,95.755000,187.169254,201.324911,94.853617,125.053800,188.071200,240.646183
1823,1877,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret,Koskenkorvan Kisattaret,...,137.887879,137.896830,178.394011,98.044718,187.331591,201.499527,99.406200,136.956709,136.965600,177.189300
1824,1878,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo,Pinkki Dynamo,...,137.947933,171.245709,242.598088,105.716101,187.412813,201.586891,137.016090,137.016090,170.088939,240.959331
1825,1879,EUOC 1,EUOC 1,EUOC 1,EUOC 1,EUOC 1,EUOC 1,EUOC 1,EUOC,EUOC,...,138.008012,171.320291,120.082881,173.313846,78.245176,93.693993,65.963096,137.075496,170.162685,119.536185
1826,1880,EUOC 2,EUOC 2,EUOC 2,EUOC 2,EUOC 2,EUOC 2,EUOC 2,EUOC,EUOC,...,132.807031,171.394906,242.809450,108.414739,187.575362,101.158400,50.581800,131.909400,170.236463,241.168322
1827,1881,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren,OK Tisaren,...,138.128251,171.469553,242.915199,77.396000,187.656689,201.849212,137.194386,137.194386,170.310272,241.272886
1828,1882,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot 1,Tunkiomadot,Tunkiomadot,...,122.576761,171.544232,243.020995,153.934000,187.738051,118.107577,137.253870,121.747800,170.384114,241.377495
1829,1886,Sappion Veikot 2,Sappion Veikot 2,Sappion Veikot 2,Sappion Veikot 2,Sappion Veikot 2,Sappion Veikot 2,Sappion Veikot 2,Sappion Veikot,Sappion Veikot,...,138.429306,171.843276,146.566350,173.840538,134.563867,202.287171,137.492062,137.492062,170.679801,146.565909
1830,1887,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj,RPW2018 Yj,...,124.461214,151.352435,193.055697,140.026653,153.955496,161.908473,108.461563,123.618300,149.774652,191.997963
1831,1888,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta,Espoon Suunta,...,136.462017,135.739037,162.069069,91.717804,104.922307,133.995714,98.208094,135.724022,134.362421,160.709003
1832,1889,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit,IC-Electrofit,...,104.805844,172.067901,243.762860,174.066753,120.799010,202.550403,137.670977,104.775556,170.901903,242.111029
1833,1890,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi,SK Vuoksi,...,77.902299,172.142842,243.869026,170.379000,101.065316,202.638223,137.730667,77.652328,170.976001,242.216001
1834,1891,KRIK Finland 1,KRIK Finland 1,KRIK Finland 1,KRIK Finland 1,KRIK Finland 1,KRIK Finland 1,KRIK Finland 1,KRIK Finland,KRIK Finland,...,138.731018,124.430894,132.865186,174.217726,188.471904,202.726081,137.790383,137.790383,123.968982,132.855157
1835,1892,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai,käpylä maanantai,...,138.791439,155.353240,244.081496,109.282626,188.553620,202.813977,137.850125,137.850125,154.299600,242.426082
1836,1893,Turun Metsänkävijät 8,Turun Metsänkävijät 8,Turun Metsänkävijät 8,Turun Metsänkävijät 8,Turun Metsänkävijät 8,Turun Metsänkävijät 8,Turun Metsänkävijät 8,Turun Metsänkävijät,Turun Metsänkävijät,...,138.851887,129.990215,244.187801,112.752944,188.635371,143.956368,106.401490,137.909893,129.385338,242.531191
1837,1894,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI,NTNUI,...,138.912361,107.065802,244.294152,174.444432,97.803044,202.989884,137.969687,137.969687,107.039313,242.636346
1838,1895,Kangasala SK 6,Kangasala SK 6,Kangasala SK 6,Kangasala SK 6,Kangasala SK 6,Kangasala SK 6,Kangasala SK 6,Kangasala SK,Kangasala SK,...,102.156745,126.464876,134.447801,101.664347,115.227108,132.955707,91.273297,101.515699,125.692788,134.156083
1839,1896,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK,Kangasala SK,...,100.679832,111.075213,200.411171,123.508704,137.077202,130.893305,94.381221,98.633808,110.283170,198.533840
1840,1897,Kangasala SK 8,Kangasala SK 8,Kangasala SK 8,Kangasala SK 8,Kangasala SK 8,Kangasala SK 8,Kangasala SK 8,Kangasala SK,Kangasala SK,...,111.768902,118.826092,167.020931,105.987300,188.962731,126.811054,76.629600,111.744030,118.483658,165.073364
1841,1900,Paimion Rasti 6,Paimion Rasti 6,Paimion Rasti 6,Paimion Rasti 6,Paimion Rasti 6,Paimion Rasti 6,Paimion Rasti 6,Paimion Rasti,Paimion Rasti,...,103.416577,86.587728,141.939070,76.901000,120.690275,92.017559,84.319745,102.824246,86.168610,140.974200
1842,1901,Suopursuttaret 1,Suopursuttaret 1,Suopursuttaret 1,Suopursuttaret 1,Suopursuttaret 1,Suopursuttaret 1,Suopursuttaret 1,Suopursuttaret,Suopursuttaret,...,121.747203,172.969348,154.078409,174.974560,124.091280,203.606760,138.388970,120.227223,171.793204,151.222067

In [845]:
estimates = pd.concat([by_teams_flat, relay_estimates], axis=1, join='inner')

In [846]:
# Convert minutes to date and times
start_timestamp = pd.Timestamp(year = 2018, month = 6, day = 16, hour = 23)

for leg in range(1,8):
    estimates[f"fint_median_{leg}"] = pd.to_datetime(estimates[f"fin_median_{leg}"] * 60, unit = "s", origin= start_timestamp)
    estimates[f"fint_start95_{leg}"] = pd.to_datetime(estimates[f"fin_start95_{leg}"] * 60, unit = "s", origin= start_timestamp)
    estimates[f"fint_end95_{leg}"] = pd.to_datetime(estimates[f"fin_end95_{leg}"] * 60, unit = "s", origin= start_timestamp)

In [847]:
# Sort teams by estimated total time 
estimates = estimates.sort_values("fin_median_7")

estimates.to_csv('data/team_estimates_ju2018.tsv', sep="\t")

In [848]:
estimates[["team_1", "fin_median_7"]].head(10)

                                   team_1  fin_median_7
team_id
2                                Koovee 1    473.687114
3                     Tampereen Pyrintö 1    474.383754
17                           IL Tyrving 1    474.914994
1                          IFK Göteborg 1    477.294272
35                        OLV Baselland 1    481.824733
22                  Turun Metsänkävijät 1    482.546375
4        Södertälje Nykvarn Orientering 1    483.388516
21                      IFK Lidingö SOK 1    483.593697
7                         Paimion Rasti 1    486.728707
11                             OK Linne 1    486.997335

In [849]:
teams_to_follow = estimates[estimates['team_1'].str.contains("Reak") | estimates['team_1'].str.contains("Puskasil") | estimates['team_1'].str.contains("Rastihaukat")]
teams_to_follow[["team_1", "fin_median_7", "fin_start95_7", "fin_end95_7"]]

                        team_1  fin_median_7  fin_start95_7  fin_end95_7
team_id
429      Reaktor Innovations 1    744.897317     698.264057   795.846271
568              Rastihaukat 1    751.536919     698.863921   809.785723
1270     Reaktor Innovations 2    882.548471     794.073074   993.109824
1246             Rastihaukat 2    909.867254     833.055264   993.343548
1131         Puskasilimät OK 1    912.824808     855.824923   977.891618

In [850]:
leg_1_cols = list(filter(lambda c: "_1" in c,estimates.columns.values))
column_base_names = list(map(lambda c: c[:-2], leg_1_cols))
runner_estimates = pd.wide_to_long(estimates.reset_index(), stubnames=column_base_names, i ="team_id", j="leg", sep = "_")
runner_estimates = runner_estimates.sort_values(by=['team_id', 'leg'])
runner_estimates = runner_estimates.drop(['team_base_name', 'estimated_log_means', 'estimated_log_stdevs'], axis=1)
runner_estimates.head()

                       team  leg_dist               name  history_log_means  \
team_id leg
1       1    IFK Göteborg 1      11.0   Max Peter Bejmer           1.833561
        2    IFK Göteborg 1      11.9    Johan Högstarnd           0.000000
        3    IFK Göteborg 1      12.8  Vetle Ruud Bråten           1.748671
        4    IFK Göteborg 1       8.7      Jonas Pilblad           1.803509
        5    IFK Göteborg 1       8.7      Jens Wängdahl           1.802502

             history_log_stdevs  log_means  log_stdevs  ind_95_start  \
team_id leg
1       1              0.157965   1.833561    0.157965     50.493803
        2              0.000000   1.943138    0.084941     70.329796
        3              0.030981   1.748671    0.030981     69.227322
        4              0.061865   1.803509    0.061865     46.785718
        5              0.079207   1.802502    0.079207     45.176752

             ind_95_end   ind_mean  ind_median  fin_start95   fin_end95  \
team_id leg
1       1     93.790257  69.681316   68.817343    50.675450   93.449436
        2     98.116751  83.369649   83.069436   129.453546  180.665287
        3     78.166179  73.596409   73.561099   202.677491  254.497714
        4     59.625643  52.918105   52.816934   254.324642  308.209131
        5     61.624990  52.929556   52.763784   305.889288  362.115189

             fin_median    fin_mean  fin_sum_log_mean  fin_sum_log_std  \
team_id leg
1       1     68.872218   69.666324          4.231524         0.156181
        2    152.644836  153.139793          5.027743         0.084908
        3    226.275233  226.702027          5.421937         0.058246
        4    279.188774  279.625613          5.632256         0.048863
        5    332.037501  332.570468          5.805922         0.043095

                           fint_median               fint_start95  \
team_id leg
1       1   2018-06-17 00:08:52.333102 2018-06-16 23:50:40.526991
        2   2018-06-17 01:32:38.690171 2018-06-17 01:09:27.212763
        3   2018-06-17 02:46:16.513961 2018-06-17 02:22:40.649446
        4   2018-06-17 03:39:11.326460 2018-06-17 03:14:19.478501
        5   2018-06-17 04:32:02.250049 2018-06-17 04:05:53.357275

                            fint_end95
team_id leg
1       1   2018-06-17 00:33:26.966159
        2   2018-06-17 02:00:39.917233
        3   2018-06-17 03:14:29.862866
        4   2018-06-17 04:08:12.547835
        5   2018-06-17 05:02:06.911367

In [851]:
runner_estimates.to_csv('data/runner_estimates_ju2018.tsv', sep="\t")

In [852]:
runner_estimates[runner_estimates['team'].str.contains("Reak")][["name", "log_means", "log_stdevs", "ind_median"]]

                           name  log_means  log_stdevs  ind_median
team_id leg
429     1        Mikko Peltonen   2.184951    0.081299   97.792383
        2       Pasi Huhtiniemi   2.222239    0.072482  109.812846
        3          Joni Freeman   2.130879    0.113846  107.805019
        4       Tuomas Kareinen   2.293240    0.160070   86.190780
        5       Janne Vaittinen   2.324384    0.039861   88.917301
        6         Olavi Kanerva   2.128667    0.092121   90.759473
        7         Jyri Kytömäki   2.355319    0.048494  161.284847
1270    1    Antti-Ville Jokela   2.363116    0.106230  116.864000
        2    Karri-Pekka Laakso   2.414677    0.081841  133.115223
        3    Oskari Pirttikoski   2.637533    0.194072  178.927107
        4         Jeppe Koivula   2.043968    0.073759   67.174301
        5          Tommi Simell   2.493221    0.106230  105.271651
        6             Mikko Apo   2.406347    0.186769  119.808344
        7           Aki Kaivola   2.325227    0.106230  156.503700

In [853]:
for_print = runner_estimates.copy()
for_print = for_print.reset_index()
for_print = for_print.set_index('team_id')
for_print = for_print.round(2)
for_print.fint_median = for_print.fint_median.dt.strftime("%H:%M")
for_print.fint_start95 = for_print.fint_start95.dt.strftime("%H:%M")
for_print.fint_end95 = for_print.fint_end95.dt.strftime("%H:%M")
for_print = for_print[['team',
 'leg',
 'name',
 'ind_median', 
 'ind_95_start', 
 'ind_95_end', 
 'fin_median',
 'fint_median',
 'fint_start95',
 'fint_end95']]
for_print.head()

,team,leg,name,ind_median,ind_95_start,ind_95_end,fin_median,fint_median,fint_start95,fint_end95
team_id,,,,,,,,,,
1,IFK Göteborg 1,1,Max Peter Bejmer,68.82,50.49,93.79,68.87,00:08,23:50,00:33
1,IFK Göteborg 1,2,Johan Högstarnd,83.07,70.33,98.12,152.64,01:32,01:09,02:00
1,IFK Göteborg 1,3,Vetle Ruud Bråten,73.56,69.23,78.17,226.28,02:46,02:22,03:14
1,IFK Göteborg 1,4,Jonas Pilblad,52.82,46.79,59.63,279.19,03:39,03:14,04:08
1,IFK Göteborg 1,5,Jens Wängdahl,52.76,45.18,61.62,332.04,04:32,04:05,05:02

In [854]:
for_print.to_csv('for_print_ju2018_after.tsv', sep="\t")

In [855]:
for_print[for_print['team'].str.contains("Reak") | for_print['team'].str.contains("Puskasil") | for_print['team'].str.contains("Rastihaukat 2")]

,team,leg,name,ind_median,ind_95_start,ind_95_end,fin_median,fint_median,fint_start95,fint_end95
team_id,,,,,,,,,,
429,Reaktor Innovations 1,1,Mikko Peltonen,97.79,83.39,114.68,97.77,00:37,00:23,00:54
429,Reaktor Innovations 1,2,Pasi Huhtiniemi,109.81,95.27,126.58,207.90,02:27,02:07,02:51
429,Reaktor Innovations 1,3,Joni Freeman,107.81,86.24,134.75,315.86,04:15,03:45,04:51
429,Reaktor Innovations 1,4,Tuomas Kareinen,86.19,62.98,117.95,402.74,05:42,05:03,06:28
429,Reaktor Innovations 1,5,Janne Vaittinen,88.92,82.24,96.14,491.89,07:11,06:31,07:57
429,Reaktor Innovations 1,6,Olavi Kanerva,90.76,75.77,108.72,583.03,08:43,07:59,09:32
429,Reaktor Innovations 1,7,Jyri Kytömäki,161.28,146.66,177.37,744.90,11:24,10:38,12:15
1131,Puskasilimät OK 1,1,Tuomas Ketonen,124.33,101.43,152.41,124.44,01:04,00:41,01:33
1131,Puskasilimät OK 1,2,Petri Miettinen,131.06,122.12,140.64,255.72,03:15,02:50,03:45
1131,Puskasilimät OK 1,3,Jaakko Havola,146.75,135.82,158.57,402.65,05:42,05:15,06:14
1131,Puskasilimät OK 1,4,Joonas Kekäle,110.58,90.20,135.55,513.48,07:33,06:58,08:12
1131,Puskasilimät OK 1,5,Joonas Mikkonen,99.12,80.85,121.50,613.23,09:13,08:32,09:58
1131,Puskasilimät OK 1,6,Esko Harjama,123.04,100.37,150.83,736.87,11:16,10:29,12:09
1131,Puskasilimät OK 1,7,Anssi Pesonen,175.60,143.25,215.26,912.82,14:12,13:15,15:17
1246,Rastihaukat 2,1,Antero Aunesluoma,119.13,96.81,146.59,119.26,00:59,00:37,01:26
1246,Rastihaukat 2,2,Janne Takala,113.32,83.61,153.59,233.61,02:53,02:14,03:40
1246,Rastihaukat 2,3,Kimmo Tikka,157.01,124.74,197.63,391.81,05:31,04:39,06:33
1246,Rastihaukat 2,4,Jari Siniranta,122.44,92.75,161.63,515.09,07:35,06:33,08:45
1246,Rastihaukat 2,5,Ove Nilsson,108.27,92.15,127.22,623.49,09:23,08:20,10:35
1246,Rastihaukat 2,6,Mika Tapanainen,129.33,105.10,159.14,753.98,11:33,10:25,12:50
1246,Rastihaukat 2,7,Teemu Matilainen,154.83,124.30,192.84,909.87,14:09,12:53,15:33
1270,Reaktor Innovations 2,1,Antti-Ville Jokela,116.86,94.90,143.91,116.62,00:56,00:34,01:22
1270,Reaktor Innovations 2,2,Karri-Pekka Laakso,133.12,113.39,156.28,250.37,03:10,02:40,03:44
1270,Reaktor Innovations 2,3,Oskari Pirttikoski,178.93,122.32,261.74,430.24,06:10,05:03,07:40
1270,Reaktor Innovations 2,4,Jeppe Koivula,67.17,58.13,77.62,497.79,07:17,06:11,08:47
1270,Reaktor Innovations 2,5,Tommi Simell,105.27,85.48,129.64,603.53,09:03,07:53,10:35
1270,Reaktor Innovations 2,6,Mikko Apo,119.81,83.08,172.77,724.98,11:04,09:43,12:49
1270,Reaktor Innovations 2,7,Aki Kaivola,156.50,127.09,192.73,882.55,13:42,12:14,15:33

In [856]:
for_web = runner_estimates.copy().reset_index()
for_web.fint_median = for_web.fint_median.dt.strftime("%H:%M")
for_web.fint_start95 = for_web.fint_start95.dt.strftime("%H:%M")
for_web.fint_end95 = for_web.fint_end95.dt.strftime("%H:%M")
for_web = for_web[[
 'team_id',
 'leg',
 'team',
 'name',
 'fin_sum_log_mean', 
 'fin_sum_log_std',
 'fin_median',
 'fint_median',
 'fint_start95',
 'fint_end95']]
for_web

,team_id,leg,team,name,fin_sum_log_mean,fin_sum_log_std,fin_median,fint_median,fint_start95,fint_end95
0,1,1,IFK Göteborg 1,Max Peter Bejmer,4.231524,0.156181,68.872218,00:08,23:50,00:33
1,1,2,IFK Göteborg 1,Johan Högstarnd,5.027743,0.084908,152.644836,01:32,01:09,02:00
2,1,3,IFK Göteborg 1,Vetle Ruud Bråten,5.421937,0.058246,226.275233,02:46,02:22,03:14
3,1,4,IFK Göteborg 1,Jonas Pilblad,5.632256,0.048863,279.188774,03:39,03:14,04:08
4,1,5,IFK Göteborg 1,Jens Wängdahl,5.805922,0.043095,332.037501,04:32,04:05,05:02
5,1,6,IFK Göteborg 1,Fredrik Bakkman,5.970047,0.036602,391.235543,05:31,05:05,06:01
6,1,7,IFK Göteborg 1,Eskil Kinneberg,6.168793,0.030141,477.294272,06:57,06:31,07:27
7,2,1,Koovee 1,Joni Hirvikallio,4.212205,0.080114,67.529805,00:07,23:57,00:18
8,2,2,Koovee 1,Topi Anjala,4.939871,0.057300,139.710263,01:19,01:05,01:36
9,2,3,Koovee 1,Lauri Sild,5.375380,0.043972,215.917583,02:35,02:18,02:56
10,2,4,Koovee 1,Oleksandr Kratov,5.600115,0.036564,270.412361,03:30,03:11,03:50
11,2,5,Koovee 1,Kenny Kivikas,5.785125,0.034748,325.449723,04:25,04:04,04:48
12,2,6,Koovee 1,Timo Sild,5.956755,0.030935,386.340564,05:26,05:03,05:50
13,2,7,Koovee 1,Daniel Hubmann,6.160633,0.030630,473.687114,06:53,06:26,07:22
14,3,1,Tampereen Pyrintö 1,Otto Simosas,4.214179,0.100813,67.632748,00:07,23:55,00:22
15,3,2,Tampereen Pyrintö 1,Elias Kuukka,4.952220,0.075779,141.465595,01:21,01:02,01:44
16,3,3,Tampereen Pyrintö 1,Johan Runesson,5.381106,0.058167,217.328951,02:37,02:14,03:03
17,3,4,Tampereen Pyrintö 1,Anton Kuukka,5.608029,0.051999,272.659425,03:32,03:06,04:01
18,3,5,Tampereen Pyrintö 1,Severi Kymäläinen,5.787038,0.044154,326.041135,04:26,03:59,04:55
19,3,6,Tampereen Pyrintö 1,Aleksi Niemi,5.958873,0.037523,387.181958,05:27,05:00,05:57
20,3,7,Tampereen Pyrintö 1,Florian Howald,6.162339,0.031330,474.383754,06:54,06:26,07:25
21,4,1,Södertälje Nykvarn Orientering 1,Ralph Street,4.187803,0.082897,65.875383,00:05,23:56,00:17
22,4,2,Södertälje Nykvarn Orientering 1,Kent Ohlsson,4.940774,0.046890,139.814985,01:19,01:07,01:33
23,4,3,Södertälje Nykvarn Orientering 1,Håkon Jarvis Westergård,5.370170,0.040111,214.839809,02:34,02:18,02:52
24,4,4,Södertälje Nykvarn Orientering 1,Ivar Lundanes,5.585738,0.037092,266.589137,03:26,03:07,03:46
25,4,5,Södertälje Nykvarn Orientering 1,Jakob Enmark,5.767635,0.033472,319.780789,04:19,03:59,04:41
26,4,6,Södertälje Nykvarn Orientering 1,Eric Börjekskog,5.980091,0.031607,395.359717,05:35,05:12,06:01
27,4,7,Södertälje Nykvarn Orientering 1,Jonas Leandersson,6.180765,0.029120,483.388516,07:03,06:36,07:32
28,5,1,Halden SK 1,Emil Wingstedt,4.160984,0.025651,64.178162,00:04,00:00,00:07
29,5,2,Halden SK 1,Fredrik Eliasson,4.937268,0.051836,139.257175,01:19,01:06,01:34
...,...,...,...,...,...,...,...,...,...,...
12871,1895,6,Kangasala SK 6,Esa Joensuu,6.507871,0.036720,670.363368,10:10,09:23,10:59
12872,1895,7,Kangasala SK 6,Jenni Joensuu-Partanen,6.690583,0.032392,804.539058,12:24,11:35,13:18
12873,1896,1,Kangasala SK 7,Esko Jalanto,4.816027,0.067522,123.533402,01:03,00:48,01:20
12874,1896,2,Kangasala SK 7,Sami Sivunen,5.565625,0.063165,261.034745,03:21,02:51,03:56
12875,1896,3,Kangasala SK 7,Erkki Laukkanen,5.973097,0.053749,392.524829,05:32,04:53,06:16
12876,1896,4,Kangasala SK 7,Heimo Lahti,6.189247,0.046088,487.480493,07:07,06:25,07:54
12877,1896,5,Kangasala SK 7,Markku Huikkola,6.376628,0.051959,587.272996,08:47,07:52,09:53
12878,1896,6,Kangasala SK 7,Pekka Kannus,6.549931,0.047707,698.755749,10:38,09:37,11:50
12879,1896,7,Kangasala SK 7,Antti Hyytiäinen,6.801261,0.047781,898.538914,13:58,12:40,15:29
12880,1897,1,Kangasala SK 8,Juha Virta,4.662981,0.054744,105.917372,00:45,00:35,00:57
12881,1897,2,Kangasala SK 8,Janne Juntunen,5.688252,0.076678,294.821609,03:54,03:15,04:44
12882,1897,3,Kangasala SK 8,Jarmo Joutsensaari,6.047774,0.065075,422.969336,06:02,05:13,07:00
12883,1897,4,Kangasala SK 8,Iiris Saarenpää,6.215243,0.057973,500.288870,07:20,06:27,08:20
12884,1897,5,Kangasala SK 8,Jarkko Harju,6.417155,0.047571,612.008295,09:12,08:19,10:12
12885,1897,6,Kangasala SK 8,Saku Suuriniemi,6.594426,0.041824,730.863229,11:10,10:14,12:14
12886,1897,7,Kangasala SK 8,Tomi-Pekka Olkkonen,6.800319,0.044500,897.534286,13:57,12:44,15:20
12887,1900,1,Paimion Rasti 6,Juha Suominen,4.341695,0.116260,76.844557,00:16,00:01,00:36
12888,1900,2,Paimion Rasti 6,Jussi Jääoja,5.288002,0.087839,198.216017,02:18,01:46,02:55
12889,1900,3,Paimion Rasti 6,Janne Virtanen,5.672299,0.067839,290.592557,03:50,03:14,04:31
12890,1900,4,Paimion Rasti 6,Olli Axelin,5.928243,0.058186,375.547514,05:15,04:35,06:01
12891,1900,5,Paimion Rasti 6,Timo Lindi,6.171363,0.050941,478.629615,06:58,06:14,07:49
12892,1900,6,Paimion Rasti 6,Simon Fröjdö,6.337264,0.045790,565.221781,08:25,07:37,09:18
12893,1900,7,Paimion Rasti 6,Valtteri Mulari,6.561338,0.043598,707.495627,10:47,09:49,11:49
12894,1901,1,Suopursuttaret 1,Anne Polso,5.163377,0.116086,174.767240,01:54,01:19,02:38
12895,1901,2,Suopursuttaret 1,Sanna Laakso,5.703322,0.086766,299.859666,03:59,03:12,04:54
12896,1901,3,Suopursuttaret 1,Maria Kettu,6.224275,0.070230,504.938865,07:24,06:20,08:39
12897,1901,4,Suopursuttaret 1,Oskari Rannila,6.467854,0.060591,644.531928,09:44,08:31,11:04
12898,1901,5,Suopursuttaret 1,Kauko Laukkanen,6.640846,0.056808,765.981092,11:45,10:24,13:15
12899,1901,6,Suopursuttaret 1,Venla Rannila,6.844708,0.051139,938.869703,14:38,13:09,16:16
12900,1901,7,Suopursuttaret 1,Tanja Rannila,6.996831,0.051683,1093.512126,17:13,15:27,19:10

In [857]:
for_web.to_json('web-lib/for_web_ju2018_after.json', orient="records")

In [889]:
# Read the actual times after race and analyze estimates
results18 = pd.read_csv('data/csv-results_j2018_ju.tsv', delimiter="\t")

In [890]:
results18 = results18[["team-id", "leg-nro", "leg-time"]]
results18["leg-time"] = results18["leg-time"] / 60
results18.head()

   team-id  leg-nro   leg-time
0        2        1  64.600000
1        2        2  70.000000
2        2        3  74.116667
3        2        4  50.183333
4        2        5  48.750000

In [949]:
results18 = results18.rename(index=str, columns={"team-id": "team_id", "leg-nro": "leg"})
runner_estimates.head()

                       team  leg_dist               name  history_log_means  \
team_id leg
1       1    IFK Göteborg 1      11.0   Max Peter Bejmer           1.833561
        2    IFK Göteborg 1      11.9    Johan Högstarnd           0.000000
        3    IFK Göteborg 1      12.8  Vetle Ruud Bråten           1.748671
        4    IFK Göteborg 1       8.7      Jonas Pilblad           1.803509
        5    IFK Göteborg 1       8.7      Jens Wängdahl           1.802502

             history_log_stdevs  log_means  log_stdevs  ind_95_start  \
team_id leg
1       1              0.157965   1.833561    0.157965     50.493803
        2              0.000000   1.943138    0.084941     70.329796
        3              0.030981   1.748671    0.030981     69.227322
        4              0.061865   1.803509    0.061865     46.785718
        5              0.079207   1.802502    0.079207     45.176752

             ind_95_end   ind_mean  ind_median  fin_start95   fin_end95  \
team_id leg
1       1     93.790257  69.681316   68.817343    50.675450   93.449436
        2     98.116751  83.369649   83.069436   129.453546  180.665287
        3     78.166179  73.596409   73.561099   202.677491  254.497714
        4     59.625643  52.918105   52.816934   254.324642  308.209131
        5     61.624990  52.929556   52.763784   305.889288  362.115189

             fin_median    fin_mean  fin_sum_log_mean  fin_sum_log_std  \
team_id leg
1       1     68.872218   69.666324          4.231524         0.156181
        2    152.644836  153.139793          5.027743         0.084908
        3    226.275233  226.702027          5.421937         0.058246
        4    279.188774  279.625613          5.632256         0.048863
        5    332.037501  332.570468          5.805922         0.043095

                           fint_median               fint_start95  \
team_id leg
1       1   2018-06-17 00:08:52.333102 2018-06-16 23:50:40.526991
        2   2018-06-17 01:32:38.690171 2018-06-17 01:09:27.212763
        3   2018-06-17 02:46:16.513961 2018-06-17 02:22:40.649446
        4   2018-06-17 03:39:11.326460 2018-06-17 03:14:19.478501
        5   2018-06-17 04:32:02.250049 2018-06-17 04:05:53.357275

                            fint_end95
team_id leg
1       1   2018-06-17 00:33:26.966159
        2   2018-06-17 02:00:39.917233
        3   2018-06-17 03:14:29.862866
        4   2018-06-17 04:08:12.547835
        5   2018-06-17 05:02:06.911367

In [950]:
with_result = pd.merge(runner_estimates, results18, how='left', on=['team_id', 'leg'])
with_result = with_result[np.isfinite(with_result["leg-time"])]

In [951]:
with_result["ind_error"] = with_result.ind_median - with_result["leg-time"]
with_result["ind_error_perc"] = with_result["ind_error"] / with_result["leg-time"]
with_result["ind_in_int"] = (with_result["ind_95_start"] < with_result["leg-time"]) & (with_result["ind_95_end"] > with_result["leg-time"])
#viewable = with_result[['team_id', "team", 'leg', "name", "ind_median", "leg-time", "ind_error", "ind_error_perc", "ind_in_int"]]
#viewable[viewable.team_id.isin([1270, 429, 1131, 1178, 1089])].sort_values(by=['ind_error_perc', 'ind_error'],ascending=False)

,team_id,team,leg,name,ind_median,leg-time,ind_error,ind_error_perc,ind_in_int
7482,1089,IC-Electrofit 1,7,Henri Äijö,160.391118,121.383333,39.007785,0.321360,False
7756,1131,Puskasilimät OK 1,1,Tuomas Ketonen,124.333000,102.400000,21.933000,0.214189,True
8079,1178,ÄHPM! - Älä hitossa peesaa meitä! 1,2,Anniina Erkkilä,189.971600,158.366667,31.604933,0.199568,True
7478,1089,IC-Electrofit 1,3,Simo-Viljami Ojanen,143.194939,124.150000,19.044939,0.153403,True
7762,1131,Puskasilimät OK 1,7,Anssi Pesonen,175.598100,153.600000,21.998100,0.143217,True
2949,429,Reaktor Innovations 1,3,Joni Freeman,107.805019,94.366667,13.438352,0.142406,True
7761,1131,Puskasilimät OK 1,6,Esko Harjama,123.040544,107.950000,15.090544,0.139792,True
8083,1178,ÄHPM! - Älä hitossa peesaa meitä! 1,6,Linda Wiksten,156.352701,137.183333,19.169367,0.139735,True
2952,429,Reaktor Innovations 1,6,Olavi Kanerva,90.759473,79.983333,10.776140,0.134730,True
8084,1178,ÄHPM! - Älä hitossa peesaa meitä! 1,7,Timo Waltari,177.895100,161.233333,16.661767,0.103339,True
7757,1131,Puskasilimät OK 1,2,Petri Miettinen,131.055553,121.400000,9.655553,0.079535,False
7476,1089,IC-Electrofit 1,1,Wiljam Mattila,102.002821,94.733333,7.269488,0.076736,True
2948,429,Reaktor Innovations 1,2,Pasi Huhtiniemi,109.812846,102.566667,7.246180,0.070648,True
2947,429,Reaktor Innovations 1,1,Mikko Peltonen,97.792383,92.933333,4.859049,0.052285,True
8694,1270,Reaktor Innovations 2,1,Antti-Ville Jokela,116.864000,111.716667,5.147333,0.046075,True
8698,1270,Reaktor Innovations 2,5,Tommi Simell,105.271651,102.483333,2.788318,0.027208,True
7477,1089,IC-Electrofit 1,2,Asgeir Mjösund,80.958979,80.200000,0.758979,0.009464,True
7480,1089,IC-Electrofit 1,5,Kimmo Keinänen,97.327810,96.700000,0.627810,0.006492,True
7759,1131,Puskasilimät OK 1,4,Joonas Kekäle,110.577000,111.850000,-1.273000,-0.011381,True
8700,1270,Reaktor Innovations 2,7,Aki Kaivola,156.503700,160.366667,-3.862967,-0.024088,True
2950,429,Reaktor Innovations 1,4,Tuomas Kareinen,86.190780,89.150000,-2.959220,-0.033194,True
2953,429,Reaktor Innovations 1,7,Jyri Kytömäki,161.284847,169.400000,-8.115153,-0.047905,True
8078,1178,ÄHPM! - Älä hitossa peesaa meitä! 1,1,Tapani Mikkola,126.012636,133.533333,-7.520697,-0.056321,True
8082,1178,ÄHPM! - Älä hitossa peesaa meitä! 1,5,Heli Mikkola,123.513900,132.083333,-8.569433,-0.064879,True
7481,1089,IC-Electrofit 1,6,Samuli Syrjänen,111.726000,119.516667,-7.790667,-0.065185,True
8695,1270,Reaktor Innovations 2,2,Karri-Pekka Laakso,133.115223,143.150000,-10.034777,-0.070100,True
8699,1270,Reaktor Innovations 2,6,Mikko Apo,119.808344,129.416667,-9.608323,-0.074243,True
8696,1270,Reaktor Innovations 2,3,Oskari Pirttikoski,178.927107,193.416667,-14.489560,-0.074914,True
8697,1270,Reaktor Innovations 2,4,Jeppe Koivula,67.174301,72.683333,-5.509032,-0.075795,True
7760,1131,Puskasilimät OK 1,5,Joonas Mikkonen,99.115993,115.016667,-15.900673,-0.138247,True
7758,1131,Puskasilimät OK 1,3,Jaakko Havola,146.752693,182.266667,-35.513973,-0.194846,False
2951,429,Reaktor Innovations 1,5,Janne Vaittinen,88.917301,111.816667,-22.899365,-0.204794,False
8081,1178,ÄHPM! - Älä hitossa peesaa meitä! 1,4,Katja Raatikainen,101.156037,132.050000,-30.893963,-0.233957,False
8080,1178,ÄHPM! - Älä hitossa peesaa meitä! 1,3,Heli Huhtala,148.827273,195.500000,-46.672727,-0.238735,False

In [952]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())
rmse(with_result.ind_median, with_result["leg-time"])

26.195444841518498

In [953]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(with_result["leg-time"], with_result.ind_median)

16.784668681626297

In [954]:
with_result["ind_error_perc"].abs().mean()

0.13543036139562353

In [955]:
with_result["ind_error_perc"].mean()

0.02208268145488205

In [956]:
with_result["ind_in_int"].mean()

0.7499410052701959

In [967]:
def get_estimate_params(result_row):
    legs_so_far = [ i for i in range(1, result_row.leg + 1) ]
    rows_so_far = with_result[(with_result.team_id == result_row.team_id) & (with_result.leg.isin(legs_so_far))]
    return np.sum(rows_so_far["leg-time"])

#with_result = with_result[with_result.team_id.isin([1270, 429, 1131, 1178, 1089])]    
with_result["real_mins"] = with_result.apply(lambda row: get_estimate_params(row), axis=1)
with_result.head()

,team_id,leg,team,leg_dist,name,history_log_means,history_log_stdevs,log_means,log_stdevs,ind_95_start,...,fint_start95,fint_end95,leg-time,ind_error,ind_error_perc,ind_in_int,real_mins,team_error,team_error_perc,team_in_int
0,1,1,IFK Göteborg 1,11.0,Max Peter Bejmer,1.833561,0.157965,1.833561,0.157965,50.493803,...,2018-06-16 23:50:40.526991,2018-06-17 00:33:26.966159,63.816667,5.000676,0.078360,True,63.816667,5.055552,0.079220,True
1,1,2,IFK Göteborg 1,11.9,Johan Högstarnd,0.000000,0.000000,1.943138,0.084941,70.329796,...,2018-06-17 01:09:27.212763,2018-06-17 02:00:39.917233,68.950000,14.119436,0.204778,False,132.766667,19.878170,0.149723,True
2,1,3,IFK Göteborg 1,12.8,Vetle Ruud Bråten,1.748671,0.030981,1.748671,0.030981,69.227322,...,2018-06-17 02:22:40.649446,2018-06-17 03:14:29.862866,70.166667,3.394432,0.048377,True,202.933333,23.341899,0.115023,True
3,1,4,IFK Göteborg 1,8.7,Jonas Pilblad,1.803509,0.061865,1.803509,0.061865,46.785718,...,2018-06-17 03:14:19.478501,2018-06-17 04:08:12.547835,57.283333,-4.466399,-0.077970,True,260.216667,18.972108,0.072909,True
4,1,5,IFK Göteborg 1,8.7,Jens Wängdahl,1.802502,0.079207,1.802502,0.079207,45.176752,...,2018-06-17 04:05:53.357275,2018-06-17 05:02:06.911367,50.683333,2.080450,0.041048,True,310.900000,21.137501,0.067988,True

In [968]:
rmse(with_result.fin_median, with_result["real_mins"])

67.22883501822652

In [969]:
mean_absolute_error(with_result["real_mins"], with_result.fin_median)

40.199956090003596

In [970]:
with_result["team_error"] = with_result.fin_median - with_result["real_mins"]
with_result["team_error_perc"] = with_result["team_error"] / with_result["real_mins"]
with_result["team_in_int"] = (with_result["fin_start95"] < with_result["real_mins"]) & (with_result["fin_end95"] > with_result["real_mins"])

In [971]:
with_result["team_error_perc"].abs().mean()

0.09468762805661657

In [972]:
with_result["team_in_int"].mean()

0.7316133092110438

In [973]:
with_result[['team_id', "team", 'leg',  'leg_dist', "name", "fin_start95", "real_mins", "fin_end95", "team_in_int"]].head()

,team_id,team,leg,leg_dist,name,fin_start95,real_mins,fin_end95,team_in_int
0,1,IFK Göteborg 1,1,11.0,Max Peter Bejmer,50.675450,63.816667,93.449436,True
1,1,IFK Göteborg 1,2,11.9,Johan Högstarnd,129.453546,132.766667,180.665287,True
2,1,IFK Göteborg 1,3,12.8,Vetle Ruud Bråten,202.677491,202.933333,254.497714,True
3,1,IFK Göteborg 1,4,8.7,Jonas Pilblad,254.324642,260.216667,308.209131,True
4,1,IFK Göteborg 1,5,8.7,Jens Wängdahl,305.889288,310.900000,362.115189,True

In [986]:
with_result_web = with_result.copy().reset_index()
with_result_web.fint_median = with_result_web.fint_median.dt.tz_localize('EET').dt.tz_convert('UTC')
with_result_web.fint_start95 = with_result_web.fint_start95.dt.tz_localize('EET').dt.tz_convert('UTC')
with_result_web.fint_end95 = with_result_web.fint_end95.dt.tz_localize('EET').dt.tz_convert('UTC')
with_result_web = with_result_web[[
 'team_id',
 'leg',
 'team',
 'name',
 'fin_sum_log_mean', 
 'fin_sum_log_std',
 'fin_median',
 'real_mins',
 'fint_median',
 'fint_start95',
 'fint_end95']]
with_result_web.to_json('web-lib/with_result_ju2018.json', orient="records")