In [627]:
import pandas as pd
import numpy as np
from scipy.stats import lognorm
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error

In [628]:
in_file_name = 'data/grouped_paces_ju.tsv'
df_all = pd.read_csv(in_file_name, delimiter="\t")
history = df_all

In [629]:
order18 = pd.read_csv('data/running_order_j2018_ju.tsv', delimiter="\t")

In [630]:
#paces = df.as_matrix(["pace_1", "pace_2", "pace_3", "pace_4", "pace_5", "pace_6"])
paces = history[["pace_1", "pace_2", "pace_3", "pace_4", "pace_5", "pace_6"]]
logs = np.log(paces)
means = np.nanmean(logs, axis=1)
stdevs = np.nanstd(logs, axis=1)
history = history.assign(log_means=pd.Series(means).values)
history = history.assign(log_stdevs=pd.Series(stdevs).values)

/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: Mean of empty slice
  after removing the cwd from sys.path.
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/numpy/lib/nanfunctions.py:1434: RuntimeWarning: Degrees of freedom <= 0 for slice.
  keepdims=keepdims)

In [631]:
# Estimate values for all, but only use them if no history is available
with_history = history[np.isfinite(history.pace_2)]
x = with_history.mean_team_id.values
x = x.reshape(len(x), 1)

log_means = with_history.log_means.values.reshape(len(with_history.log_means), 1)
log_means_model = linear_model.LinearRegression()
log_means_model.fit(x, log_means)

estimated_log_means = log_means_model.predict(order18.team_id.values.reshape(len(order18.team_id), 1))
order18 = order18.assign(estimated_log_means=estimated_log_means)

log_stdevs = with_history.log_stdevs.values.reshape(len(with_history.log_stdevs), 1)
log_stdevs_model = linear_model.LinearRegression()
log_stdevs_model.fit(x, log_stdevs)

estimated_log_stdevs = log_stdevs_model.predict(order18.team_id.values.reshape(len(order18.team_id), 1))
order18 = order18.assign(estimated_log_stdevs=estimated_log_stdevs)
order18.head()

,team_id,team,team_base_name,leg,leg_dist,name,estimated_log_means,estimated_log_stdevs
0,5,Halden SK 1,Halden SK,1,11.0,Emil Wingstedt,1.944872,0.085008
1,5,Halden SK 1,Halden SK,2,11.9,Fredrik Eliasson,1.944872,0.085008
2,5,Halden SK 1,Halden SK,3,12.8,Thomas Natvig Årstad,1.944872,0.085008
3,5,Halden SK 1,Halden SK,4,8.7,Alexander Chepelin,1.944872,0.085008
4,5,Halden SK 1,Halden SK,5,8.7,Riccardo Scalet,1.944872,0.085008

In [632]:
# Combine history with 2018 runners 
no_history_row = pd.DataFrame([[0,0]], columns=["log_means", "log_stdevs"])
def get_history_row(running_order_row):
    name = running_order_row["name"].lower()
    
    by_name = history[history['name'] == name]
    by_name_and_colon = history[history['name'].str.contains(name + ":", regex=False)]

    runners = by_name.append(by_name_and_colon)
    if(len(runners) == 1):
        return runners
    team_name = running_order_row["team_base_name"].upper()
    runners = runners[runners['teams'].str.contains(team_name, regex=False)]
    if(len(runners) == 1):
        return runners
    if(len(runners) == 0):
        return no_history_row
    print(f"name '{name}' team_name '{team_name}'")
    print(f"by_name {len(by_name)} by_name_and_colon {len(by_name_and_colon)} runners {len(runners)}")
    print(f"Duplicate runner {runners}")
    #print(f"TEAMS by_name_and_colon {by_name_and_colon['teams']}")
    return runners.sort_values("num_runs", ascending = False).head(1)

def get_estimate_params(running_order_row):
    history_row = get_history_row(running_order_row)
    #print(f"estimate_row log_means {history_row.log_means} {history_row.log_stdevs}")
    log_means = history_row.log_means.values[0]
    log_stdevs = history_row.log_stdevs.values[0]
    return pd.Series({"history_log_means": log_means, "history_log_stdevs": log_stdevs})

#order18 = order18[order18['team'].str.contains("Reak") | order18['team'].str.contains("Puskasil") | order18['team'].str.contains("Rastihaukat")]
estimate_params = order18.apply(lambda row: get_estimate_params(row), axis=1)
order18 = order18.assign(history_log_means = estimate_params.history_log_means)
order18 = order18.assign(history_log_stdevs = estimate_params.history_log_stdevs)

In [633]:
order18['log_means'] = np.where(np.isfinite(order18["history_log_means"]) & order18["history_log_means"] > 0, order18["history_log_means"], order18["estimated_log_means"])
order18['log_stdevs'] = np.where(np.isfinite(order18["history_log_stdevs"]) & order18["history_log_stdevs"] > 0, order18["history_log_stdevs"], order18["estimated_log_stdevs"])
order18.head()

,team_id,team,team_base_name,leg,leg_dist,name,estimated_log_means,estimated_log_stdevs,history_log_means,history_log_stdevs,log_means,log_stdevs
0,5,Halden SK 1,Halden SK,1,11.0,Emil Wingstedt,1.944872,0.085008,1.763072,0.025436,1.763072,0.025436
1,5,Halden SK 1,Halden SK,2,11.9,Fredrik Eliasson,1.944872,0.085008,1.842846,0.093588,1.842846,0.093588
2,5,Halden SK 1,Halden SK,3,12.8,Thomas Natvig Årstad,1.944872,0.085008,1.797910,0.103600,1.797910,0.103600
3,5,Halden SK 1,Halden SK,4,8.7,Alexander Chepelin,1.944872,0.085008,1.929038,0.069687,1.929038,0.069687
4,5,Halden SK 1,Halden SK,5,8.7,Riccardo Scalet,1.944872,0.085008,1.958229,0.119586,1.958229,0.119586

In [634]:
# Calculate personal estimates
# s = sigma and scale = exp(mu).

log_means = np.exp(order18['log_means']) 
log_stdevs = order18['log_stdevs']

intervals95 = lognorm.interval(0.95, s = log_stdevs, scale = log_means)
means = lognorm.mean(s = log_stdevs, scale = log_means)
medians = lognorm.median(s = log_stdevs, scale = log_means)

In [635]:
order18 = order18.assign(ind_95_start = pd.Series(intervals95[0] * order18.leg_dist).values)
order18 = order18.assign(ind_95_end = pd.Series(intervals95[1] * order18.leg_dist).values)
order18 = order18.assign(ind_mean = pd.Series(means * order18.leg_dist).values)
order18 = order18.assign(ind_median = pd.Series(medians * order18.leg_dist).values)

In [636]:
by_teams = order18.set_index(["team_id", "leg"]).unstack()
by_teams.head()

                               team                              \
leg                               1                           2
team_id
5                       Halden SK 1                 Halden SK 1
11                       OK Linne 1                  OK Linne 1
14       Ikaalisten Nouseva-Voima 1  Ikaalisten Nouseva-Voima 1
17                     IL Tyrving 1                IL Tyrving 1
18                    Nydalens SK 1               Nydalens SK 1

                                                                 \
leg                               3                           4
team_id
5                       Halden SK 1                 Halden SK 1
11                       OK Linne 1                  OK Linne 1
14       Ikaalisten Nouseva-Voima 1  Ikaalisten Nouseva-Voima 1
17                     IL Tyrving 1                IL Tyrving 1
18                    Nydalens SK 1               Nydalens SK 1

                                                                 \
leg                               5                           6
team_id
5                       Halden SK 1                 Halden SK 1
11                       OK Linne 1                  OK Linne 1
14       Ikaalisten Nouseva-Voima 1  Ikaalisten Nouseva-Voima 1
17                     IL Tyrving 1                IL Tyrving 1
18                    Nydalens SK 1               Nydalens SK 1

                                               team_base_name  \
leg                               7                         1
team_id
5                       Halden SK 1                 Halden SK
11                       OK Linne 1                  OK Linne
14       Ikaalisten Nouseva-Voima 1  Ikaalisten Nouseva-Voima
17                     IL Tyrving 1                IL Tyrving
18                    Nydalens SK 1               Nydalens SK

                                                                ...      \
leg                             2                         3     ...
team_id                                                         ...
5                       Halden SK                 Halden SK     ...
11                       OK Linne                  OK Linne     ...
14       Ikaalisten Nouseva-Voima  Ikaalisten Nouseva-Voima     ...
17                     IL Tyrving                IL Tyrving     ...
18                    Nydalens SK               Nydalens SK     ...

          ind_mean                        ind_median                        \
leg              5          6           7          1          2          3
team_id
5        62.097304  75.794950   85.633899  64.133501  75.142332  77.273814
11       56.721972  67.114796   92.568771  68.047577  75.630890  74.017768
14       62.576465  66.628415  102.489651  70.737369  77.901033  84.792953
17       57.333536  67.761076   84.976476  65.716365  72.341834  72.698226
18       50.992857  65.046605   94.260852  69.885691  77.440836  76.428838


leg              4          5          6           7
team_id
5        59.881118  61.654866  75.521582   85.578863
11       51.993243  55.593390  66.933450   92.321787
14       54.158064  62.080109  66.525176  101.902216
17       53.732789  57.079184  67.619799   84.945242
18       55.973405  50.808000  64.810800   93.949004

[5 rows x 98 columns]

In [637]:
# remove teams missing some runners
print(len(by_teams))
by_teams = by_teams[np.isfinite(by_teams.log_means[1]) & np.isfinite(by_teams.log_means[2]) & np.isfinite(by_teams.log_means[3]) & np.isfinite(by_teams.log_means[4]) & np.isfinite(by_teams.log_means[5]) & np.isfinite(by_teams.log_means[6]) & np.isfinite(by_teams.log_means[7])] 
print(len(by_teams))

1103
1080

In [638]:
# Sum of log normal variables is not defined 
# so we simulate 10000 runs for each user and sum them and then do statistics on simulated results 
def simulate_relay_estimates(row):
    samples = pd.DataFrame()
    for i in range(1,8):
        if np.isnan(row["log_means"][i]):
            print(row["log_means"])
            print(row["name"])
        samples[i] = row["leg_dist"][i] * lognorm.rvs(s = row["log_stdevs"][i], scale = np.exp(row["log_means"][i]), size = 10000)

    samples_sums = pd.DataFrame()
    # leg_1 
    # leg_1 + leg_2
    # leg_1 + leg_2 + leg_3
    # ...
    for i in range(1,8):
        samples_sums[i] = np.sum([ samples[j] for j in range(1,i+1) ], axis=0)

    start95 = samples_sums.quantile(0.025)
    end95 = samples_sums.quantile(0.975)
    medians = samples_sums.median()
    means = samples_sums.mean()
    
    sum_logs = np.log(samples_sums)
    sum_log_means = np.mean(sum_logs)
    sum_log_stds = np.std(sum_logs)
    
    """
    for i in range(1,8):
        bins = int(samples_sums[i].max() - samples_sums[i].min())
        name = row["name"][i]
        plt.title(f"{name} bins = {bins}")
        plt.hist(samples_sums[i], bins=bins)
        #plt.axvline(x=row["fin_real"][i], color="r")        
        plt.axvline(x=medians[i], color="g")
        plt.axvline(x=means[i], color="yellow")
        plt.show()    
    """
    
    """
    bins = int( (samples_sums.max().max() - samples_sums.min().min()) / 5) 
    plt.figure(figsize=(20, 6))
    plt.title(f"Whole team, bins = {bins}")
    plt.hist([samples_sums[1], samples_sums[2], samples_sums[3], samples_sums[4], samples_sums[5], samples_sums[6], samples_sums[7]], bins=bins)
    for i in range(1,8):
        #plt.axvline(x=row["fin_real"][i], color="r")
        plt.axvline(x=medians[i], color="g")

    plt.show()
    """
    
    fin_start95_dict = {f"fin_start95_{leg}" : start95.values[leg-1] for leg in range(1,8)}
    fin_end95_dict = {f"fin_end95_{leg}" : end95.values[leg-1] for leg in range(1,8)}
    fin_median_dict = {f"fin_median_{leg}" : medians.values[leg-1] for leg in range(1,8)}
    fin_mean_dict = {f"fin_mean_{leg}" : means.values[leg-1] for leg in range(1,8)}
    fin_sum_log_means_dict = {f"fin_sum_log_mean_{leg}" : sum_log_means.values[leg-1] for leg in range(1,8)}
    fin_sum_log_stds_dict = {f"fin_sum_log_std_{leg}" : sum_log_stds.values[leg-1] for leg in range(1,8)}
    new_cols = {**fin_start95_dict, **fin_end95_dict, **fin_median_dict, **fin_mean_dict, **fin_sum_log_means_dict, **fin_sum_log_stds_dict}

    #print(start95.values)
    #print(new_cols)
    return pd.Series(new_cols)

relay_estimates = by_teams.apply(simulate_relay_estimates, axis=1)
relay_estimates.head()

,fin_start95_1,fin_start95_2,fin_start95_3,fin_start95_4,fin_start95_5,fin_start95_6,fin_start95_7,fin_end95_1,fin_end95_2,fin_end95_3,...,fin_sum_log_mean_5,fin_sum_log_mean_6,fin_sum_log_mean_7,fin_sum_log_std_1,fin_sum_log_std_2,fin_sum_log_std_3,fin_sum_log_std_4,fin_sum_log_std_5,fin_sum_log_std_6,fin_sum_log_std_7
team_id,,,,,,,,,,,,,,,,,,,,,
5,60.941195,126.383686,197.083336,255.179316,312.999904,386.320286,471.315829,67.423464,154.778261,239.665396,...,5.826917,6.028734,6.216316,0.025649,0.051939,0.050357,0.042362,0.041117,0.036754,0.031030
11,57.276225,126.053227,196.440692,247.979157,296.874554,362.467244,452.232376,81.001740,164.180023,242.686463,...,5.790118,5.976999,6.187693,0.088019,0.067782,0.053707,0.044329,0.050158,0.043502,0.037802
14,57.850906,130.996156,208.339678,261.556283,320.340103,386.119877,482.225851,86.604476,169.439157,263.702023,...,5.861390,6.035225,6.254755,0.102325,0.065848,0.060341,0.050209,0.046977,0.040432,0.038726
17,56.497435,127.437844,197.545828,248.309112,302.620906,368.692201,453.385716,76.228464,149.893898,225.473293,...,5.775215,5.966115,6.163310,0.075456,0.041218,0.033485,0.033013,0.032108,0.028722,0.024039
18,58.249694,127.799372,201.202946,255.658360,305.040390,368.198407,458.666798,83.799862,170.529880,250.692645,...,5.804426,5.983448,6.196508,0.092148,0.074212,0.056347,0.048138,0.042901,0.038300,0.034584

In [639]:
len(relay_estimates)
relay_estimates[["fin_sum_log_mean_1", "fin_sum_log_std_1", "fin_sum_log_mean_2", "fin_sum_log_std_2", "fin_sum_log_mean_3", "fin_sum_log_std_3"]]

,fin_sum_log_mean_1,fin_sum_log_std_1,fin_sum_log_mean_2,fin_sum_log_std_2,fin_sum_log_mean_3,fin_sum_log_std_3
team_id,,,,,,
5,4.161056,0.025649,4.938247,0.051939,5.380190,0.050357
11,4.219444,0.088019,4.969686,0.067782,5.385705,0.053707
14,4.259644,0.102325,5.003901,0.065848,5.456536,0.060341
17,4.184785,0.075456,4.928231,0.041218,5.351632,0.033485
18,4.246103,0.092148,4.994718,0.074212,5.414058,0.056347
26,4.219299,0.091361,4.977609,0.044300,5.422022,0.045161
28,4.442320,0.086102,5.119145,0.092990,5.510533,0.068426
32,4.364302,0.123580,5.031964,0.082959,5.457536,0.058048
35,4.139832,0.086115,4.937183,0.060698,5.404917,0.038076
37,4.243491,0.051673,4.939196,0.055502,5.413308,0.041579
42,4.195277,0.086058,5.155661,0.117413,5.543824,0.084281
47,4.361626,0.085922,5.095929,0.051864,5.540277,0.045342
48,4.297139,0.059700,5.060548,0.068130,5.505777,0.056977
50,4.228081,0.065304,4.971231,0.052379,5.462945,0.046350
57,4.276521,0.108914,5.020341,0.059720,5.443253,0.047762
59,4.294330,0.059859,5.066907,0.054388,5.479735,0.050008
60,4.366860,0.084515,5.032669,0.043711,5.483002,0.035801
61,4.346809,0.058254,5.056265,0.047976,5.498244,0.041142
62,4.367677,0.086419,5.020566,0.051406,5.466285,0.037158
66,4.368515,0.085569,5.043967,0.059146,5.475707,0.052925
68,4.292561,0.157450,5.069680,0.117822,5.503949,0.081962
70,4.258374,0.048860,5.005843,0.053134,5.443599,0.040325
77,4.215759,0.049706,4.948986,0.030168,5.453607,0.038534
80,4.284549,0.049221,5.086793,0.049428,5.525578,0.045316
87,4.318008,0.102003,5.063093,0.079983,5.468825,0.053895
88,4.294358,0.105427,5.036268,0.072218,5.486449,0.069506
89,4.479081,0.156755,5.134940,0.082270,5.539365,0.062951
94,4.427489,0.141793,5.169001,0.102003,5.597287,0.071160
95,4.388788,0.086691,5.077770,0.061264,5.509325,0.048323
96,4.324556,0.093016,5.058334,0.070921,5.510704,0.052777
...,...,...,...,...,...,...
1851,4.877896,0.048717,5.760428,0.070983,6.249526,0.062826
1852,4.683375,0.034264,5.683776,0.075159,6.107918,0.078924
1853,4.957050,0.115104,5.595214,0.069220,6.024810,0.047691
1854,5.145781,0.117332,5.881093,0.082508,6.326304,0.067511
1856,5.046855,0.012841,5.761718,0.029081,6.154189,0.026055
1857,5.146134,0.114746,5.882533,0.080808,6.105427,0.068888
1858,5.143903,0.116664,5.739210,0.074965,6.237634,0.064656
1859,5.146632,0.116586,5.883138,0.082255,6.328217,0.067424
1860,4.720821,0.128664,5.693955,0.087483,6.108616,0.061084
1861,5.146548,0.114593,5.732201,0.065142,6.090961,0.050746
1862,5.147438,0.116005,5.867844,0.056629,6.212099,0.042746
1863,5.147781,0.116628,5.884749,0.082758,6.206372,0.067943
1864,5.149651,0.116162,5.835499,0.096280,6.299197,0.073829
1868,5.149744,0.115621,5.709542,0.082565,6.221539,0.067544
1869,4.632578,0.216663,5.674046,0.107745,6.201484,0.079783
1870,4.556356,0.053209,5.372939,0.062397,5.796325,0.042687
1872,5.150443,0.117504,5.887518,0.082464,6.176137,0.068930
1873,5.153242,0.115845,5.890322,0.083512,6.335690,0.067811
1874,5.151789,0.114868,5.725623,0.073113,6.098677,0.059486
1875,4.561343,0.116042,5.648557,0.085847,6.187591,0.069456
1877,4.585390,0.029173,5.656363,0.076752,6.192014,0.066086
1878,4.660002,0.099059,5.681632,0.083227,6.207332,0.069046
1881,4.348021,0.115444,5.581570,0.088763,6.149534,0.071446
1887,4.942291,0.052395,5.685845,0.082743,6.128010,0.079203
1888,4.518853,0.099695,5.282874,0.048368,5.803358,0.049963
1889,5.158959,0.117360,5.687997,0.073156,6.212842,0.063734
1890,4.585582,0.079799,5.295792,0.068113,5.998942,0.067479
1892,4.692679,0.138538,5.700930,0.089832,6.219839,0.071903
1894,5.162241,0.116772,5.609125,0.075776,6.167492,0.066336
1896,4.816212,0.066629,5.564986,0.063183,5.972750,0.053197

In [640]:
# Flatten the troublesome multi-index to field_{leg} etc...
by_teams_flat = by_teams.copy()
by_teams_flat.columns = [f'{x[0]}_{x[1]}' for x in by_teams_flat.columns]
by_teams_flat.reset_index()

,team_id,team_1,team_2,team_3,team_4,team_5,team_6,team_7,team_base_name_1,team_base_name_2,...,ind_mean_5,ind_mean_6,ind_mean_7,ind_median_1,ind_median_2,ind_median_3,ind_median_4,ind_median_5,ind_median_6,ind_median_7
0,5,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK 1,Halden SK,Halden SK,...,62.097304,75.794950,85.633899,64.133501,75.142332,77.273814,59.881118,61.654866,75.521582,85.578863
1,11,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne 1,OK Linne,OK Linne,...,56.721972,67.114796,92.568771,68.047577,75.630890,74.017768,51.993243,55.593390,66.933450,92.321787
2,14,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima 1,Ikaalisten Nouseva-Voima,Ikaalisten Nouseva-Voima,...,62.576465,66.628415,102.489651,70.737369,77.901033,84.792953,54.158064,62.080109,66.525176,101.902216
3,17,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving 1,IL Tyrving,IL Tyrving,...,57.333536,67.761076,84.976476,65.716365,72.341834,72.698226,53.732789,57.079184,67.619799,84.945242
4,18,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK 1,Nydalens SK,Nydalens SK,...,50.992857,65.046605,94.260852,69.885691,77.440836,76.428838,55.973405,50.808000,64.810800,93.949004
5,26,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI 1,NTNUI,NTNUI,...,61.617233,72.004349,101.795724,68.011089,76.987816,80.864879,66.259730,61.393158,71.633572,101.693527
6,28,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri 1,Angelniemen Ankkuri,Angelniemen Ankkuri,...,58.784104,67.740436,108.455636,85.074000,81.385672,79.706644,55.722948,58.474682,67.436225,108.060920
7,32,OK Orion 1,OK Orion 1,OK Orion 1,OK Orion 1,OK Orion 1,OK Orion 1,OK Orion 1,OK Orion,OK Orion,...,58.861257,76.690217,97.081819,78.620226,74.145082,81.015163,58.979693,58.646700,76.410671,96.672657
8,35,OLV Baselland 1,OLV Baselland 1,OLV Baselland 1,OLV Baselland 1,OLV Baselland 1,OLV Baselland 1,OLV Baselland 1,OLV Baselland,OLV Baselland,...,57.324702,61.586819,86.896183,62.876000,76.362300,83.038686,53.400600,57.115500,61.538667,86.667308
9,37,Järla Orientering 1,Järla Orientering 1,Järla Orientering 1,Järla Orientering 1,Järla Orientering 1,Järla Orientering 1,Järla Orientering 1,Järla Orientering,Järla Orientering,...,58.862402,78.894655,95.667554,69.616274,69.794621,84.531260,57.710983,58.602492,78.501248,95.300935
10,42,NTNUI 2,NTNUI 2,NTNUI 2,NTNUI 2,NTNUI 2,NTNUI 2,NTNUI 2,NTNUI,NTNUI,...,61.635344,81.823769,102.047750,66.363000,106.680289,81.658879,57.849225,61.446068,81.525486,101.699044
11,47,Halden SK 2,Halden SK 2,Halden SK 2,Halden SK 2,Halden SK 2,Halden SK 2,Halden SK 2,Halden SK,Halden SK,...,58.590506,77.192157,97.959395,78.333367,84.834771,91.151555,59.797213,58.422549,76.909124,97.380234
12,48,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna 1,IK Hakarpspojkarna,IK Hakarpspojkarna,...,57.620115,72.085196,99.693926,73.539623,83.708899,87.999761,53.900829,57.568951,71.958190,98.969351
13,50,OK Tisaren 1,OK Tisaren 1,OK Tisaren 1,OK Tisaren 1,OK Tisaren 1,OK Tisaren 1,OK Tisaren 1,OK Tisaren,OK Tisaren,...,62.263756,86.482876,109.498330,68.562242,75.439289,91.270168,62.035192,62.035192,86.075668,109.096373
14,57,OK Linne 2,OK Linne 2,OK Linne 2,OK Linne 2,OK Linne 2,OK Linne 2,OK Linne 2,OK Linne,OK Linne,...,67.228553,69.508026,99.313387,72.022633,79.186176,79.654689,63.710200,66.947079,69.303610,98.343238
15,59,Tullinge SK 1,Tullinge SK 1,Tullinge SK 1,Tullinge SK 1,Tullinge SK 1,Tullinge SK 1,Tullinge SK 1,Tullinge SK,Tullinge SK,...,55.631841,73.815671,99.885624,73.330624,85.184417,80.704248,59.956722,55.386957,73.619891,99.810640
16,60,Kristiansand OK 1,Kristiansand OK 1,Kristiansand OK 1,Kristiansand OK 1,Kristiansand OK 1,Kristiansand OK 1,Kristiansand OK 1,Kristiansand OK,Kristiansand OK,...,57.483942,68.655600,102.584105,78.776038,74.402361,87.020449,62.304685,57.272100,68.654934,102.322382
17,61,Ikaalisten Nouseva-Voima 2,Ikaalisten Nouseva-Voima 2,Ikaalisten Nouseva-Voima 2,Ikaalisten Nouseva-Voima 2,Ikaalisten Nouseva-Voima 2,Ikaalisten Nouseva-Voima 2,Ikaalisten Nouseva-Voima 2,Ikaalisten Nouseva-Voima,Ikaalisten Nouseva-Voima,...,60.767518,70.687535,103.276372,77.183093,79.615016,87.070050,60.796643,60.517632,70.392485,103.138536
18,62,Navi 1,Navi 1,Navi 1,Navi 1,Navi 1,Navi 1,Navi 1,Navi,Navi,...,61.744864,72.134846,108.140139,78.844363,72.459177,84.990561,61.511943,61.459187,71.771742,107.682802
19,66,Rehns BK 1,Rehns BK 1,Rehns BK 1,Rehns BK 1,Rehns BK 1,Rehns BK 1,Rehns BK 1,Rehns BK,Rehns BK,...,62.478216,72.626913,106.942426,78.981190,75.901440,83.345643,56.188431,62.036001,72.453802,106.393977
20,68,Nord West 1,Nord West 1,Nord West 1,Nord West 1,Nord West 1,Nord West 1,Nord West 1,Nord West,Nord West,...,61.335542,89.127080,110.358905,73.003102,84.707784,85.923924,62.521121,61.108800,88.797600,109.950937
21,70,Pellon Ponsi 1,Pellon Ponsi 1,Pellon Ponsi 1,Pellon Ponsi 1,Pellon Ponsi 1,Pellon Ponsi 1,Pellon Ponsi 1,Pellon Ponsi,Pellon Ponsi,...,63.841928,80.851702,106.220410,70.735062,78.386802,81.794866,56.316365,63.670176,80.476900,106.020473
22,77,Bäkkelagets SK 1,Bäkkelagets SK 1,Bäkkelagets SK 1,Bäkkelagets SK 1,Bäkkelagets SK 1,Bäkkelagets SK 1,Bäkkelagets SK 1,Bäkkelagets SK,Bäkkelagets SK,...,57.482399,73.602094,110.791730,67.758100,73.239586,92.344660,55.382296,57.211281,73.440271,110.380726
23,80,Anttolan Urheilijat 1,Anttolan Urheilijat 1,Anttolan Urheilijat 1,Anttolan Urheilijat 1,Anttolan Urheilijat 1,Anttolan Urheilijat 1,Anttolan Urheilijat 1,Anttolan Urheilijat,Anttolan Urheilijat,...,57.061479,76.662527,105.826217,72.511669,89.108402,88.717846,67.732025,56.952481,76.445736,105.424183
24,87,Nydalens SK 2,Nydalens SK 2,Nydalens SK 2,Nydalens SK 2,Nydalens SK 2,Nydalens SK 2,Nydalens SK 2,Nydalens SK,Nydalens SK,...,63.273815,80.034458,101.731915,74.945699,82.430932,78.893938,53.887800,63.038176,79.736400,101.436105
25,88,Espoon Suunta 1,Espoon Suunta 1,Espoon Suunta 1,Espoon Suunta 1,Espoon Suunta 1,Espoon Suunta 1,Espoon Suunta 1,Espoon Suunta,Espoon Suunta,...,63.108107,80.724801,90.870852,73.387227,80.245657,86.708384,57.661634,62.700300,80.317374,90.644185
26,89,Turun Suunnistajat 1,Turun Suunnistajat 1,Turun Suunnistajat 1,Turun Suunnistajat 1,Turun Suunnistajat 1,Turun Suunnistajat 1,Turun Suunnistajat 1,Turun Suunnistajat,Turun Suunnistajat,...,61.317518,75.845482,111.371475,88.232691,81.172437,84.224000,62.403079,61.044158,75.503544,110.956392
27,94,Kokkolan Suunnistajat 1,Kokkolan Suunnistajat 1,Kokkolan Suunnistajat 1,Kokkolan Suunnistajat 1,Kokkolan Suunnistajat 1,Kokkolan Suunnistajat 1,Kokkolan Suunnistajat 1,Kokkolan Suunnistajat,Kokkolan Suunnistajat,...,61.425915,86.073284,113.897558,83.657321,91.283422,93.393845,84.995942,61.184227,85.506646,113.555404
28,95,Växjö OK 1,Växjö OK 1,Växjö OK 1,Växjö OK 1,Växjö OK 1,Växjö OK 1,Växjö OK 1,Växjö OK,Växjö OK,...,63.494355,74.794558,111.662486,80.454000,79.622900,86.394481,65.481148,63.257160,74.587395,111.245350
29,96,Valkeakosken Haka 1,Valkeakosken Haka 1,Valkeakosken Haka 1,Valkeakosken Haka 1,Valkeakosken Haka 1,Valkeakosken Haka 1,Valkeakosken Haka 1,Valkeakosken Haka,Valkeakosken Haka,...,70.105594,78.047798,105.735648,75.446336,81.321749,89.665289,86.797141,69.843600,78.015638,105.340500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,1851,KIWA Inspecta 1,KIWA Inspecta 1,KIWA Inspecta 1,KIWA Inspecta 1,KIWA Inspecta 1,KIWA Inspecta 1,KIWA Inspecta 1,KIWA Inspecta,KIWA Inspecta,...,136.335641,119.570897,239.762678,131.462831,185.232140,199.241294,135.421817,135.421817,118.361505,238.155609
1051,1852,Ajolinja 2,Ajolinja 2,Ajolinja 2,Ajolinja 2,Ajolinja 2,Ajolinja 2,Ajolinja 2,Ajolinja,Ajolinja,...,136.395017,107.456864,239.867099,108.140037,185.312452,153.404534,135.480532,135.480532,106.736400,238.258866
1052,1853,Montun Uho 1,Montun Uho 1,Montun Uho 1,Montun Uho 1,Montun Uho 1,Montun Uho 1,Montun Uho 1,Montun Uho,Montun Uho,...,110.698897,148.687188,186.418175,142.186000,126.307969,144.039021,77.238600,110.519453,147.690000,185.130425
1053,1854,Lateksii 1,Lateksii 1,Lateksii 1,Lateksii 1,Lateksii 1,Lateksii 1,Lateksii 1,Lateksii,Lateksii,...,136.513848,169.465467,240.076078,171.445796,185.473179,199.500562,135.598038,135.598038,168.328599,238.465516
1054,1856,Syrjäytyneet 1,Syrjäytyneet 1,Syrjäytyneet 1,Syrjäytyneet 1,Syrjäytyneet 1,Syrjäytyneet 1,Syrjäytyneet 1,Syrjäytyneet,Syrjäytyneet,...,142.987328,163.377085,139.604860,155.521544,162.228710,152.702706,145.168200,140.118279,163.172583,139.538869
1055,1857,Dream Team 1,Dream Team 1,Dream Team 1,Dream Team 1,Dream Team 1,Dream Team 1,Dream Team 1,Dream Team,Dream Team,...,136.692289,195.382800,199.335705,171.668894,185.714531,88.832000,135.774489,135.774489,195.379694,197.992782
1056,1858,Patria Land 2,Patria Land 2,Patria Land 2,Patria Land 2,Patria Land 2,Patria Land 2,Patria Land 2,Patria Land,Patria Land,...,136.751821,169.760881,240.494582,171.743325,138.567545,199.846778,135.833357,135.833357,168.620719,238.879352
1057,1859,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin 1,Team Kotiinpaluu Jotenkin,Team Kotiinpaluu Jotenkin,...,136.811379,169.834816,240.599322,171.817788,185.875607,199.933426,135.892250,135.892250,168.693828,238.982923
1058,1860,Musta Neliö 3,Musta Neliö 3,Musta Neliö 3,Musta Neliö 3,Musta Neliö 3,Musta Neliö 3,Musta Neliö 3,Musta Neliö,Musta Neliö,...,136.870963,241.088552,240.704108,112.551223,183.688400,152.332643,135.951169,135.951169,239.468400,239.086539
1059,1861,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67 1,Kadettikurssi 67,Kadettikurssi 67,...,136.930574,169.982781,200.810642,171.966811,136.359487,132.648630,136.010114,136.010114,168.840141,200.224911
1060,1862,OK kunto OK 1,OK kunto OK 1,OK kunto OK 1,OK kunto OK 1,OK kunto OK 1,OK kunto OK 1,OK kunto OK 1,OK kunto OK,OK kunto OK,...,109.298100,156.130219,157.743024,172.041371,180.903790,145.063558,99.648309,109.296047,156.035099,157.635819
1061,1863,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs 1,Suomenlahden merivartiostoHelRtOs,Suomenlahden merivartiostoHelRtOs,...,137.049872,170.130875,175.930231,172.115963,186.198178,135.398400,136.128080,136.128080,168.986582,173.546842
1062,1864,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut 2,Sallan Karhut,Sallan Karhut,...,161.844670,138.176034,241.123709,172.190587,168.095974,200.367229,147.902312,159.970956,137.246400,239.501453
1063,1868,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat 1,Tuomenmarjat,Tuomenmarjat,...,176.266066,121.388832,241.544042,172.489409,128.403600,200.714949,84.987235,175.078800,120.571200,239.917087
1064,1869,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW 1,HattikW,HattikW,...,137.408391,170.575934,241.649240,102.914555,186.683084,200.801973,136.482591,136.482591,169.426665,240.021108
1065,1870,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix 1,Kerkesix,Kerkesix,...,83.167653,170.650224,241.754484,95.299434,119.890630,113.471102,89.577023,83.142194,169.500123,240.125175
1066,1872,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät 1,Rinnerähmät,Rinnerähmät,...,67.679932,170.798900,241.965109,172.788750,186.926011,119.488000,136.660193,67.567986,169.647136,240.333443
1067,1873,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18 1,Spessut Pummaajat -18,Spessut Pummaajat -18,...,137.647926,170.873287,242.070491,172.863666,187.007057,201.150447,136.719445,136.719445,169.720690,240.437644
1068,1874,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat 1,Keihäsmatkat,Keihäsmatkat,...,99.104611,148.054791,242.175918,172.938614,133.153963,137.926739,89.322900,99.086950,146.904242,240.541891
1069,1875,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha 1,Team Maha,Team Maha,...,125.903550,189.349158,242.281392,95.755000,187.169254,201.324911,94.853617,125.053800,188.071200,240.646183
1070,1877,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret 1,Koskenkorvan Kisattaret,Koskenkorvan Kisattaret,...,137.887879,137.896830,178.394011,98.044718,187.331591,201.499527,99.406200,136.956709,136.965600,177.189300
1071,1878,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo 1,Pinkki Dynamo,Pinkki Dynamo,...,137.947933,171.245709,242.598088,105.716101,187.412813,201.586891,137.016090,137.016090,170.088939,240.959331
1072,1881,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren 3,OK Tisaren,OK Tisaren,...,138.128251,171.469553,242.915199,77.396000,187.656689,201.849212,137.194386,137.194386,170.310272,241.272886
1073,1887,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj 1,RPW2018 Yj,RPW2018 Yj,...,124.461214,151.352435,193.055697,140.026653,153.955496,161.908473,108.461563,123.618300,149.774652,191.997963
1074,1888,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta 11,Espoon Suunta,Espoon Suunta,...,136.462017,135.739037,162.069069,91.717804,104.922307,133.995714,98.208094,135.724022,134.362421,160.709003
1075,1889,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit 2,IC-Electrofit,IC-Electrofit,...,104.805844,172.067901,243.762860,174.066753,120.799010,202.550403,137.670977,104.775556,170.901903,242.111029
1076,1890,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi 3,SK Vuoksi,SK Vuoksi,...,140.851363,172.142842,243.869026,98.181104,101.065316,202.638223,137.730667,138.571220,170.976001,242.216001
1077,1892,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai 1,käpylä maanantai,käpylä maanantai,...,138.791439,155.353240,244.081496,109.282626,188.553620,202.813977,137.850125,137.850125,154.299600,242.426082
1078,1894,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI 5,NTNUI,NTNUI,...,138.912361,107.065802,244.294152,174.444432,97.803044,202.989884,137.969687,137.969687,107.039313,242.636346
1079,1896,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK 7,Kangasala SK,Kangasala SK,...,100.679832,111.075213,200.411171,123.508704,137.077202,130.893305,94.381221,98.633808,110.283170,198.533840

In [641]:
estimates = pd.concat([by_teams_flat, relay_estimates], axis=1, join='inner')

In [642]:
# Convert minutes to date and times
start_timestamp = pd.Timestamp(year = 2018, month = 6, day = 16, hour = 23)

for leg in range(1,8):
    estimates[f"fint_median_{leg}"] = pd.to_datetime(estimates[f"fin_median_{leg}"] * 60, unit = "s", origin= start_timestamp)
    estimates[f"fint_start95_{leg}"] = pd.to_datetime(estimates[f"fin_start95_{leg}"] * 60, unit = "s", origin= start_timestamp)
    estimates[f"fint_end95_{leg}"] = pd.to_datetime(estimates[f"fin_end95_{leg}"] * 60, unit = "s", origin= start_timestamp)

In [643]:
# Sort teams by estimated total time 
estimates = estimates.sort_values("fin_median_7")

estimates.to_csv('data/team_estimates_ju2018.tsv', sep="\t")

In [644]:
estimates[["team_1", "fin_median_7"]].head(10)

                             team_1  fin_median_7
team_id
17                     IL Tyrving 1    475.009267
35                  OLV Baselland 1    481.967757
11                       OK Linne 1    486.455304
18                    Nydalens SK 1    490.930802
5                       Halden SK 1    500.660801
37              Järla Orientering 1    515.993759
14       Ikaalisten Nouseva-Voima 1    520.603481
150                    IL Tyrving 2    526.079246
32                       OK Orion 1    526.680712
26                          NTNUI 1    529.109118

In [645]:
teams_to_follow = estimates[estimates['team_1'].str.contains("Reak") | estimates['team_1'].str.contains("Puskasil") | estimates['team_1'].str.contains("Rastihaukat")]
teams_to_follow[["team_1", "fin_median_7", "fin_start95_7", "fin_end95_7"]]

                        team_1  fin_median_7  fin_start95_7  fin_end95_7
team_id
429      Reaktor Innovations 1    744.993832     697.861608   797.586145
568              Rastihaukat 1    752.618464     698.750796   810.092776
1270     Reaktor Innovations 2    883.602878     796.114177   990.572382
1246             Rastihaukat 2    909.593489     831.641398   995.214894
1131         Puskasilimät OK 1    912.664073     854.324202   975.026698

In [646]:
leg_1_cols = list(filter(lambda c: "_1" in c,estimates.columns.values))
column_base_names = list(map(lambda c: c[:-2], leg_1_cols))
runner_estimates = pd.wide_to_long(estimates.reset_index(), stubnames=column_base_names, i ="team_id", j="leg", sep = "_").sort_values(by=['team_id', 'leg'])
runner_estimates = runner_estimates.drop(['team_base_name', 'estimated_log_means', 'estimated_log_stdevs'], axis=1)
runner_estimates.head()

                    team  leg_dist                  name  history_log_means  \
team_id leg
5       1    Halden SK 1      11.0        Emil Wingstedt           1.763072
        2    Halden SK 1      11.9      Fredrik Eliasson           1.842846
        3    Halden SK 1      12.8  Thomas Natvig Årstad           1.797910
        4    Halden SK 1       8.7    Alexander Chepelin           1.929038
        5    Halden SK 1       8.7       Riccardo Scalet           1.958229

             history_log_stdevs  log_means  log_stdevs  ind_95_start  \
team_id leg
5       1              0.025436   1.763072    0.025436     61.014607
        2              0.093588   1.842846    0.093588     62.549244
        3              0.103600   1.797910    0.103600     63.073600
        4              0.069687   1.929038    0.069687     52.236299
        5              0.119586   1.958229    0.119586     48.772555

             ind_95_end   ind_mean  ind_median  fin_start95   fin_end95  \
team_id leg
5       1     67.411824  64.154251   64.133501    60.941195   67.423464
        2     90.270797  75.472132   75.142332   126.383686  154.778261
        3     94.671024  77.689619   77.273814   197.083336  239.665396
        4     68.644760  60.026693   59.881118   255.179316  301.078958
        5     77.939788  62.097304   61.654866   312.999904  368.391323

             fin_median    fin_mean  fin_sum_log_mean  fin_sum_log_std  \
team_id leg
5       1     64.143575   64.160326          4.161056         0.025649
        2    139.428258  139.714078          4.938247         0.051939
        3    216.943106  217.339309          5.380190         0.050357
        4    277.093401  277.365197          5.624437         0.042362
        5    339.404082  339.598066          5.826917         0.041117

                           fint_median               fint_start95  \
team_id leg
5       1   2018-06-17 00:04:08.614484 2018-06-17 00:00:56.471699
        2   2018-06-17 01:19:25.695451 2018-06-17 01:06:23.021169
        3   2018-06-17 02:36:56.586359 2018-06-17 02:17:05.000161
        4   2018-06-17 03:37:05.604081 2018-06-17 03:15:10.758942
        5   2018-06-17 04:39:24.244937 2018-06-17 04:12:59.994236

                            fint_end95
team_id leg
5       1   2018-06-17 00:07:25.407826
        2   2018-06-17 01:34:46.695672
        3   2018-06-17 02:59:39.923789
        4   2018-06-17 04:01:04.737494
        5   2018-06-17 05:08:23.479403

In [647]:
runner_estimates.to_csv('data/runner_estimates_ju2018.tsv', sep="\t")

In [648]:
runner_estimates[runner_estimates['team'].str.contains("Reak")][["name", "log_means", "log_stdevs", "ind_median"]]

                           name  log_means  log_stdevs  ind_median
team_id leg
429     1        Mikko Peltonen   2.184951    0.081299   97.792383
        2       Pasi Huhtiniemi   2.222239    0.072482  109.812846
        3          Joni Freeman   2.130879    0.113846  107.805019
        4       Tuomas Kareinen   2.293240    0.160070   86.190780
        5       Janne Vaittinen   2.324384    0.039861   88.917301
        6         Olavi Kanerva   2.128667    0.092121   90.759473
        7         Jyri Kytömäki   2.355319    0.048494  161.284847
1270    1    Antti-Ville Jokela   2.363116    0.106230  116.864000
        2    Karri-Pekka Laakso   2.414677    0.081841  133.115223
        3    Oskari Pirttikoski   2.637533    0.194072  178.927107
        4         Jeppe Koivula   2.043968    0.073759   67.174301
        5          Tommi Simell   2.493221    0.106230  105.271651
        6             Mikko Apo   2.406347    0.186769  119.808344
        7           Aki Kaivola   2.325227    0.106230  156.503700

In [649]:
for_print = runner_estimates.copy()
for_print = for_print.reset_index()
for_print = for_print.set_index('team_id')
for_print = for_print.round(2)
for_print.fint_median = for_print.fint_median.dt.strftime("%H:%M")
for_print.fint_start95 = for_print.fint_start95.dt.strftime("%H:%M")
for_print.fint_end95 = for_print.fint_end95.dt.strftime("%H:%M")
for_print = for_print[['team',
 'leg',
 'name',
 'ind_median', 
 'ind_95_start', 
 'ind_95_end', 
 'fin_median',
 'fint_median',
 'fint_start95',
 'fint_end95']]
for_print.head()

,team,leg,name,ind_median,ind_95_start,ind_95_end,fin_median,fint_median,fint_start95,fint_end95
team_id,,,,,,,,,,
5,Halden SK 1,1,Emil Wingstedt,64.13,61.01,67.41,64.14,00:04,00:00,00:07
5,Halden SK 1,2,Fredrik Eliasson,75.14,62.55,90.27,139.43,01:19,01:06,01:34
5,Halden SK 1,3,Thomas Natvig Årstad,77.27,63.07,94.67,216.94,02:36,02:17,02:59
5,Halden SK 1,4,Alexander Chepelin,59.88,52.24,68.64,277.09,03:37,03:15,04:01
5,Halden SK 1,5,Riccardo Scalet,61.65,48.77,77.94,339.40,04:39,04:12,05:08

In [650]:
for_print.to_csv('for_print_ju2018.tsv', sep="\t")

In [651]:
for_print[for_print['team'].str.contains("Reak") | for_print['team'].str.contains("Puskasil") | for_print['team'].str.contains("Rastihaukat 2")]

,team,leg,name,ind_median,ind_95_start,ind_95_end,fin_median,fint_median,fint_start95,fint_end95
team_id,,,,,,,,,,
429,Reaktor Innovations 1,1,Mikko Peltonen,97.79,83.39,114.68,97.81,00:37,00:23,00:54
429,Reaktor Innovations 1,2,Pasi Huhtiniemi,109.81,95.27,126.58,208.09,02:28,02:07,02:51
429,Reaktor Innovations 1,3,Joni Freeman,107.81,86.24,134.75,316.24,04:16,03:45,04:51
429,Reaktor Innovations 1,4,Tuomas Kareinen,86.19,62.98,117.95,403.21,05:43,05:03,06:30
429,Reaktor Innovations 1,5,Janne Vaittinen,88.92,82.24,96.14,492.37,07:12,06:31,08:00
429,Reaktor Innovations 1,6,Olavi Kanerva,90.76,75.77,108.72,583.55,08:43,07:59,09:33
429,Reaktor Innovations 1,7,Jyri Kytömäki,161.28,146.66,177.37,744.99,11:24,10:37,12:17
1131,Puskasilimät OK 1,1,Tuomas Ketonen,124.33,101.43,152.41,123.90,01:03,00:41,01:32
1131,Puskasilimät OK 1,2,Petri Miettinen,131.06,122.12,140.64,254.97,03:14,02:50,03:44
1131,Puskasilimät OK 1,3,Jaakko Havola,146.75,135.82,158.57,401.72,05:41,05:14,06:13
1131,Puskasilimät OK 1,4,Joonas Kekäle,110.58,90.20,135.55,513.15,07:33,06:58,08:11
1131,Puskasilimät OK 1,5,Joonas Mikkonen,99.12,80.85,121.50,612.78,09:12,08:33,09:57
1131,Puskasilimät OK 1,6,Esko Harjama,123.04,100.37,150.83,736.65,11:16,10:29,12:06
1131,Puskasilimät OK 1,7,Anssi Pesonen,175.60,143.25,215.26,912.66,14:12,13:14,15:15
1246,Rastihaukat 2,1,Antero Aunesluoma,119.13,96.81,146.59,119.06,00:59,00:36,01:27
1246,Rastihaukat 2,2,Janne Takala,113.32,83.61,153.59,233.55,02:53,02:15,03:42
1246,Rastihaukat 2,3,Kimmo Tikka,157.01,124.74,197.63,391.74,05:31,04:39,06:33
1246,Rastihaukat 2,4,Jari Siniranta,122.44,92.75,161.63,515.13,07:35,06:33,08:45
1246,Rastihaukat 2,5,Ove Nilsson,108.27,92.15,127.22,623.77,09:23,08:19,10:37
1246,Rastihaukat 2,6,Mika Tapanainen,129.33,105.10,159.14,753.64,11:33,10:23,12:53
1246,Rastihaukat 2,7,Teemu Matilainen,154.83,124.30,192.84,909.59,14:09,12:51,15:35
1270,Reaktor Innovations 2,1,Antti-Ville Jokela,116.86,94.90,143.91,116.79,00:56,00:34,01:24
1270,Reaktor Innovations 2,2,Karri-Pekka Laakso,133.12,113.39,156.28,250.43,03:10,02:40,03:44
1270,Reaktor Innovations 2,3,Oskari Pirttikoski,178.93,122.32,261.74,430.94,06:10,05:06,07:37
1270,Reaktor Innovations 2,4,Jeppe Koivula,67.17,58.13,77.62,498.12,07:18,06:12,08:45
1270,Reaktor Innovations 2,5,Tommi Simell,105.27,85.48,129.64,603.86,09:03,07:54,10:33
1270,Reaktor Innovations 2,6,Mikko Apo,119.81,83.08,172.77,726.38,11:06,09:44,12:47
1270,Reaktor Innovations 2,7,Aki Kaivola,156.50,127.09,192.73,883.60,13:43,12:16,15:30

In [652]:
for_web = runner_estimates.copy().reset_index()
for_web = for_web[[
 'team_id',
 'leg',
 'team',
 'name',
 'fin_sum_log_mean', 
 'fin_sum_log_std',
 'fin_median',
 'fint_median']]
for_web

,team_id,leg,team,name,fin_sum_log_mean,fin_sum_log_std,fin_median,fint_median
0,5,1,Halden SK 1,Emil Wingstedt,4.161056,0.025649,64.143575,2018-06-17 00:04:08.614484
1,5,2,Halden SK 1,Fredrik Eliasson,4.938247,0.051939,139.428258,2018-06-17 01:19:25.695451
2,5,3,Halden SK 1,Thomas Natvig Årstad,5.380190,0.050357,216.943106,2018-06-17 02:36:56.586359
3,5,4,Halden SK 1,Alexander Chepelin,5.624437,0.042362,277.093401,2018-06-17 03:37:05.604081
4,5,5,Halden SK 1,Riccardo Scalet,5.826917,0.041117,339.404082,2018-06-17 04:39:24.244937
5,5,6,Halden SK 1,Andreas Rüedlinger,6.028734,0.036754,415.099063,2018-06-17 05:55:05.943754
6,5,7,Halden SK 1,Magne Dähli,6.216316,0.031030,500.660801,2018-06-17 07:20:39.648049
7,11,1,OK Linne 1,Vincent Coupat,4.219444,0.088019,67.939650,2018-06-17 00:07:56.378995
8,11,2,OK Linne 1,Jakob Andersson,4.969686,0.067782,143.957988,2018-06-17 01:23:57.479287
9,11,3,OK Linne 1,Rassmus Andersson,5.385705,0.053707,218.240969,2018-06-17 02:38:14.458168
10,11,4,OK Linne 1,Jan Troeng,5.599702,0.044329,270.353316,2018-06-17 03:30:21.198982
11,11,5,OK Linne 1,Lucas Basset,5.790118,0.050158,326.598375,2018-06-17 04:26:35.902508
12,11,6,OK Linne 1,Milos Nykodym,5.976999,0.043502,393.939277,2018-06-17 05:33:56.356591
13,11,7,OK Linne 1,Albin Ridefelt,6.187693,0.037802,486.455304,2018-06-17 07:06:27.318260
14,14,1,Ikaalisten Nouseva-Voima 1,Mikko Knuuttila,4.259644,0.102325,70.831000,2018-06-17 00:10:49.860015
15,14,2,Ikaalisten Nouseva-Voima 1,Ville Parkkinen,5.003901,0.065848,149.036978,2018-06-17 01:29:02.218654
16,14,3,Ikaalisten Nouseva-Voima 1,Aleksi Karppinen,5.456536,0.060341,234.219784,2018-06-17 02:54:13.187033
17,14,4,Ikaalisten Nouseva-Voima 1,Vesa Taanila,5.665214,0.050209,288.705376,2018-06-17 03:48:42.322565
18,14,5,Ikaalisten Nouseva-Voima 1,Jooseppi Kalliokoski,5.861390,0.046977,351.247926,2018-06-17 04:51:14.875589
19,14,6,Ikaalisten Nouseva-Voima 1,Dmitry Tsvetkov,6.035225,0.040432,417.940347,2018-06-17 05:57:56.420822
20,14,7,Ikaalisten Nouseva-Voima 1,Eetu Savolainen,6.254755,0.038726,520.603481,2018-06-17 07:40:36.208855
21,17,1,IL Tyrving 1,Wojciech Kowalski,4.184785,0.075456,65.694275,2018-06-17 00:05:41.656530
22,17,2,IL Tyrving 1,Björn Ekeberg,4.928231,0.041218,138.174931,2018-06-17 01:18:10.495831
23,17,3,IL Tyrving 1,Torgeir Nörbech,5.351632,0.033485,210.976951,2018-06-17 02:30:58.617072
24,17,4,IL Tyrving 1,Anders Tiltnes,5.579145,0.033013,264.825979,2018-06-17 03:24:49.558765
25,17,5,IL Tyrving 1,Karl Fremstad,5.775215,0.032108,322.228922,2018-06-17 04:22:13.735294
26,17,6,IL Tyrving 1,Andreas Kyburz,5.966115,0.028722,390.004542,2018-06-17 05:30:00.272526
27,17,7,IL Tyrving 1,Matthias Kyburz,6.163310,0.024039,475.009267,2018-06-17 06:55:00.556022
28,18,1,Nydalens SK 1,Håvard Haga,4.246103,0.092148,69.853371,2018-06-17 00:09:51.202237
29,18,2,Nydalens SK 1,Alan Cherry,4.994718,0.074212,147.670339,2018-06-17 01:27:40.220350
...,...,...,...,...,...,...,...,...
7530,1889,6,IC-Electrofit 2,Henna Rautiainen,6.818783,0.045137,914.519474,2018-06-17 14:14:31.168443
7531,1889,7,IC-Electrofit 2,Simo-Viljami Ojanen,7.054573,0.043628,1157.480196,2018-06-17 18:17:28.811761
7532,1890,1,SK Vuoksi 3,Jukka Salminen,4.585582,0.079799,98.083016,2018-06-17 00:38:04.980958
7533,1890,2,SK Vuoksi 3,Tuomas Toiviainen,5.295792,0.068113,199.501384,2018-06-17 02:19:30.083060
7534,1890,3,SK Vuoksi 3,Marko Korhonen,5.998942,0.067479,402.797505,2018-06-17 05:42:47.850310
7535,1890,4,SK Vuoksi 3,Neea Pohjamo,6.294702,0.058430,541.750539,2018-06-17 08:01:45.032362
7536,1890,5,SK Vuoksi 3,Tarmo Salmi,6.525229,0.059617,681.955784,2018-06-17 10:21:57.347023
7537,1890,6,SK Vuoksi 3,Akseli Laatikainen,6.750498,0.053149,854.603800,2018-06-17 13:14:36.228030
7538,1890,7,SK Vuoksi 3,Olli Ahonen,7.001609,0.049077,1098.419685,2018-06-17 17:18:25.181095
7539,1892,1,käpylä maanantai 1,Tuomas Teuri,4.692679,0.138538,109.087680,2018-06-17 00:49:05.260770
7540,1892,2,käpylä maanantai 1,Otto Heinonen,5.700930,0.089832,299.004814,2018-06-17 03:59:00.288866
7541,1892,3,käpylä maanantai 1,Esa Jokela,6.219839,0.071903,502.543359,2018-06-17 07:22:32.601526
7542,1892,4,käpylä maanantai 1,Markus Määttänen,6.463714,0.062229,641.368363,2018-06-17 09:41:22.101786
7543,1892,5,käpylä maanantai 1,Antti Rindell,6.659758,0.055494,780.112484,2018-06-17 12:00:06.749050
7544,1892,6,käpylä maanantai 1,Simo Ellilä,6.841218,0.050381,935.299053,2018-06-17 14:35:17.943183
7545,1892,7,käpylä maanantai 1,Ville Hulkkonen,7.072687,0.046204,1179.697632,2018-06-17 18:39:41.857908
7546,1894,1,NTNUI 5,Åsne Skram Trömborg,5.162241,0.116772,174.686435,2018-06-17 01:54:41.186102
7547,1894,2,NTNUI 5,Marta Ulvensöen,5.609125,0.075776,272.592636,2018-06-17 03:32:35.558158
7548,1894,3,NTNUI 5,Anne Eiken,6.167492,0.066336,476.657738,2018-06-17 06:56:39.464256
7549,1894,4,NTNUI 5,Live Bredholdt Jörgensen,6.423250,0.057983,615.639173,2018-06-17 09:15:38.350405
7550,1894,5,NTNUI 5,Nina Aasheim Birkeland,6.626483,0.052380,754.586950,2018-06-17 11:34:35.217012
7551,1894,6,NTNUI 5,Aurora Fossöy,6.759291,0.045972,861.733719,2018-06-17 13:21:44.023156
7552,1894,7,NTNUI 5,Ronja Björklund,7.008659,0.044115,1105.947078,2018-06-17 17:25:56.824685
7553,1896,1,Kangasala SK 7,Esko Jalanto,4.816212,0.066629,123.651619,2018-06-17 01:03:39.097163
7554,1896,2,Kangasala SK 7,Sami Sivunen,5.564986,0.063183,261.408201,2018-06-17 03:21:24.492033
7555,1896,3,Kangasala SK 7,Erkki Laukkanen,5.972750,0.053197,392.536809,2018-06-17 05:32:32.208547
7556,1896,4,Kangasala SK 7,Heimo Lahti,6.189165,0.045505,487.194635,2018-06-17 07:07:11.678114
7557,1896,5,Kangasala SK 7,Markku Huikkola,6.376356,0.051393,586.873997,2018-06-17 08:46:52.439811
7558,1896,6,Kangasala SK 7,Pekka Kannus,6.549453,0.047771,697.948450,2018-06-17 10:37:56.906980
7559,1896,7,Kangasala SK 7,Antti Hyytiäinen,6.801384,0.047801,899.213112,2018-06-17 13:59:12.786745

In [653]:
for_web.to_json('web-lib/for_web_ju2018.json', orient="records")