In [1]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
import numpy as np
import shared
import json


ve_or_ju = "ju"

In [2]:
history = pd.read_csv(f'data/grouped_paces_{ve_or_ju}.tsv', delimiter="\t")
history["first_name"] = history.name.str.split(" ", expand=True).iloc[:, 0]
history.head()

,mean_team_id,teams,name,num_runs,num_valid_times,mean_pace,stdev,most_common_leg,most_common_country,pace_1,pace_2,pace_3,pace_4,pace_5,pace_6,pace_7,first_name
0,18.5,KOOVEE,joni hirvikallio,6,5,5.905,0.177,1,FIN,5.873,5.762,6.251,5.843,5.796,NaN,NaN,joni
1,12.0,KOOVEE,topi anjala,7,7,6.051,0.483,1,FIN,5.882,5.621,6.100,5.977,7.164,5.642,5.974,topi
2,3.0,DELTA;KOOVEE;HIIDENKIERTÄJÄT,lauri sild,7,7,5.933,0.382,2,FIN,5.836,5.851,5.996,5.829,6.765,5.391,5.866,lauri
3,18.0,OK ORION;KOOVEE,oleksandr kratov,3,3,6.069,0.363,4,SWE,5.703,5.940,6.563,NaN,NaN,NaN,NaN,oleksandr
4,21.0,KANGASALA SK;KOOVEE,kenny kivikas,7,5,5.936,0.345,7,FIN,5.603,5.662,5.837,6.014,6.562,NaN,NaN,kenny

In [3]:
with_history = history[history["num_valid_times"] >= 1]
names = with_history[['first_name', "mean_pace"]].groupby('first_name').agg(["median", "mean", "std"]).dropna()
names.columns = ['_'.join(col).strip() for col in names.columns.values]
names.head()

            mean_pace_median  mean_pace_mean  mean_pace_std
first_name
                       9.875       10.154242       3.138480
aapeli                10.896       10.896000       1.623517
aapo                  10.355       10.327200       2.310248
aare                  11.129       11.129000       1.606547
aarne                 11.999       12.280571       2.515633

In [4]:
names.shape

(1587, 3)

In [5]:
X = names[["mean_pace_median", "mean_pace_mean"]].values
pace_kmeans = KMeans(n_clusters=10, random_state=2019).fit(X)

In [6]:
X_std = names[["mean_pace_std"]].values
pace_std_kmeans = KMeans(n_clusters=4, random_state=2019).fit(X_std)

In [7]:
names = names.assign(fn_pace_class=pace_kmeans.labels_)
names = names.assign(fn_pace_std_class=pace_std_kmeans.labels_)
names.head(10)

,mean_pace_median,mean_pace_mean,mean_pace_std,fn_pace_class,fn_pace_std_class
first_name,,,,,
,9.8750,10.154242,3.138480,3,3
aapeli,10.8960,10.896000,1.623517,6,0
aapo,10.3550,10.327200,2.310248,6,3
aare,11.1290,11.129000,1.606547,8,0
aarne,11.9990,12.280571,2.515633,5,3
aarni,13.6145,12.281000,3.609095,5,1
aarno,11.9900,13.449000,3.592685,5,1
aaro,9.3370,9.983316,2.839156,3,3
aaron,11.7250,12.727800,3.386614,5,3
aarre,12.5720,12.572000,4.304866,5,1

In [8]:
names.sort_values(by=["mean_pace_median"])

,mean_pace_median,mean_pace_mean,mean_pace_std,fn_pace_class,fn_pace_std_class
first_name,,,,,
frédéric,5.4320,5.432000,0.357796,9,0
milos,6.0015,6.001500,0.300520,9,0
gaute,6.1005,6.281000,0.619428,9,0
joacim,6.1340,7.057667,1.688062,9,0
kiril,6.2100,7.240333,1.809763,9,3
westergård,6.2150,6.215000,0.380423,9,0
gernot,6.2180,7.257333,2.216943,9,3
riccardo,6.3395,6.339500,0.559321,9,0
evgeni,6.3950,6.896667,0.919599,9,0
alain,6.4185,6.418500,0.292035,9,0
dimitri,6.4210,7.009333,1.867355,9,3
bryan,6.4480,6.448000,0.019799,9,0
gleb,6.4980,7.487200,1.804521,9,3
simonas,6.5295,6.529500,0.583363,9,0
johannesson,6.5610,6.561000,0.681651,9,0
audun,6.5765,6.907750,1.222732,9,0
willam,6.5835,6.583500,0.611647,9,0
andrin,6.5920,6.879667,1.186939,9,0
laurits,6.6080,6.608000,0.097581,9,0
ludwig,6.6100,7.400750,1.657578,9,0
marek,6.6280,8.100143,2.066580,9,3
alasdair,6.6350,6.635000,0.725492,9,0
donatas,6.6420,7.234333,1.077451,9,0
francois,6.6490,7.343750,2.037101,9,3
howald,6.6525,6.652500,0.267993,9,0
antonio,6.6730,6.824333,0.759395,9,0
endijs,6.6920,6.882000,0.825564,9,0
dzmitry,6.6975,6.697500,0.284964,9,0
andreu,6.7290,6.729000,0.581242,9,0
murray,6.7320,6.732000,0.475176,9,0
...,...,...,...,...,...
raija,14.5265,14.468500,1.197848,2,0
jos,14.5280,14.528000,1.619275,2,0
iiris,14.5620,13.688333,3.406587,2,3
altti,14.5870,14.147000,2.299788,2,3
rainer,14.6030,12.484667,3.780247,2,1
taina,14.7855,14.431250,3.139216,2,3
sattilainen,14.8875,14.887500,0.634275,2,0
reunanen,14.9465,14.946500,1.912724,2,3
lehtiniemi,15.0280,15.028000,1.172383,2,0
heli,15.0415,14.908000,3.929247,2,1
brede,15.2325,15.232500,0.280721,2,0
katarina,15.3350,16.212000,6.151203,2,1
varpu,15.3530,15.353000,3.783021,2,1
ringa,15.6670,15.667000,0.265872,2,0
annastiina,15.9590,16.822333,2.390910,7,3
suunnistelijat,16.1710,16.339667,2.835765,7,3
minni,16.3075,16.307500,7.944345,7,2
j,16.6595,16.659500,4.485178,7,1
annina,16.8310,16.831000,12.846716,7,2
petro,17.2685,17.268500,4.125968,7,1
taru,17.3630,15.871750,4.729476,7,1
kuisma,17.4890,17.489000,9.811814,7,2
honkanen,17.5325,17.532500,10.918436,7,2
pekko,17.5900,17.590000,2.825599,7,3
oiva,18.3070,21.011667,11.659696,7,2
niskanen,18.3490,18.349000,13.068748,7,2
bence,18.4840,18.484000,12.102840,7,2
helmi,18.6280,17.927667,3.809096,7,1
ted,18.8730,18.873000,2.561141,7,3
uwe,21.1065,21.106500,12.007380,7,2

In [9]:
names.columns = names.columns.get_level_values(0)
#names['first_name'] = names.index
names

,mean_pace_median,mean_pace_mean,mean_pace_std,fn_pace_class,fn_pace_std_class
first_name,,,,,
,9.8750,10.154242,3.138480,3,3
aapeli,10.8960,10.896000,1.623517,6,0
aapo,10.3550,10.327200,2.310248,6,3
aare,11.1290,11.129000,1.606547,8,0
aarne,11.9990,12.280571,2.515633,5,3
aarni,13.6145,12.281000,3.609095,5,1
aarno,11.9900,13.449000,3.592685,5,1
aaro,9.3370,9.983316,2.839156,3,3
aaron,11.7250,12.727800,3.386614,5,3
aarre,12.5720,12.572000,4.304866,5,1
aas,7.9945,7.994500,1.321583,4,0
aatu,10.7980,11.122778,2.605419,8,3
adam,9.2760,9.235684,2.316832,1,3
adrian,8.3205,8.320500,0.202940,4,0
adrien,9.0455,9.045500,3.066722,1,3
agris,9.5235,9.924000,1.849281,3,3
ahti,10.8740,11.354636,2.216874,8,3
aidas,8.7590,8.759000,0.643467,1,0
aigars,8.5250,8.850400,0.732570,1,0
aija,10.8665,10.866500,0.859135,6,0
aimo,11.3175,12.158125,3.157076,8,3
ain,8.8910,9.032250,1.144468,1,0
ainars,8.6890,8.964000,1.776238,1,3
aino,10.6510,11.605500,2.469564,8,3
aivar,8.2820,8.762000,1.263901,1,0
aivars,11.7220,11.112200,1.367531,8,0
aki,10.9200,11.188306,2.838274,8,3
akseli,9.7880,9.953087,2.419316,3,3
aku,10.7190,11.649857,3.809017,8,1
alain,6.4185,6.418500,0.292035,9,0
...,...,...,...,...,...
william,8.5930,8.477176,1.932455,1,3
willie,9.8670,9.867000,0.366281,3,0
wojciech,7.2520,8.563000,3.570440,4,1
wolfgang,7.0750,7.075000,1.039447,9,0
yann,10.0020,9.260667,1.943126,3,3
yannick,8.9810,8.549333,1.617298,1,0
yngvar,7.2915,7.291500,0.890247,9,0
yngve,7.5230,7.572000,1.525090,9,0
yrjö,10.7575,11.580750,3.100085,8,3
yura,9.8030,9.001667,2.100926,3,3
yuri,7.1230,8.585000,2.992291,4,3
yurii,7.8690,7.687333,0.458347,4,0
yuriy,9.8015,9.328250,1.987906,3,3
yury,7.5560,7.181000,1.019603,9,0
yves,8.5725,8.572500,2.233750,1,3
zac,8.4670,8.467000,1.168140,4,0
zahkna,10.2040,10.204000,1.542907,6,0
zdenek,8.0610,8.086667,0.227588,4,0
zhuravlev,7.1965,7.196500,0.317491,9,0
zsolt,7.0675,7.067500,1.173090,9,0
äijälä,10.5810,10.581000,3.433711,6,1
ådne,9.3600,9.360000,2.821356,3,3
åke,10.1950,9.559000,1.181823,3,0
åsa,10.0675,10.349000,1.862079,6,3
åsulv,9.1055,9.105500,1.051468,1,0
öivind,8.9430,9.387400,0.860567,1,0
örjan,8.5480,9.815000,2.182834,1,3
österberg,11.3485,11.348500,0.208597,8,0
öystein,8.2020,8.821867,2.341911,1,3
öyvind,8.5410,8.889632,1.913549,1,3

In [10]:
names[["fn_pace_class", "fn_pace_std_class"]].to_csv(f"data/name_pace_classes_{ve_or_ju}.tsv", "\t")