In [1]:
import pandas as pd
import numpy as np
from scipy.stats import lognorm
import shared

ve_or_ju = "ju"

In [2]:
order18 = pd.read_csv(f'data/running_order_j2018_{ve_or_ju}.tsv', delimiter="\t")

In [3]:
order18["leg_nro"] = order18["leg"]
order18["orig_name"] = order18["name"]
order18["name"] = order18["name"].str.lower()

In [4]:
order18.head()

,team_id,team,team_base_name,team_country,leg,leg_dist,name,leg_nro,orig_name
0,1,IFK Göteborg 1,IFK Göteborg,SWE,1,11.0,max peter bejmer,1,Max Peter Bejmer
1,1,IFK Göteborg 1,IFK Göteborg,SWE,2,11.9,johan högstarnd,2,Johan Högstarnd
2,1,IFK Göteborg 1,IFK Göteborg,SWE,3,12.7,vetle ruud bråten,3,Vetle Ruud Bråten
3,1,IFK Göteborg 1,IFK Göteborg,SWE,4,8.8,jonas pilblad,4,Jonas Pilblad
4,1,IFK Göteborg 1,IFK Göteborg,SWE,5,8.7,jens wängdahl,5,Jens Wängdahl

In [5]:
predictions_and_history = pd.read_csv(f"data/preds_for_runners_with_history_2_{ve_or_ju}.csv", delimiter="\t")
predictions_and_history.head()

,Unnamed: 0,mean_team_id,num_valid_times,mean_pace,stdev,prior_mean,prior_log_std,predicted_pace,pred_pace_error,predicted_log_pace_mean,predicted_log_pace_std,name,teams
0,0,18.5,5,5.905,0.177,6.373,0.069,6.333,0.428,1.846,0.066,joni hirvikallio,KOOVEE
1,1,12.0,7,6.051,0.483,6.096,0.043,6.092,0.041,1.807,0.041,topi anjala,KOOVEE
2,2,3.0,7,5.933,0.382,6.244,0.068,6.195,0.262,1.824,0.063,lauri sild,DELTA;KOOVEE;HIIDENKIERTÄJÄT
3,3,18.0,3,6.069,0.363,6.431,0.119,6.396,0.327,1.856,0.114,oleksandr kratov,OK ORION;KOOVEE
4,4,21.0,5,5.936,0.345,6.080,0.071,6.075,0.139,1.804,0.067,kenny kivikas,KANGASALA SK;KOOVEE

In [6]:

predictions_and_history["num_runs"] = predictions_and_history["num_valid_times"]
no_history_row = pd.DataFrame([[0, 0, 0]], columns=["predicted_log_pace_mean", "predicted_log_pace_std", "num_valid_times"])
def get_history_and_preds(running_order_row):
    history_row = shared.get_matching_history_row_for_runner(running_order_row, predictions_and_history, no_history_row)
    #print(f"estimate_row log_means {history_row.log_means} {history_row.log_stdevs}")
    pred_log_mean = history_row.predicted_log_pace_mean.values[0]
    pred_log_std = history_row.predicted_log_pace_std.values[0]
    num_valid_times = history_row.num_valid_times.values[0]
    return pd.Series({"pred_log_mean": pred_log_mean, "pred_log_std": pred_log_std, "num_valid_times": num_valid_times})

history_and_preds = order18.apply(lambda row: get_history_and_preds(row), axis=1)
order18 = order18.assign(num_runs = history_and_preds.num_valid_times)
order18 = order18.assign(pred_log_mean = history_and_preds.pred_log_mean)
order18 = order18.assign(pred_log_std = history_and_preds.pred_log_std)

name 'anssi koirikivi' team_name 'RASTIIMI'
by_name 0 by_name_and_colon 3 runners 2
Duplicate runner       Unnamed: 0  mean_team_id  num_valid_times  mean_pace  stdev  prior_mean  \
1690        1699         210.0                6      7.330  0.618       8.050
1691        1700         231.0                1      5.943  0.000       8.334

      prior_log_std  predicted_pace  pred_pace_error  predicted_log_pace_mean  \
1690          0.122           7.876            0.546                    2.064
1691          0.151           8.279            2.336                    2.114

      predicted_log_pace_std                               name  \
1690                   0.109           anssi koirikivi:RASTIIMI
1691                   0.150  anssi koirikivi:RASTIIMI - NONAME

                  teams  num_runs
1690           RASTIIMI         6
1691  RASTIIMI - NONAME         1
name 'petri laaksonen' team_name 'UNO SK'
by_name 0 by_name_and_colon 6 runners 2
Duplicate runner       Unnamed: 0  mean_team_id  num_valid_times  mean_pace  stdev  prior_mean  \
4634        4663         602.5                2      8.108  0.985       9.432
4635        4664         611.0                1      8.749  0.000       9.695

      prior_log_std  predicted_pace  pred_pace_error  predicted_log_pace_mean  \
4634           0.16           9.352            1.244                    2.236
4635           0.17           9.651            0.902                    2.267

      predicted_log_pace_std                             name  \
4634                   0.152           petri laaksonen:UNO SK
4635                   0.168  petri laaksonen:UNO SK-HARRASTE

                teams  num_runs
4634           UNO SK         2
4635  UNO SK-HARRASTE         1
name 'arto laaksonen' team_name 'UNO SK'
by_name 0 by_name_and_colon 6 runners 2
Duplicate runner       Unnamed: 0  mean_team_id  num_valid_times  mean_pace  stdev  prior_mean  \
6804        6848         602.5                2     11.259  1.553      10.877
6805        6849         611.0                1     10.423  0.000      10.787

      prior_log_std  predicted_pace  pred_pace_error  predicted_log_pace_mean  \
6804          0.199          10.948            0.311                    2.393
6805          0.204          10.763            0.340                    2.376

      predicted_log_pace_std                            name            teams  \
6804                    0.19           arto laaksonen:UNO SK           UNO SK
6805                    0.20  arto laaksonen:UNO SK-HARRASTE  UNO SK-HARRASTE

      num_runs
6804         2
6805         1
name 'matti kalenius' team_name 'IISU'
by_name 0 by_name_and_colon 3 runners 2
Duplicate runner       Unnamed: 0  mean_team_id  num_valid_times  mean_pace  stdev  prior_mean  \
4992        5023         706.5                2      8.750  0.311      11.134
4994        5025        1438.0                1      8.843  0.000      12.129

      prior_log_std  predicted_pace  pred_pace_error  predicted_log_pace_mean  \
4992           0.18          10.945            2.195                    2.393
4994           0.20          11.966            3.123                    2.482

      predicted_log_pace_std                                        name  \
4992                   0.175                         matti kalenius:IISU
4994                   0.196  matti kalenius:OIKEAOSTOSRASTI IISUJRDREAM

                            teams  num_runs
4992                         IISU         2
4994  OIKEAOSTOSRASTI IISUJRDREAM         1
name 'lauri mattila' team_name 'KARJALAN PRIKAATI'
by_name 0 by_name_and_colon 3 runners 2
Duplicate runner       Unnamed: 0  mean_team_id  num_valid_times  mean_pace  stdev  prior_mean  \
5656        5691         836.0                1     11.496    0.0      10.332
5657        5692        1155.0                1     10.563    0.0      12.686

      prior_log_std  predicted_pace  pred_pace_error  predicted_log_pace_mean  \
5656          0.179          10.358            1.138                    2.338
5657          0.197          12.615            2.052                    2.535

      predicted_log_pace_std                                       name  \
5656                   0.177            lauri mattila:KARJALAN PRIKAATI
5657                   0.195  lauri mattila:KARJALAN PRIKAATI (KYMPIONP

                            teams  num_runs
5656            KARJALAN PRIKAATI         1
5657  KARJALAN PRIKAATI (KYMPIONP         1
name 'juho siikilä' team_name 'KARJALAN PRIKAATI'
by_name 0 by_name_and_colon 2 runners 2
Duplicate runner       Unnamed: 0  mean_team_id  num_valid_times  mean_pace  stdev  prior_mean  \
5648        5683         912.5                4      8.399  0.524       9.651
5649        5684        1115.0                1      9.864  0.000      10.674

      prior_log_std  predicted_pace  pred_pace_error  predicted_log_pace_mean  \
5648          0.135           9.481            1.082                    2.249
5649          0.163          10.649            0.785                    2.365

      predicted_log_pace_std                                    name  \
5648                   0.126          juho siikilä:KARJALAN PRIKAATI
5649                   0.160  juho siikilä:KARJALAN PRIKAATI (KARTR)

                          teams  num_runs
5648          KARJALAN PRIKAATI         4
5649  KARJALAN PRIKAATI (KARTR)         1
name 'juho nurmi' team_name 'ENKELIT JA DEMONIT'
by_name 0 by_name_and_colon 3 runners 2
Duplicate runner        Unnamed: 0  mean_team_id  num_valid_times  mean_pace  stdev  \
13084       13505        1336.0                1     17.992    0.0
13085       13506        1464.0                1     15.643    0.0

       prior_mean  prior_log_std  predicted_pace  pred_pace_error  \
13084      12.039          0.219          12.260            5.732
13085      11.974          0.203          12.095            3.548

       predicted_log_pace_mean  predicted_log_pace_std  \
13084                    2.506                   0.217
13085                    2.493                   0.199

                                       name                      teams  \
13084         juho nurmi:ENKELIT JA DEMONIT         ENKELIT JA DEMONIT
13085  juho nurmi:HAPSUN ENKELIT JA DEMONIT  HAPSUN ENKELIT JA DEMONIT

       num_runs
13084         1
13085         1
name 'panu kärkkäinen' team_name 'JÄMSÄN RETKI-VEIKOT'
by_name 0 by_name_and_colon 4 runners 2
Duplicate runner       Unnamed: 0  mean_team_id  num_valid_times  mean_pace  stdev  prior_mean  \
8855        8921         858.0                4      9.219  1.228      10.054
8857        8923         954.0                1      8.686  0.000       9.826

      prior_log_std  predicted_pace  pred_pace_error  predicted_log_pace_mean  \
8855          0.156           9.911            0.692                    2.294
8857          0.154           9.808            1.122                    2.283

      predicted_log_pace_std                                         name  \
8855                   0.144          panu kärkkäinen:JÄMSÄN RETKI-VEIKOT
8857                   0.155  panu kärkkäinen:JÄMSÄN RETKI-VEIKOT/JUKOLA2

                            teams  num_runs
8855          JÄMSÄN RETKI-VEIKOT         4
8857  JÄMSÄN RETKI-VEIKOT/JUKOLA2         1
name 'tommi piiroinen' team_name 'BEST CARAVAN'
by_name 0 by_name_and_colon 3 runners 2
Duplicate runner        Unnamed: 0  mean_team_id  num_valid_times  mean_pace  stdev  \
12062       12287        1801.0                1     15.169    0.0
12064       12289        1050.0                1     14.815    0.0

       prior_mean  prior_log_std  predicted_pace  pred_pace_error  \
12062      16.772          0.256          16.635            1.466
12064      11.833          0.197          11.923            2.892

       predicted_log_pace_mean  predicted_log_pace_std  \
12062                    2.812                   0.249
12064                    2.478                   0.195

                                    name              teams  num_runs
12062       tommi piiroinen:BEST CARAVAN       BEST CARAVAN         1
12064  tommi piiroinen:TEAM BEST CARAVAN  TEAM BEST CARAVAN         1

name 'antti jokinen' team_name 'HERMANNIN KÖÖRI'
by_name 0 by_name_and_colon 8 runners 2
Duplicate runner       Unnamed: 0  mean_team_id  num_valid_times  mean_pace  stdev  prior_mean  \
6429        6471        1533.0                1     18.891    0.0      10.861
6432        6474        1493.0                1     16.689    0.0      12.059

      prior_log_std  predicted_pace  pred_pace_error  predicted_log_pace_mean  \
6429          0.196          11.094            7.797                    2.406
6432          0.177          12.154            4.535                    2.498

      predicted_log_pace_std                               name  \
6429                   0.192      antti jokinen:HERMANNIN KÖÖRI
6432                   0.174  antti jokinen:DNA HERMANNIN KÖÖRI

                    teams  num_runs
6429      HERMANNIN KÖÖRI         1
6432  DNA HERMANNIN KÖÖRI         1

In [7]:

(top_countries, top_first_names) = shared.read_persisted_dummy_column_values(ve_or_ju)

In [8]:
order18["year"] = "NA"
features = shared.preprocess_features(order18, top_countries, ve_or_ju)
features.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12972 entries, 0 to 12971
Data columns (total 13 columns):
team_id           12972 non-null int64
team              12972 non-null object
team_base_name    12972 non-null object
team_country      12972 non-null object
leg               12972 non-null int64
leg_dist          12972 non-null float64
name              12972 non-null object
leg_nro           12972 non-null int64
orig_name         12972 non-null object
num_runs          12972 non-null float64
pred_log_mean     12972 non-null float64
pred_log_std      12972 non-null float64
year              12972 non-null object
dtypes: float64(4), int64(3), object(6)
memory usage: 1.3+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1587 entries, 0 to 1586
Data columns (total 3 columns):
first_name           1586 non-null object
fn_pace_class        1587 non-null int64
fn_pace_std_class    1587 non-null int64
dtypes: int64(2), object(1)
memory usage: 37.3+ KB

None

(12972, 54)

In [9]:
features.info()

<class 'pandas.core.sparse.frame.SparseDataFrame'>
RangeIndex: 12972 entries, 0 to 12971
Data columns (total 54 columns):
team_id                  12972 non-null Sparse[int64, nan]
team_id_log10            12972 non-null Sparse[float64, nan]
team_id_square           12972 non-null Sparse[int64, nan]
leg_1                    12972 non-null Sparse[uint8, 0]
leg_2                    12972 non-null Sparse[uint8, 0]
leg_3                    12972 non-null Sparse[uint8, 0]
leg_4                    12972 non-null Sparse[uint8, 0]
leg_5                    12972 non-null Sparse[uint8, 0]
leg_6                    12972 non-null Sparse[uint8, 0]
leg_7                    12972 non-null Sparse[uint8, 0]
c_CZE                    12972 non-null Sparse[uint8, 0]
c_DEN                    12972 non-null Sparse[uint8, 0]
c_ESP                    12972 non-null Sparse[uint8, 0]
c_EST                    12972 non-null Sparse[uint8, 0]
c_FIN                    12972 non-null Sparse[uint8, 0]
c_FRA                    12972 non-null Sparse[uint8, 0]
c_GBR                    12972 non-null Sparse[uint8, 0]
c_GER                    12972 non-null Sparse[uint8, 0]
c_HUN                    12972 non-null Sparse[uint8, 0]
c_ITA                    12972 non-null Sparse[uint8, 0]
c_LAT                    12972 non-null Sparse[uint8, 0]
c_LTU                    12972 non-null Sparse[uint8, 0]
c_NOR                    12972 non-null Sparse[uint8, 0]
c_OTHER                  12972 non-null Sparse[uint8, 0]
c_POL                    12972 non-null Sparse[uint8, 0]
c_RUS                    12972 non-null Sparse[uint8, 0]
c_SUI                    12972 non-null Sparse[uint8, 0]
c_SWE                    12972 non-null Sparse[uint8, 0]
c_USA                    12972 non-null Sparse[uint8, 0]
runs_0.0                 12972 non-null Sparse[uint8, 0]
runs_1.0                 12972 non-null Sparse[uint8, 0]
runs_2.0                 12972 non-null Sparse[uint8, 0]
runs_3.0                 12972 non-null Sparse[uint8, 0]
runs_4.0                 12972 non-null Sparse[uint8, 0]
runs_5.0                 12972 non-null Sparse[uint8, 0]
runs_6.0                 12972 non-null Sparse[uint8, 0]
runs_7.0                 12972 non-null Sparse[uint8, 0]
runs_8.0                 12972 non-null Sparse[uint8, 0]
fn_pace_class_0.0        12972 non-null Sparse[uint8, 0]
fn_pace_class_1.0        12972 non-null Sparse[uint8, 0]
fn_pace_class_2.0        12972 non-null Sparse[uint8, 0]
fn_pace_class_3.0        12972 non-null Sparse[uint8, 0]
fn_pace_class_4.0        12972 non-null Sparse[uint8, 0]
fn_pace_class_5.0        12972 non-null Sparse[uint8, 0]
fn_pace_class_6.0        12972 non-null Sparse[uint8, 0]
fn_pace_class_7.0        12972 non-null Sparse[uint8, 0]
fn_pace_class_8.0        12972 non-null Sparse[uint8, 0]
fn_pace_class_9.0        12972 non-null Sparse[uint8, 0]
fn_pace_class_nan        12972 non-null Sparse[uint8, 0]
fn_pace_std_class_0.0    12972 non-null Sparse[uint8, 0]
fn_pace_std_class_1.0    12972 non-null Sparse[uint8, 0]
fn_pace_std_class_2.0    12972 non-null Sparse[uint8, 0]
fn_pace_std_class_3.0    12972 non-null Sparse[uint8, 0]
fn_pace_std_class_nan    12972 non-null Sparse[uint8, 0]
dtypes: Sparse[float64, nan](1), Sparse[int64, nan](2), Sparse[uint8, 0](51)
memory usage: 620.8 KB

In [10]:

gbr_sd_estimate = shared.predict_without_history(features)

    log_q_low  predicted  log_q_high  log_std
0       1.727      5.944       1.814    0.044
1       1.725      5.982       1.684   -0.020
2       1.722      5.638       1.817    0.048
3       1.694      6.071       1.872    0.089
4       1.669      5.162       1.877    0.104
5       1.666      5.309       1.810    0.072
6       1.683      5.385       1.811    0.064
7       1.737      7.287       2.023    0.143
8       1.741      6.159       1.878    0.069
9       1.743      6.061       1.881    0.069
10      1.737      6.135       1.998    0.130
11      1.697      5.642       1.866    0.084
12      1.687      5.662       1.868    0.090
13      1.701      5.597       1.855    0.077
14      1.744      6.370       1.898    0.077

0.16943760471788158

In [11]:
order18["predicted"] = gbr_sd_estimate["predicted"]
order18["log_q_low"] = gbr_sd_estimate["log_q_low"]
order18["log_q_high"] = gbr_sd_estimate["log_q_high"]
order18["log_std"] = gbr_sd_estimate["log_std"]

In [13]:
order18.head()

,team_id,team,team_base_name,team_country,leg,leg_dist,name,leg_nro,orig_name,num_runs,pred_log_mean,pred_log_std,year,predicted,log_q_low,log_q_high,log_std
0,1,IFK Göteborg 1,IFK Göteborg,SWE,1,11.0,max peter bejmer,1,Max Peter Bejmer,4.0,1.845,0.076,NA,5.943582,1.726514,1.813598,0.043542
1,1,IFK Göteborg 1,IFK Göteborg,SWE,2,11.9,johan högstarnd,2,Johan Högstarnd,0.0,0.000,0.000,NA,5.981771,1.724960,1.684404,-0.020278
2,1,IFK Göteborg 1,IFK Göteborg,SWE,3,12.7,vetle ruud bråten,3,Vetle Ruud Bråten,5.0,1.816,0.073,NA,5.638084,1.721827,1.817421,0.047797
3,1,IFK Göteborg 1,IFK Göteborg,SWE,4,8.8,jonas pilblad,4,Jonas Pilblad,6.0,1.820,0.068,NA,6.071166,1.693573,1.872321,0.089374
4,1,IFK Göteborg 1,IFK Göteborg,SWE,5,8.7,jens wängdahl,5,Jens Wängdahl,5.0,1.920,0.088,NA,5.162171,1.669116,1.876981,0.103933

In [14]:
order18.tail()

,team_id,team,team_base_name,team_country,leg,leg_dist,name,leg_nro,orig_name,num_runs,pred_log_mean,pred_log_std,year,predicted,log_q_low,log_q_high,log_std
12967,1901,Suopursuttaret 1,Suopursuttaret,FIN,3,12.7,maria kettu,3,Maria Kettu,1.0,2.250,0.077,NA,9.499017,2.248849,2.405246,0.078198
12968,1901,Suopursuttaret 1,Suopursuttaret,FIN,4,8.8,oskari rannila,4,Oskari Rannila,1.0,2.400,0.026,NA,11.022797,2.357697,2.408835,0.025569
12969,1901,Suopursuttaret 1,Suopursuttaret,FIN,5,8.7,kauko laukkanen,5,Kauko Laukkanen,6.0,2.669,0.171,NA,15.209203,2.419096,2.529718,0.055311
12970,1901,Suopursuttaret 1,Suopursuttaret,FIN,6,10.8,venla rannila,6,Venla Rannila,1.0,2.442,0.022,NA,11.496908,2.398363,2.441586,0.021612
12971,1901,Suopursuttaret 1,Suopursuttaret,FIN,7,15.1,tanja rannila,7,Tanja Rannila,4.0,2.293,0.148,NA,9.197743,2.225596,2.261936,0.018170