In [1]:
import pandas as pd
import numpy as np
import shared
import json
import joblib

ve_or_ju = "ju"

In [2]:
with open(f"data/top_countries_{ve_or_ju}.json") as json_file:
    top_countries = json.load(json_file)
top_countries

['FIN',
 'SWE',
 'NOR',
 'RUS',
 'LAT',
 'EST',
 'SUI',
 'GBR',
 'LTU',
 'DEN',
 'GER',
 'FRA',
 'ESP',
 'CZE',
 'POL',
 'ITA',
 'USA',
 'UKR',
 'HUN']

In [3]:
with open(f"data/top_first_names_{ve_or_ju}.json") as json_file:
    top_first_names = json.load(json_file)
top_first_names

['mikko',
 'antti',
 'timo',
 'juha',
 'matti',
 'jukka',
 'pekka',
 'mika',
 'jari',
 'jussi',
 'janne',
 'ville',
 'hannu',
 'heikki',
 'kari',
 'markku',
 'petri',
 'sami',
 'tuomas',
 'teemu',
 'marko',
 'harri',
 'lauri',
 'markus',
 'ari',
 'pasi',
 'vesa',
 'olli',
 'jouni',
 'jaakko',
 'eero',
 'arto',
 'tero',
 'juho',
 'tommi',
 'kimmo',
 'jani',
 'jarmo',
 'seppo',
 'risto',
 'tomi',
 'ilkka',
 'esa',
 'jarkko',
 'kalle',
 'tuomo',
 'tapio',
 'jyrki',
 'johan',
 'anders',
 'jorma',
 'simo',
 'erkki',
 'erik',
 'toni',
 'juhani',
 'jouko',
 'petteri',
 'jonas',
 'mikael',
 'joonas',
 'henrik',
 'lasse',
 'pertti',
 'aleksi',
 'martin',
 'henri',
 'jan',
 'aki',
 'niko',
 'samuli',
 'andreas',
 'anssi',
 'juuso',
 'esko',
 'pauli',
 'matias',
 'fredrik',
 'paavo',
 'miika',
 'peter',
 'joni',
 'riku',
 'niklas',
 'anton',
 'tapani',
 'reijo',
 'daniel',
 'martti',
 'kai',
 'jarno',
 'panu',
 'raimo',
 'thomas',
 'stefan',
 'keijo',
 'per',
 'magnus',
 'simon',
 'pentti',
 'sakari',
 'arttu',
 'oskar',
 'veli-matti',
 'valtteri',
 'eetu',
 'lars',
 'ossi',
 'aapo',
 'patrik',
 'oskari',
 'emil',
 'asko',
 'jyri',
 'kristian',
 'veikko',
 'joona',
 'ismo',
 'sergey',
 'mats',
 'björn',
 'otto',
 'johannes',
 'lassi',
 'joakim',
 'ilari',
 'topi',
 'atte',
 'rasmus',
 'janis',
 'teppo',
 'alexander',
 'kim',
 'david',
 'johanna',
 'mattias',
 'tuukka',
 'hanna',
 'tomas',
 'christian',
 'sampo',
 'robert',
 'tommy',
 'tatu',
 'joel',
 'jere',
 'pyry',
 'ilpo',
 'tom',
 'sanna',
 'rami',
 'miikka',
 'kauko',
 'elina',
 'taneli',
 'samu',
 'santeri',
 'anna',
 'roope',
 'marcus',
 'saku',
 'elias',
 'osmo',
 'olavi',
 'andrey',
 'john',
 'sauli',
 'tiina',
 'perttu',
 'jakob',
 'laura',
 'lukas',
 'tarmo',
 'rauno',
 'vili',
 'viktor',
 'eemeli',
 'antero',
 'mauri',
 'jukka-pekka',
 'reima',
 'hans',
 'jörgen',
 'olli-pekka',
 'iiro',
 'sebastian',
 'veijo',
 'ola',
 'mauno',
 'andris',
 'leo',
 'tobias',
 'jesse',
 'samuel',
 'mathias',
 'jon',
 'ivan',
 'jenni',
 'filip',
 'michael',
 'erno',
 'pavel',
 'nils',
 'albin',
 'oscar',
 'aaro',
 'jesper',
 'aku',
 'juha-pekka',
 'sergei',
 'ari-pekka',
 'petter',
 'riikka',
 'mari',
 'martins',
 'veli-pekka',
 'aleksei',
 '',
 'juha-matti',
 'topias',
 'jens',
 'akseli',
 'olle',
 'igor',
 'kenneth',
 'linus',
 'severi',
 'veli',
 'teuvo',
 'sampsa',
 'hannes',
 'maria',
 'juhana',
 'aimo',
 'håkan',
 'öyvind',
 'dmitry',
 'henry',
 'jonne',
 'visa',
 'heidi',
 'anne',
 'jonathan',
 'konsta',
 'terho',
 'niilo',
 'karl',
 'reino',
 'henna',
 'andrei',
 'ulf',
 'sven',
 'roman',
 'minna',
 'christoffer',
 'klaus',
 'otso',
 'rauli',
 'kaisa',
 'urpo',
 'ove',
 'harald',
 'päivi',
 'gustav',
 'paul',
 'adam',
 'carl',
 'mikhail',
 'axel',
 'max',
 'vladimir',
 'satu',
 'öystein',
 'taisto',
 'denis',
 'ilmari',
 'aino',
 'heimo',
 'aleksey',
 'nikolay',
 'tanja',
 'kirsi',
 'göran',
 'vegard',
 'anu',
 'tauno',
 'dmitriy',
 'saara',
 'anni',
 'sara',
 'kjell',
 'pontus',
 'håvard',
 'jori',
 'espen',
 'kalevi',
 'leena',
 'torbjörn',
 'sören',
 'eirik',
 'outi',
 'liisa',
 'kaj',
 'lari',
 'victor',
 'staffan',
 'aarne',
 'teijo',
 'aleksandr',
 'morten',
 'leif',
 'kyösti',
 'benjamin',
 'andre',
 'mark',
 'simen',
 'annika',
 'sindre',
 'matthias',
 'arvid',
 'salla',
 'christer',
 'harry',
 'mårten',
 'juri',
 'katri',
 'rune',
 'erkka',
 'jonatan',
 'juris',
 'oleg',
 'terhi',
 'conny',
 'dan',
 'william',
 'niclas',
 'lotta',
 'unto',
 'dag',
 'jussi-pekka',
 'väinö',
 'nikolai',
 'konstantin',
 'marius',
 'kasperi',
 'alexey',
 'richard',
 'arvo',
 'kristaps',
 'andis',
 'niina',
 'tony',
 'taavi',
 'elmeri',
 'ahti',
 'sari',
 'reetta',
 'kent',
 'håkon',
 'suvi',
 'patrick',
 'oliver',
 'tim',
 'magne',
 'arne',
 'ole',
 'hugo',
 'kati',
 'robin',
 'edgars',
 'eric',
 'eija',
 'maris',
 'riitta',
 'touko',
 'eino',
 'eveliina',
 'karri',
 'roger',
 'daniil',
 'lucas',
 'kristoffer',
 'rolf',
 'arnis',
 'roland',
 'yrjö',
 'raivo',
 'guntars',
 'raul',
 'einar',
 'artem',
 'maxim',
 'oula',
 'leevi',
 'kirill',
 'mervi',
 'ivar',
 'kaspars',
 'jari-pekka',
 'svein',
 'onni',
 'felix',
 'santtu',
 'katja',
 'maija',
 'rickard',
 'veera',
 'ainars',
 'ilya',
 'ludvig',
 'pietari',
 'raine',
 'nina',
 'turo',
 'emma',
 'marek',
 'heino',
 'vesa-matti',
 'aarno',
 'rainer',
 'olof',
 'aleksander',
 'tarja',
 'paula',
 'alpo',
 'nico',
 'roy',
 'sigurd',
 'aigars',
 'evgeniy',
 'nikita',
 'vesa-pekka',
 'pär',
 'aatu',
 'raino',
 'olav',
 'alex',
 'maarit',
 'mia',
 'miro',
 'valters',
 'eerik',
 'marja',
 'peetu',
 'gunnar',
 'bo',
 'julius',
 'artur',
 'emmi',
 'tore',
 'emils',
 'stein']

In [4]:
history = pd.read_csv('data/grouped_paces_ju.tsv', delimiter="\t")
history.head()

,mean_team_id,teams,name,num_runs,num_valid_times,mean_pace,stdev,most_common_leg,most_common_country,pace_1,pace_2,pace_3,pace_4,pace_5,pace_6,pace_7
0,18.5,KOOVEE,joni hirvikallio,6,5,5.905,0.177,1,FIN,5.873,5.762,6.251,5.843,5.796,NaN,NaN
1,12.0,KOOVEE,topi anjala,7,7,6.051,0.483,1,FIN,5.882,5.621,6.100,5.977,7.164,5.642,5.974
2,3.0,DELTA;KOOVEE;HIIDENKIERTÄJÄT,lauri sild,7,7,5.933,0.382,2,FIN,5.836,5.851,5.996,5.829,6.765,5.391,5.866
3,18.0,OK ORION;KOOVEE,oleksandr kratov,3,3,6.069,0.363,4,SWE,5.703,5.940,6.563,NaN,NaN,NaN,NaN
4,21.0,KANGASALA SK;KOOVEE,kenny kivikas,7,5,5.936,0.345,7,FIN,5.603,5.662,5.837,6.014,6.562,NaN,NaN

In [5]:
# HISTORY: ""mean_team_id"	"teams"	"name"	"num_runs"	"num_valid_times"	"mean_pace"	"stdev"	"most_common_leg"	"most_common_country"	
# "pace_1"	"pace_2"	"pace_3"	"pace_4"	"pace_5"	"pace_6"	"pace_7"
# RUNS: "team"	"team_country"	"pace"	"leg_nro"	"num_runs"
history["year"] = "NA"
history["pace"] = "NA"
history["team"] = "NA"
history["leg_nro"] = history["most_common_leg"]
history["team_id"] = history["mean_team_id"]
history["team_country"] = history["most_common_country"]

In [6]:
history[history["num_runs"] > 4]

,mean_team_id,teams,name,num_runs,num_valid_times,mean_pace,stdev,most_common_leg,most_common_country,pace_1,...,pace_4,pace_5,pace_6,pace_7,year,pace,team,leg_nro,team_id,team_country
0,18.5,KOOVEE,joni hirvikallio,6,5,5.905,0.177,1,FIN,5.873,...,5.843,5.796,NaN,NaN,NA,NA,NA,1,18.5,FIN
1,12.0,KOOVEE,topi anjala,7,7,6.051,0.483,1,FIN,5.882,...,5.977,7.164,5.642,5.974,NA,NA,NA,1,12.0,FIN
2,3.0,DELTA;KOOVEE;HIIDENKIERTÄJÄT,lauri sild,7,7,5.933,0.382,2,FIN,5.836,...,5.829,6.765,5.391,5.866,NA,NA,NA,2,3.0,FIN
4,21.0,KANGASALA SK;KOOVEE,kenny kivikas,7,5,5.936,0.345,7,FIN,5.603,...,6.014,6.562,NaN,NaN,NA,NA,NA,7,21.0,FIN
5,3.0,DELTA;KOOVEE;HIIDENKIERTÄJÄT,timo sild,7,7,5.630,0.335,6,FIN,5.526,...,5.378,6.293,5.346,5.748,NA,NA,NA,6,3.0,FIN
6,5.5,KOOVEE;KRISTIANSAND OK,daniel hubmann,6,6,5.646,0.520,7,FIN,5.294,...,5.172,6.752,5.432,NaN,NA,NA,NA,7,5.5,FIN
8,12.0,IFK GÖTEBORG;MARKBYGDENS OK,johan högstrand,5,5,6.117,0.449,2,SWE,5.794,...,6.571,6.728,NaN,NaN,NA,NA,NA,2,12.0,SWE
9,9.0,IFK GÖTEBORG,vetle ruud bråten,5,5,5.705,0.185,3,SWE,5.525,...,5.615,6.060,NaN,NaN,NA,NA,NA,3,9.0,SWE
10,16.0,IFK GÖTEBORG,jonas pilblad,6,6,6.154,0.389,2,SWE,6.509,...,6.819,5.756,6.089,NaN,NA,NA,NA,2,16.0,SWE
11,85.5,NYKÖPINGS OK;IFK GÖTEBORG,jens wängdahl,6,5,6.181,0.341,3,SWE,5.826,...,6.195,6.600,NaN,NaN,NA,NA,NA,3,85.5,SWE
13,12.0,IFK GÖTEBORG,eskil kinneberg,5,5,5.608,0.081,7,SWE,5.546,...,5.719,5.668,NaN,NaN,NA,NA,NA,7,12.0,SWE
14,26.0,PAIMION RASTI,daniel stenlund,6,6,6.174,0.615,1,FIN,6.012,...,7.310,5.249,6.403,NaN,NA,NA,NA,1,26.0,FIN
15,18.0,PAIMION RASTI;RAJAMÄEN RYKMENTTI,jesse laukkarinen,6,6,6.156,0.521,5,FIN,6.529,...,6.963,5.273,6.105,NaN,NA,NA,NA,5,18.0,FIN
16,21.0,PAIMION RASTI;HALDEN SK,fredric portin,5,5,5.931,0.288,3,FIN,5.709,...,6.489,5.926,NaN,NaN,NA,NA,NA,3,21.0,FIN
17,18.0,PAIMION RASTI;RAJAMÄEN RYKMENTTI,vili niemi,7,7,6.042,0.422,7,FIN,6.320,...,5.573,6.929,5.691,5.943,NA,NA,NA,7,18.0,FIN
18,14.0,PAIMION RASTI;SÖDERTÄLJE NYKVARN ORIENTER,bartosz pawlak,6,5,5.986,0.805,5,SWE,5.636,...,7.355,4.874,NaN,NaN,NA,NA,NA,5,14.0,SWE
20,4.0,PAIMION RASTI;HALDEN SK,olav lundanes,5,5,5.703,0.410,7,NOR,5.230,...,6.430,5.557,NaN,NaN,NA,NA,NA,7,4.0,NOR
22,3.5,HALDEN SK,emil wingstedt,6,6,5.836,0.135,1,NOR,5.853,...,6.027,5.751,5.940,NaN,NA,NA,NA,1,3.5,NOR
24,87.0,JÄRLA ORIENTERING;HALDEN SK,mats nordbröden,6,6,7.042,0.442,2,SWE,6.547,...,7.619,7.050,7.591,NaN,NA,NA,NA,2,87.0,SWE
25,42.0,OK RAVINEN;SCOTTISH JUNIOR SQUAD;TURUN METSÄNK...,alexander chepelin,5,5,6.718,0.574,5,FIN,5.992,...,6.789,7.742,NaN,NaN,NA,NA,NA,5,42.0,FIN
27,3.5,HALDEN SK,magne dähli,6,6,5.541,0.223,7,NOR,5.259,...,5.324,5.566,5.928,NaN,NA,NA,NA,7,3.5,NOR
28,9.5,SÖDERTÄLJE NYKVARN ORIENTER,ralph street,6,6,5.977,0.465,1,SWE,5.795,...,6.306,6.861,5.715,NaN,NA,NA,NA,1,9.5,SWE
29,9.5,SÖDERTÄLJE NYKVARN ORIENTER,kent ohlsson,6,6,6.162,0.310,2,SWE,5.922,...,5.871,6.771,6.327,NaN,NA,NA,NA,2,9.5,SWE
30,9.0,SÖDERTÄLJE NYKVARN ORIENTER;JÄRLA ORIENTERING,håkon jarvis westergård,5,5,5.842,0.391,7,SWE,5.761,...,6.528,5.428,NaN,NaN,NA,NA,NA,7,9.0,SWE
31,10.5,SÖDERTÄLJE NYKVARN ORIENTER,ivar lundanes,6,6,6.072,0.585,3,SWE,6.725,...,6.407,5.147,6.684,NaN,NA,NA,NA,3,10.5,SWE
32,43.0,SÖDERTÄLJE NYKVARN ORIENTER;GÄVLE OK,jakob enmark,7,7,6.091,0.444,5,SWE,5.973,...,5.773,6.751,5.596,6.785,NA,NA,NA,5,43.0,SWE
34,5.0,SÖDERTÄLJE NYKVARN ORIENTER,jonas leandersson,7,7,5.686,0.432,7,SWE,5.386,...,5.196,6.471,5.291,6.111,NA,NA,NA,7,5.0,SWE
35,3.0,KALEVAN RASTI,jan prochazka,5,5,5.634,0.363,1,FIN,5.885,...,4.985,5.857,NaN,NaN,NA,NA,NA,1,3.0,FIN
36,156.0,KALEVAN RASTI;KUOPION SUUNNISTAJAT,markus räsänen,5,5,6.655,0.674,1,FIN,5.871,...,6.660,7.869,NaN,NaN,NA,NA,NA,1,156.0,FIN
37,75.0,SK VUOKSI;KALEVAN RASTI,lauri nenonen,5,5,6.525,0.733,7,FIN,5.650,...,6.178,7.245,NaN,NaN,NA,NA,NA,7,75.0,FIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20707,985.0,ESPOON SUUNTA;JIIRIVELJET,aleksi simola,5,5,10.271,1.075,2,FIN,10.092,...,8.658,11.913,NaN,NaN,NA,NA,NA,2,985.0,FIN
20730,1158.0,HIRVIVEIKOT,janne inkinen,5,4,12.728,2.543,6,FIN,9.794,...,16.416,NaN,NaN,NaN,NA,NA,NA,6,1158.0,FIN
20731,865.0,TEUVON VALO TEAM;SALON VILPAS,teemu räsänen,5,5,8.806,0.929,1,FIN,8.436,...,7.404,10.265,NaN,NaN,NA,NA,NA,1,865.0,FIN
20733,852.0,ETELÄ-KARJALAN KESKUSSAIRAA,joni puolanto,5,5,14.783,1.861,5,FIN,15.964,...,11.325,15.794,NaN,NaN,NA,NA,NA,5,852.0,FIN
20745,792.0,OUTOTEC;ABB MARINE,kari elomäki,5,5,11.099,1.237,3,FIN,10.394,...,9.640,10.774,NaN,NaN,NA,NA,NA,3,792.0,FIN
20748,418.0,ESPOON SUUNTA,panu haaramo,5,5,7.629,0.815,2,FIN,6.992,...,6.935,6.995,NaN,NaN,NA,NA,NA,2,418.0,FIN
20749,791.0,SK URANUS,mikko remsu,5,5,10.314,0.965,2,FIN,10.538,...,9.365,10.559,NaN,NaN,NA,NA,NA,2,791.0,FIN
20765,1178.0,ORIVEDEN PONNISTUS;BASWARE;KEHITYSSUUNTA;TARPI...,heikki lepistö,5,5,11.357,1.338,2,FIN,10.953,...,9.753,12.125,NaN,NaN,NA,NA,NA,2,1178.0,FIN
20771,954.0,ATTUNDA OK,anton daniels,5,5,9.952,2.040,4,SWE,11.003,...,7.524,8.531,NaN,NaN,NA,NA,NA,4,954.0,SWE
20782,730.0,SURAHAMMARS SOK,lennart trollvad,5,5,11.464,1.131,6,SWE,11.001,...,9.728,11.907,NaN,NaN,NA,NA,NA,6,730.0,SWE
20802,1307.0,RASTI-LUKKO,marko lehtonen:RASTI-LUKKO,5,3,11.246,0.841,6,FIN,10.306,...,NaN,NaN,NaN,NaN,NA,NA,NA,6,1307.0,FIN
20805,660.0,LAMMIN BETONI;KALVOLAN KEIHÄS;LAMMI-KIVITALOT,markus inkiläinen,5,5,9.668,0.485,1,FIN,9.701,...,8.743,10.134,NaN,NaN,NA,NA,NA,1,660.0,FIN
20810,603.0,OLG PFÄFFIKON,remo thoma,5,5,9.615,0.954,1,SUI,8.977,...,8.276,10.113,NaN,NaN,NA,NA,NA,1,603.0,SUI
20813,603.0,OLG PFÄFFIKON,hansjörg graf,5,5,12.080,1.185,4,SUI,13.583,...,9.985,12.136,NaN,NaN,NA,NA,NA,4,603.0,SUI
20817,565.0,URJALAN URHEILIJAT,olli nikander,5,5,9.936,1.169,2,FIN,9.062,...,8.150,10.510,NaN,NaN,NA,NA,NA,2,565.0,FIN
20835,596.0,AATERBAATEN,rickard jonforsen,5,4,9.783,1.393,3,SWE,8.518,...,9.373,NaN,NaN,NaN,NA,NA,NA,3,596.0,SWE
20838,596.0,AATERBAATEN,patrik blidefalk,5,4,10.752,1.238,7,SWE,10.339,...,12.648,NaN,NaN,NaN,NA,NA,NA,7,596.0,SWE
20839,594.0,SUOMUSJÄRVEN SISU,petteri lindblom,5,5,8.906,0.843,2,FIN,9.755,...,7.418,8.556,NaN,NaN,NA,NA,NA,2,594.0,FIN
20843,681.0,KANKAANPÄÄN SUUNNISTAJAT;HONKAJOEN SEUDUN URHE...,pentti hämäläinen,5,4,12.048,1.553,5,FIN,12.351,...,11.687,NaN,NaN,NaN,NA,NA,NA,5,681.0,FIN
20909,515.0,KANGASALA SK;AURAN VANNAS;KEPARDI,juho kattelus,5,4,8.593,1.196,7,FIN,6.953,...,9.965,NaN,NaN,NaN,NA,NA,NA,7,515.0,FIN
20918,383.0,OK MERIDIANS,janis butans,5,5,9.091,1.079,7,LAT,8.735,...,8.044,9.833,NaN,NaN,NA,NA,NA,7,383.0,LAT
20986,357.0,OK RAVINEN,jonas rinnbäck:OK RAVINEN,5,4,8.848,1.246,1,SWE,10.889,...,8.822,NaN,NaN,NaN,NA,NA,NA,1,357.0,SWE
20987,281.0,OK RAVINEN,krister kölzow,5,3,7.973,1.005,5,SWE,7.795,...,NaN,NaN,NaN,NaN,NA,NA,NA,5,281.0,SWE
21025,68.0,OK TISAREN,ivan forsgren,5,5,6.974,0.619,3,SWE,6.836,...,6.485,6.826,NaN,NaN,NA,NA,NA,3,68.0,SWE
21033,4.0,HALDEN SK,mats haldin,5,5,6.001,0.802,5,NOR,6.448,...,4.870,5.774,NaN,NaN,NA,NA,NA,5,4.0,NOR
22910,989.0,STORMIN TERÄS,perttu liukkonen:STORMIN TERÄS,5,3,10.957,1.595,7,FIN,9.871,...,NaN,NaN,NaN,NaN,NA,NA,NA,7,989.0,FIN
23027,955.0,KALVOLAN KEIHÄS,viljo johansson:KALVOLAN KEIHÄS,5,4,9.870,0.807,3,FIN,9.571,...,10.736,NaN,NaN,NaN,NA,NA,NA,3,955.0,FIN
23895,1297.0,SUONENJOEN VASAMA,joku suunnistaja:SUONENJOEN VASAMA,6,0,NaN,NaN,2,FIN,NaN,...,NaN,NaN,NaN,NaN,NA,NA,NA,2,1297.0,FIN
26643,542.0,NORDBRÖDEN FAMILY,nordbröden|:NORDBRÖDEN FAMILY,7,7,7.713,0.405,1,NOR,7.235,...,7.739,7.831,7.336,8.382,NA,NA,NA,1,542.0,NOR
30394,1447.0,TOIMEN POJAT,- -:TOIMEN POJAT,7,0,NaN,NaN,2,FIN,NaN,...,NaN,NaN,NaN,NaN,NA,NA,NA,2,1447.0,FIN

In [7]:
features = shared.preprocess_features(history, top_countries, top_first_names)
features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30755 entries, 0 to 30754
Data columns (total 22 columns):
mean_team_id           30755 non-null float64
teams                  30755 non-null object
name                   30755 non-null object
num_runs               30755 non-null int64
num_valid_times        30755 non-null int64
mean_pace              28895 non-null float64
stdev                  28895 non-null float64
most_common_leg        30755 non-null int64
most_common_country    30361 non-null object
pace_1                 28895 non-null float64
pace_2                 16336 non-null float64
pace_3                 11541 non-null float64
pace_4                 8326 non-null float64
pace_5                 5925 non-null float64
pace_6                 3827 non-null float64
pace_7                 1671 non-null float64
year                   30755 non-null object
pace                   30755 non-null object
team                   30755 non-null object
leg_nro                30755 non-null int64
team_id                30755 non-null float64
team_country           30361 non-null object
dtypes: float64(11), int64(4), object(7)
memory usage: 5.2+ MB

None

,team_id,leg_1,leg_2,leg_3,leg_4,leg_5,leg_6,leg_7,c_CZE,c_DEN,...,fn_visa,fn_vladimir,fn_väinö,fn_william,fn_yrjö,fn_öystein,fn_öyvind,team_id_log10,team_id_log100,team_id_square
0,18.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.267172,0.633586,342.25
1,12.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.079181,0.539591,144.00
2,3.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.477121,0.238561,9.00
3,18.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1.255273,0.627636,324.00
4,21.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1.322219,0.661110,441.00
5,3.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.477121,0.238561,9.00
6,5.5,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0.740363,0.370181,30.25
7,8.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.929419,0.464709,72.25
8,12.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.079181,0.539591,144.00
9,9.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.954243,0.477121,81.00
10,16.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.204120,0.602060,256.00
11,85.5,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.931966,0.965983,7310.25
12,5.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.698970,0.349485,25.00
13,12.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1.079181,0.539591,144.00
14,26.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.414973,0.707487,676.00
15,18.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1.255273,0.627636,324.00
16,21.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.322219,0.661110,441.00
17,18.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1.255273,0.627636,324.00
18,14.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1.146128,0.573064,196.00
19,7.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0.845098,0.422549,49.00
20,4.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0.602060,0.301030,16.00
21,5.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.698970,0.349485,25.00
22,3.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.544068,0.272034,12.25
23,13.5,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.130334,0.565167,182.25
24,87.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.939519,0.969760,7569.00
25,42.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1.623249,0.811625,1764.00
26,432.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.635484,1.317742,186624.00
27,3.5,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0.544068,0.272034,12.25
28,9.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.977724,0.488862,90.25
29,9.5,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.977724,0.488862,90.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30725,191.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2.281033,1.140517,36481.00
30726,191.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2.281033,1.140517,36481.00
30727,191.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2.281033,1.140517,36481.00
30728,191.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2.281033,1.140517,36481.00
30729,173.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2.238046,1.119023,29929.00
30730,160.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.204120,1.102060,25600.00
30731,160.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.204120,1.102060,25600.00
30732,160.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2.204120,1.102060,25600.00
30733,160.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,2.204120,1.102060,25600.00
30734,160.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.204120,1.102060,25600.00
30735,160.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.204120,1.102060,25600.00
30736,149.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.173186,1.086593,22201.00
30737,149.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2.173186,1.086593,22201.00
30738,149.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,2.173186,1.086593,22201.00
30739,149.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.173186,1.086593,22201.00
30740,149.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.173186,1.086593,22201.00
30741,139.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.143015,1.071507,19321.00
30742,135.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.130334,1.065167,18225.00
30743,135.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.130334,1.065167,18225.00
30744,135.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2.130334,1.065167,18225.00
30745,84.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1.924279,0.962140,7056.00
30746,84.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1.924279,0.962140,7056.00
30747,71.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1.851258,0.925629,5041.00
30748,59.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1.770852,0.885426,3481.00
30749,46.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1.662758,0.831379,2116.00
30750,43.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1.633468,0.816734,1849.00
30751,27.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1.431364,0.715682,729.00
30752,27.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1.431364,0.715682,729.00
30753,27.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1.431364,0.715682,729.00
30754,27.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1.431364,0.715682,729.00

In [8]:
x = features.values
x.shape

(30755, 492)

In [9]:

#pmlearn_linear = joblib.load('pmlearn_linear.sav')
gbr = joblib.load('gbr.sav')
gbr_q_low = joblib.load('gbr_q_low.sav')
gbr_q_high = joblib.load('gbr_q_high.sav')

In [10]:
#pmlearn_preds = pmlearn_linear.predict(features, return_std=True)
gbr_preds = gbr.predict(features)
gbr_q_low_preds = gbr_q_low.predict(features)
gbr_q_high_preds = gbr_q_high.predict(features)

In [11]:
gbr_preds

array([1.81029321, 1.77006833, 1.80048369, ..., 1.83846888, 1.86759701,
       1.84805425])

In [12]:
gbr_sd_estimate = pd.DataFrame({
    'q_low':np.exp(gbr_q_low_preds),
    'predicted':np.exp(gbr_preds), 
    'q_high':np.exp(gbr_q_high_preds), 
})

# Propably unjustified way to estimate standard deviation
gbr_sd_estimate["std"] = (gbr_sd_estimate.q_high - gbr_sd_estimate.q_low) / 2

display(gbr_sd_estimate.head(15).round(3))
display(gbr_sd_estimate["std"].mean())

    q_low  predicted  q_high    std
0   5.825      6.112   6.797  0.486
1   5.604      5.871   6.425  0.411
2   5.661      6.053   6.557  0.448
3   5.772      6.513   7.376  0.802
4   5.660      6.051   6.902  0.621
5   5.430      5.762   6.721  0.645
6   5.619      5.920   6.872  0.626
7   5.662      6.194   6.867  0.603
8   5.655      6.135   6.733  0.539
9   5.652      6.023   6.801  0.574
10  5.679      6.189   6.601  0.461
11  6.343      6.841   7.450  0.553
12  5.503      6.079   7.058  0.778
13  5.536      5.980   6.859  0.662
14  5.926      6.241   7.036  0.555

1.9736728663934384

In [13]:
#history['prior_mean'] = np.exp(pmlearn_preds[0])
#history['prior_std'] = np.exp(pmlearn_preds[1])
history['prior_mean'] = gbr_sd_estimate["predicted"]
history['prior_std'] = gbr_sd_estimate["std"]

In [14]:
history['prior_mean_error'] = np.abs(history['prior_mean'] - history['mean_pace'])
display(np.mean(history['prior_mean_error']))
history['prior_mean_error_in_sd'] = history['prior_mean_error'] / history['stdev']
display(np.mean(history['prior_mean_error_in_sd']))
display(np.mean(np.abs(history['prior_std'] - history['stdev'])))

1.382355370075124

inf

1.458120384936785

In [15]:
history.head(10)

,mean_team_id,teams,name,num_runs,num_valid_times,mean_pace,stdev,most_common_leg,most_common_country,pace_1,...,year,pace,team,leg_nro,team_id,team_country,prior_mean,prior_std,prior_mean_error,prior_mean_error_in_sd
0,18.5,KOOVEE,joni hirvikallio,6,5,5.905,0.177,1,FIN,5.873,...,NA,NA,NA,1,18.5,FIN,6.112239,0.485894,0.207239,1.170844
1,12.0,KOOVEE,topi anjala,7,7,6.051,0.483,1,FIN,5.882,...,NA,NA,NA,1,12.0,FIN,5.871255,0.410902,0.179745,0.372144
2,3.0,DELTA;KOOVEE;HIIDENKIERTÄJÄT,lauri sild,7,7,5.933,0.382,2,FIN,5.836,...,NA,NA,NA,2,3.0,FIN,6.052574,0.448096,0.119574,0.313022
3,18.0,OK ORION;KOOVEE,oleksandr kratov,3,3,6.069,0.363,4,SWE,5.703,...,NA,NA,NA,4,18.0,SWE,6.513263,0.801948,0.444263,1.223864
4,21.0,KANGASALA SK;KOOVEE,kenny kivikas,7,5,5.936,0.345,7,FIN,5.603,...,NA,NA,NA,7,21.0,FIN,6.051477,0.621079,0.115477,0.334715
5,3.0,DELTA;KOOVEE;HIIDENKIERTÄJÄT,timo sild,7,7,5.630,0.335,6,FIN,5.526,...,NA,NA,NA,6,3.0,FIN,5.761801,0.645319,0.131801,0.393434
6,5.5,KOOVEE;KRISTIANSAND OK,daniel hubmann,6,6,5.646,0.520,7,FIN,5.294,...,NA,NA,NA,7,5.5,FIN,5.919753,0.626408,0.273753,0.526449
7,8.5,IFK GÖTEBORG;BROMMA-VÄLLINGBY SOK/JÄRFÄL,max peter bejmer,4,4,6.203,0.937,1,SWE,5.802,...,NA,NA,NA,1,8.5,SWE,6.193804,0.602632,0.009196,0.009815
8,12.0,IFK GÖTEBORG;MARKBYGDENS OK,johan högstrand,5,5,6.117,0.449,2,SWE,5.794,...,NA,NA,NA,2,12.0,SWE,6.135184,0.539036,0.018184,0.040499
9,9.0,IFK GÖTEBORG,vetle ruud bråten,5,5,5.705,0.185,3,SWE,5.525,...,NA,NA,NA,3,9.0,SWE,6.023024,0.574454,0.318024,1.719050

In [16]:
#history[np.logical_and(history['teams'].str.contains("REAK"), history['num_runs'] < 2)]
display(np.mean(history[history['num_runs'] == 1]["prior_mean_error"]))
display(np.mean(history[history['num_runs'] == 2]["prior_mean_error"]))
display(np.mean(history[history['num_runs'] == 3]["prior_mean_error"]))
display(np.mean(history[history['num_runs'] == 4]["prior_mean_error"]))
display(np.mean(history[history['num_runs'] == 5]["prior_mean_error"]))
display(np.mean(history[history['num_runs'] == 6]["prior_mean_error"]))
display(np.mean(history[history['num_runs'] == 7]["prior_mean_error"]))

display(np.mean(history[history['num_runs'] == 1]["prior_std"]))
display(np.mean(history[history['num_runs'] == 2]["prior_std"]))
display(np.mean(history[history['num_runs'] == 3]["prior_std"]))
display(np.mean(history[history['num_runs'] == 4]["prior_std"]))
display(np.mean(history[history['num_runs'] == 5]["prior_std"]))
display(np.mean(history[history['num_runs'] == 6]["prior_std"]))
display(np.mean(history[history['num_runs'] == 7]["prior_std"]))

1.749923264418126

1.514842243371678

1.1912169495420806

1.0964459399175943

0.9046230638901845

0.8052138722013198

0.7621024991774469

2.1989309252951537

2.044905475816291

1.9010074385027707

1.7948745719166412

1.6813739101415646

1.5516209228686884

1.4987617241770956

In [17]:

#runner = history[history['name'].str.contains("oskari pirttikoski") | history['name'].str.contains("freeman") | history['name'].str.contains("pasi huhtiniemi")]
#runner = history[np.logical_and(history['teams'].str.contains("REAK"), history["num_valid_times"] > 1)] 
#runner = history[np.isfinite(history["pace_7"])] 
runner = history[history["num_valid_times"] > 2] 

display(runner[["name", "num_valid_times", "mean_pace", "stdev", "prior_mean", "prior_std"]])
##runner runner = history[np.isfinite(history["pace_7"])] 
#runner = history[np.isfinite(= history[history['name'].str.contains("freeman")]] 

#display(runner["prior_mean"])
#display(runner["prior_std_correct"])
#pace_col_names = [f"pace_{index}" for index in range(1,8)]
paces = runner[["pace_1", "pace_2", "pace_3", "pace_4", "pace_5", "pace_6", "pace_7"]]

,name,num_valid_times,mean_pace,stdev,prior_mean,prior_std
0,joni hirvikallio,5,5.905,0.177,6.112239,0.485894
1,topi anjala,7,6.051,0.483,5.871255,0.410902
2,lauri sild,7,5.933,0.382,6.052574,0.448096
3,oleksandr kratov,3,6.069,0.363,6.513263,0.801948
4,kenny kivikas,5,5.936,0.345,6.051477,0.621079
5,timo sild,7,5.630,0.335,5.761801,0.645319
6,daniel hubmann,6,5.646,0.520,5.919753,0.626408
7,max peter bejmer,4,6.203,0.937,6.193804,0.602632
8,johan högstrand,5,6.117,0.449,6.135184,0.539036
9,vetle ruud bråten,5,5.705,0.185,6.023024,0.574454
10,jonas pilblad,6,6.154,0.389,6.189252,0.460988
11,jens wängdahl,5,6.181,0.341,6.841226,0.553292
12,fredrik bakkman,3,5.423,0.088,6.078625,0.777605
13,eskil kinneberg,5,5.608,0.081,5.979965,0.661679
14,daniel stenlund,6,6.174,0.615,6.241357,0.555062
15,jesse laukkarinen,6,6.156,0.521,6.074474,0.595514
16,fredric portin,5,5.931,0.288,6.174487,0.560763
17,vili niemi,7,6.042,0.422,6.044503,0.543127
18,bartosz pawlak,5,5.986,0.805,6.157538,0.664127
20,olav lundanes,5,5.703,0.410,5.956428,0.580805
22,emil wingstedt,6,5.836,0.135,6.128197,0.517498
23,thomas natvig årstad,4,5.964,0.579,6.048276,0.375992
24,mats nordbröden,6,7.042,0.442,7.200431,0.649114
25,alexander chepelin,5,6.718,0.574,6.133423,0.546468
26,riccardo scalet,3,6.735,0.897,9.019212,1.437293
27,magne dähli,6,5.541,0.223,5.978188,0.570725
28,ralph street,6,5.977,0.465,6.159341,0.553719
29,kent ohlsson,6,6.162,0.310,6.191154,0.565127
30,håkon jarvis westergård,5,5.842,0.391,5.728390,0.641568
31,ivar lundanes,6,6.072,0.585,6.197836,0.513605
...,...,...,...,...,...,...
25868,harri juola,3,20.322,1.915,13.803303,3.304178
25890,jarmo varjus,3,11.823,1.273,11.937228,3.573582
25997,reijo nokelainen,3,12.802,2.987,11.996087,2.217336
26003,rauno raitanen,3,12.900,2.289,12.194734,2.382523
26055,jan lindberg,3,15.350,2.386,11.157208,2.396988
26057,toni vanhala,3,12.324,2.092,11.757631,2.273211
26068,jukka urpalainen,3,10.600,1.815,12.939536,3.064413
26070,johan uusitalo,3,12.552,2.212,12.152108,2.417950
26073,heikki liimatainen,3,10.514,1.026,11.705026,2.116255
26090,matti näkkilä,3,12.888,2.195,10.481808,1.574119
26095,eero penttilä,3,9.881,2.230,11.792969,2.499587
26112,alexander fors,3,8.719,1.136,7.266882,1.001088
26118,peter tallberg,3,10.694,1.446,9.691795,1.405332
26119,rune svärd,3,10.113,1.449,9.704726,1.379471
26127,atte rättyä,3,10.554,1.172,10.268531,1.610554
26134,markku sipponen,3,10.241,1.977,10.935093,1.653597
26136,antti kainu,3,10.373,1.495,9.616735,1.308679
26137,eemeli korhonen,3,14.506,4.014,10.323924,1.468044
26153,ismo tuononen,3,10.719,1.850,11.479783,1.940167
26164,markus välimäki,3,10.285,0.788,10.830592,2.018072
26165,johanna hervonen,3,10.869,0.983,11.493913,3.115105
26166,pasi ojapalo,3,9.961,0.571,10.535586,1.814116
26223,samuli suoranta,3,10.147,1.515,9.901471,1.680543
26227,annabella tolonen,3,9.190,0.786,10.433177,2.052614
26246,kari bovellan,3,9.129,1.065,8.450604,1.126679
26257,erkki mäntylä:JÄMSÄN RETKI-VEIKOT,3,12.608,1.133,10.978630,1.889076
26262,evan barr,3,7.852,0.394,8.605336,1.381704
26277,rikard pentonen,3,7.108,1.282,6.955784,0.755736
26415,felix larsson:OK SKOGSFALKEN,3,8.319,0.962,7.833576,0.804544
26643,nordbröden|:NORDBRÖDEN FAMILY,7,7.713,0.405,6.945363,0.959070

In [18]:
history[["stdev", "prior_std"]].describe(percentiles=[0.05, .25, .5, .75, .95, .99])

              stdev     prior_std
count  28895.000000  30755.000000
mean       0.579511      1.973673
std        0.791137      0.775398
min        0.000000      0.214991
5%         0.000000      0.860704
25%        0.000000      1.386388
50%        0.306000      1.868329
75%        0.931000      2.477556
95%        2.020300      3.485006
99%        3.452120      3.858138
max       13.600000      7.882094

In [19]:
log_stds = np.clip(np.log(runner["prior_std"]), 0.1, 3.5).values
np.min(log_stds)

0.1

In [20]:
import multiprocessing
multiprocessing.cpu_count()

12

In [21]:
J=np.log(paces).T.shape
display(J)
import pymc3 as pm
with pm.Model() as hierarchial:
    mu = pm.Normal('mu', mu=np.log(runner["prior_mean"]).values, sd=log_stds, shape=J[1])
    sigma = pm.Lognormal('sigma',mu=log_stds, sd=0.5, shape=J[1])
    
    eta = pm.Normal('eta', 0, 1, shape=J)
    tau = pm.HalfCauchy('tau', beta=5,shape=J[1])
    #theta = pm.Normal('theta', mu=mu, sd=tau, shape=J)
    theta = pm.Deterministic('theta', mu + tau*eta)
    obs = pm.Normal('obs', mu=theta, sd=sigma, observed=np.log(paces).T)

(7, 11541)

/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/pymc3/model.py:1266: UserWarning: Data in obs contains missing values and will be automatically imputed from the sampling distribution.
  warnings.warn(impute_message, UserWarning)
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]

In [ ]:

with hierarchial:
    nuts_args = {
        "target_accept": 0.8
    }
    short_trace = pm.sample(3000, n_init=3000, tune=5000, random_seed=2019, 
                            cores= multiprocessing.cpu_count() -1, 
                            #chains=4,
                            nuts_kwargs=nuts_args)

Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Multiprocess sampling (11 chains in 11 jobs)
NUTS: [obs_missing, tau, eta, sigma, mu]
Sampling 11 chains:  67%|██████▋   | 59031/88000 [5:52:27<2:08:45,  3.75draws/s]

In [ ]:
#pm.summary(short_trace).round(2)
#np.exp(pm.summary(short_trace)[["mean", "sd"]]).round(3)

In [ ]:
#history[np.logical_and(history['num_valid_times'] >= 7, np.isnan(history["pace_7"]))][["name", "num_valid_times"]]

In [ ]:
#runner["predicted_pace"] = np.exp(np.mean(short_trace["mu"], axis=0))
runner = runner.assign(predicted_pace = np.exp(np.mean(short_trace["mu"], axis=0)))
runner = runner.assign(predicted_pace_sigma = np.exp(np.mean(short_trace["sigma"], axis=0)))

runner["predicted_pace_sigma_fix"] = runner["predicted_pace_sigma"] - 0.8
runner["pred_pace_error"] = np.abs(runner["predicted_pace"] - runner["mean_pace"])
display(runner[["mean_team_id", "name", "num_valid_times", "mean_pace", "stdev", "prior_mean", "prior_std", 
                "predicted_pace", "pred_pace_error", "predicted_pace_sigma_fix"]].head(15))

In [ ]:
display(np.mean(runner['prior_mean_error']))
np.mean(runner["pred_pace_error"])

In [ ]:
display(np.mean(runner["pred_pace_error"]/runner["stdev"]))
display(np.mean(runner["pred_pace_error"]/runner["predicted_pace_sigma_fix"]))
display(np.mean(runner["prior_std"]/runner["predicted_pace_sigma_fix"]))

In [ ]:
display(np.mean(runner["predicted_pace_sigma_fix"]))

In [ ]:
pm.traceplot(short_trace, varnames=['mu', 'sigma'])

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')

%config InlineBackend.figure_format = 'retina'

# plot the estimate for the mean of log(τ) cumulating mean
logmu = np.exp(short_trace['mu'])
mlogmu = [np.mean(logmu[:i]) for i in np.arange(1, len(logmu))]
plt.figure(figsize=(15, 4))
#plt.axhline(14.383, lw=2.5, color='gray')
plt.plot(mlogmu, lw=2.5)
#plt.ylim(0, 2)
plt.xlabel('Iteration')
plt.ylabel('MCMC mean of log(mu)')
plt.title('MCMC estimation of log(mu)');

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')

%config InlineBackend.figure_format = 'retina'

# plot the estimate for the mean of log(τ) cumulating mean
logtau = np.log(short_trace['tau'])
mlogtau = [np.mean(logtau[:i]) for i in np.arange(1, len(logtau))]
plt.figure(figsize=(15, 4))
#plt.axhline(14.383, lw=2.5, color='gray')
plt.plot(mlogtau, lw=2.5)
#plt.ylim(0, 2)
plt.xlabel('Iteration')
plt.ylabel('MCMC mean of log(tau)')
plt.title('MCMC estimation of log(tau)');