In [1]:
import pandas as pd
import numpy as np
import shared
import json


ve_or_ju = "ju"

In [2]:
history = pd.read_csv('data/grouped_paces_ju.tsv', delimiter="\t")
history.head()

,mean_team_id,teams,name,num_runs,num_valid_times,mean_pace,stdev,most_common_leg,most_common_country,pace_1,pace_2,pace_3,pace_4,pace_5,pace_6,pace_7
0,18.5,KOOVEE,joni hirvikallio,6,5,5.905,0.177,1,FIN,5.873,5.762,6.251,5.843,5.796,NaN,NaN
1,12.0,KOOVEE,topi anjala,7,7,6.051,0.483,1,FIN,5.882,5.621,6.100,5.977,7.164,5.642,5.974
2,3.0,DELTA;KOOVEE;HIIDENKIERTÄJÄT,lauri sild,7,7,5.933,0.382,2,FIN,5.836,5.851,5.996,5.829,6.765,5.391,5.866
3,18.0,OK ORION;KOOVEE,oleksandr kratov,3,3,6.069,0.363,4,SWE,5.703,5.940,6.563,NaN,NaN,NaN,NaN
4,21.0,KANGASALA SK;KOOVEE,kenny kivikas,7,5,5.936,0.345,7,FIN,5.603,5.662,5.837,6.014,6.562,NaN,NaN

In [3]:
# HISTORY: ""mean_team_id"	"teams"	"name"	"num_runs"	"num_valid_times"	"mean_pace"	"stdev"	"most_common_leg"	"most_common_country"	
# "pace_1"	"pace_2"	"pace_3"	"pace_4"	"pace_5"	"pace_6"	"pace_7"
# RUNS: "team"	"team_country"	"pace"	"leg_nro"	"num_runs"
history["leg_nro"] = history["most_common_leg"]
history["team_id"] = history["mean_team_id"]
history["team_country"] = history["most_common_country"]

In [4]:
(top_countries, top_first_names) = shared.read_persisted_dummy_column_values(ve_or_ju)

In [5]:
features = shared.preprocess_features(history, top_countries, ve_or_ju)
features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30755 entries, 0 to 30754
Data columns (total 19 columns):
mean_team_id           30755 non-null float64
teams                  30755 non-null object
name                   30755 non-null object
num_runs               30755 non-null int64
num_valid_times        30755 non-null int64
mean_pace              28895 non-null float64
stdev                  28895 non-null float64
most_common_leg        30755 non-null int64
most_common_country    30361 non-null object
pace_1                 28895 non-null float64
pace_2                 16336 non-null float64
pace_3                 11541 non-null float64
pace_4                 8326 non-null float64
pace_5                 5925 non-null float64
pace_6                 3827 non-null float64
pace_7                 1671 non-null float64
leg_nro                30755 non-null int64
team_id                30755 non-null float64
team_country           30361 non-null object
dtypes: float64(11), int64(4), object(4)
memory usage: 4.5+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1587 entries, 0 to 1586
Data columns (total 3 columns):
first_name           1586 non-null object
fn_pace_class        1587 non-null int64
fn_pace_std_class    1587 non-null int64
dtypes: int64(2), object(1)
memory usage: 37.3+ KB

None

,team_id,team_id_log10,team_id_square,leg_1,leg_2,leg_3,leg_4,leg_5,leg_6,leg_7,...,fn_pace_class_6.0,fn_pace_class_7.0,fn_pace_class_8.0,fn_pace_class_9.0,fn_pace_class_nan,fn_pace_std_class_0.0,fn_pace_std_class_1.0,fn_pace_std_class_2.0,fn_pace_std_class_3.0,fn_pace_std_class_nan
0,18.5,1.267172,342.25,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,12.0,1.079181,144.00,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,3.0,0.477121,9.00,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,18.0,1.255273,324.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,21.0,1.322219,441.00,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0
5,3.0,0.477121,9.00,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
6,5.5,0.740363,30.25,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
7,8.5,0.929419,72.25,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,12.0,1.079181,144.00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,9.0,0.954243,81.00,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10,16.0,1.204120,256.00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
11,85.5,1.931966,7310.25,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
12,5.0,0.698970,25.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
13,12.0,1.079181,144.00,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
14,26.0,1.414973,676.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,18.0,1.255273,324.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
16,21.0,1.322219,441.00,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
17,18.0,1.255273,324.00,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
18,14.0,1.146128,196.00,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
19,7.0,0.845098,49.00,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
20,4.0,0.602060,16.00,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
21,5.0,0.698970,25.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,3.5,0.544068,12.25,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23,13.5,1.130334,182.25,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
24,87.0,1.939519,7569.00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,42.0,1.623249,1764.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
26,432.0,2.635484,186624.00,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
27,3.5,0.544068,12.25,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
28,9.5,0.977724,90.25,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
29,9.5,0.977724,90.25,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30725,191.0,2.281033,36481.00,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
30726,191.0,2.281033,36481.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30727,191.0,2.281033,36481.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30728,191.0,2.281033,36481.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30729,173.0,2.238046,29929.00,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
30730,160.0,2.204120,25600.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30731,160.0,2.204120,25600.00,0,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
30732,160.0,2.204120,25600.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
30733,160.0,2.204120,25600.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30734,160.0,2.204120,25600.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
30735,160.0,2.204120,25600.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
30736,149.0,2.173186,22201.00,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
30737,149.0,2.173186,22201.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30738,149.0,2.173186,22201.00,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
30739,149.0,2.173186,22201.00,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
30740,149.0,2.173186,22201.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
30741,139.0,2.143015,19321.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
30742,135.0,2.130334,18225.00,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
30743,135.0,2.130334,18225.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30744,135.0,2.130334,18225.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30745,84.0,1.924279,7056.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30746,84.0,1.924279,7056.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
30747,71.0,1.851258,5041.00,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
30748,59.0,1.770852,3481.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
30749,46.0,1.662758,2116.00,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
30750,43.0,1.633468,1849.00,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
30751,27.0,1.431364,729.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30752,27.0,1.431364,729.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
30753,27.0,1.431364,729.00,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
30754,27.0,1.431364,729.00,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [6]:
features.shape

(30755, 54)

In [7]:
gbr_sd_estimate = shared.predict_without_history(features, ve_or_ju)

    log_q_low  predicted  log_q_high  log_std
0       1.763      6.373       1.901    0.069
1       1.755      6.096       1.842    0.043
2       1.741      6.244       1.877    0.068
3       1.752      6.431       1.989    0.119
4       1.725      6.080       1.868    0.071
5       1.686      5.741       1.860    0.087
6       1.716      5.936       1.861    0.072
7       1.752      6.341       1.905    0.076
8       1.743      6.160       1.862    0.059
9       1.750      6.197       1.903    0.077
10      1.740      6.185       1.885    0.073
11      1.851      6.907       2.038    0.093
12      1.689      5.883       1.937    0.124
13      1.711      5.990       1.861    0.075
14      1.758      6.149       1.902    0.072

0.17823732344260543

In [8]:
#history['prior_mean'] = np.exp(pmlearn_preds[0])
#history['prior_std'] = np.exp(pmlearn_preds[1])
history['prior_mean'] = gbr_sd_estimate["predicted"]
history['prior_log_std'] = gbr_sd_estimate["log_std"]

In [9]:
history['prior_mean_error'] = np.abs(history['prior_mean'] - history['mean_pace'])
display(np.mean(history['prior_mean_error']))
history['prior_mean_error_in_sd'] = history['prior_mean_error'] / np.exp(history['prior_log_std'])
display(np.mean(history['prior_mean_error_in_sd']))

1.3466497076755541

1.1069928424333408

In [10]:
history.head(5)

,mean_team_id,teams,name,num_runs,num_valid_times,mean_pace,stdev,most_common_leg,most_common_country,pace_1,...,pace_5,pace_6,pace_7,leg_nro,team_id,team_country,prior_mean,prior_log_std,prior_mean_error,prior_mean_error_in_sd
0,18.5,KOOVEE,joni hirvikallio,6,5,5.905,0.177,1,FIN,5.873,...,5.796,NaN,NaN,1,18.5,FIN,6.373201,0.068683,0.468201,0.437123
1,12.0,KOOVEE,topi anjala,7,7,6.051,0.483,1,FIN,5.882,...,7.164,5.642,5.974,1,12.0,FIN,6.095996,0.043279,0.044996,0.043090
2,3.0,DELTA;KOOVEE;HIIDENKIERTÄJÄT,lauri sild,7,7,5.933,0.382,2,FIN,5.836,...,6.765,5.391,5.866,2,3.0,FIN,6.244352,0.068041,0.311352,0.290872
3,18.0,OK ORION;KOOVEE,oleksandr kratov,3,3,6.069,0.363,4,SWE,5.703,...,NaN,NaN,NaN,4,18.0,SWE,6.431461,0.118701,0.362461,0.321892
4,21.0,KANGASALA SK;KOOVEE,kenny kivikas,7,5,5.936,0.345,7,FIN,5.603,...,6.562,NaN,NaN,7,21.0,FIN,6.079694,0.071473,0.143694,0.133783

In [11]:
history[['num_valid_times', "stdev", "prior_mean_error", "prior_log_std", "prior_mean_error_in_sd"]].groupby('num_valid_times').agg("mean").round(2)

,stdev,prior_mean_error,prior_log_std,prior_mean_error_in_sd
num_valid_times,,,,
0,NaN,NaN,0.20,NaN
1,0.00,1.61,0.19,1.31
2,0.89,1.50,0.18,1.24
3,1.06,1.18,0.17,0.98
4,1.13,1.11,0.17,0.92
5,1.13,0.94,0.16,0.79
6,1.07,0.84,0.15,0.71
7,1.02,0.72,0.14,0.61
8,1.17,0.49,0.15,0.42
10,0.73,0.33,0.11,0.29

In [12]:
#history[['num_valid_times', "stdev"]].groupby('num_valid_times').agg("std").round(2)

In [13]:

#runner_preds = history[np.logical_and(history['teams'].str.contains("RE"), history["num_valid_times"] > 1)] 
#runner_preds = history.loc[
#    (history['teams'].str.contains("IONS") |history['teams'].str.contains("ESPOON SUUNTA")) & 
#    (history["num_valid_times"] >= 1)] 
#runner_preds = history[np.isfinite(history["pace_7"])] 
runner_preds = history[history["num_valid_times"] >= 1] 

#display(runner_preds[["name", "num_valid_times", "mean_pace", "stdev", "prior_mean", "prior_log_std"]])
##runner_preds runner_preds = history[np.isfinite(history["pace_7"])] 

paces = runner_preds[["pace_1", "pace_2", "pace_3", "pace_4", "pace_5", "pace_6", "pace_7"]]
paces.shape

(28895, 7)

In [14]:
history[["stdev", "prior_log_std"]].describe(percentiles=[0.05, .25, .5, .75, .95, .99])

              stdev  prior_log_std
count  28895.000000   30755.000000
mean       0.579511       0.178237
std        0.791137       0.045217
min        0.000000       0.003866
5%         0.000000       0.110222
25%        0.000000       0.145616
50%        0.306000       0.177071
75%        0.931000       0.207847
95%        2.020300       0.250976
99%        3.452120       0.293644
max       13.600000       0.656020

In [15]:
#log_stds = np.clip(runner_preds["prior_log_std"], 0.1, 1.3).values
log_stds = runner_preds["prior_log_std"].values
np.min(log_stds)

0.0038663922015248486

In [16]:
import multiprocessing
multiprocessing.cpu_count()

12

In [17]:
J=np.log(paces).T.shape
display(J)
import pymc3 as pm
with pm.Model() as hierarchial:
    mu = pm.Normal('mu', mu=np.log(runner_preds["prior_mean"]).values, sd=log_stds, shape=J[1])
    # Please fix sigma, 
    sigma = pm.Lognormal('sigma',mu=log_stds, sd=0.35, shape=J[1])
    
    eta = pm.Normal('eta', 0, 1)
    tau = pm.HalfCauchy('tau', beta=5,shape=J[1])
    #theta = pm.Normal('theta', mu=mu, sd=tau, shape=J)
    theta = pm.Deterministic('theta', mu + tau*eta)
    obs = pm.Normal('obs', mu=theta, sd=sigma, observed=np.log(paces).T)

(7, 28895)

/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/pymc3/model.py:1331: UserWarning: Data in obs contains missing values and will be automatically imputed from the sampling distribution.
  warnings.warn(impute_message, UserWarning)
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]

In [18]:

with hierarchial:
    nuts_args = {
        "target_accept": 0.9
    }
    short_trace = pm.sample(3000, n_init=3000, tune=5000, random_seed=2019, 
                            cores= multiprocessing.cpu_count() -1, 
                            chains=4,
                            nuts_kwargs=nuts_args)

Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Multiprocess sampling (4 chains in 11 jobs)
NUTS: [obs_missing, tau, eta, sigma, mu]
Sampling 4 chains:   0%|          | 0/32000 [00:00<?, ?draws/s]/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Sampling 4 chains: 100%|██████████| 32000/32000 [3:26:26<00:00,  1.14s/draws]
There were 30 divergences after tuning. Increase `target_accept` or reparameterize.
The acceptance probability does not match the target. It is 0.49918021323083256, but should be close to 0.9. Try to increase the number of tuning steps.
There were 34 divergences after tuning. Increase `target_accept` or reparameterize.
The acceptance probability does not match the target. It is 0.4781105965643528, but should be close to 0.9. Try to increase the number of tuning steps.
There were 19 divergences after tuning. Increase `target_accept` or reparameterize.
The acceptance probability does not match the target. It is 0.4946127857302733, but should be close to 0.9. Try to increase the number of tuning steps.
There were 22 divergences after tuning. Increase `target_accept` or reparameterize.
The acceptance probability does not match the target. It is 0.5513253535603421, but should be close to 0.9. Try to increase the number of tuning steps.
The number of effective samples is smaller than 10% for some parameters.

In [19]:
runner_preds = runner_preds.assign(predicted_log_pace_mean = np.mean(short_trace["mu"], axis=0))
runner_preds = runner_preds.assign(predicted_log_pace_std = np.std(short_trace["mu"], axis=0))
runner_preds = runner_preds.assign(predicted_pace = np.exp(runner_preds.predicted_log_pace_mean))
runner_preds = runner_preds.assign(predicted_pace_std = np.exp(runner_preds.predicted_log_pace_std))
runner_preds = runner_preds.assign(prior_exp_std = np.exp(runner_preds.prior_log_std))
runner_preds = runner_preds.assign(predicted_pace_sigma = np.exp(np.mean(short_trace["sigma"], axis=0)))

# 3.5 is a bit unjustified but we dont want to predict too wide interval
runner_preds["predicted_pace_sigma_fix"] = np.clip(runner_preds["predicted_pace_sigma"], 0.5, 3.5)
runner_preds["pred_pace_error"] = np.abs(runner_preds["predicted_pace"] - runner_preds["mean_pace"])
runner_preds["pred_pace_error_in_sigma"] = runner_preds["pred_pace_error"] / runner_preds["predicted_pace_sigma_fix"]
runner_preds["pred_pace_error_in_std"] = runner_preds["pred_pace_error"] / runner_preds["predicted_pace_std"]

In [20]:
display(runner_preds[["mean_team_id", "name", "num_valid_times", "mean_pace", "stdev", "prior_mean", "prior_exp_std", 
                "predicted_pace", "pred_pace_error", "predicted_pace_std", "predicted_pace_sigma_fix", "pred_pace_error_in_sigma", "pred_pace_error_in_std"]
                    ][runner_preds['teams'].str.contains("REAK")].round(2).head(10))

,mean_team_id,name,num_valid_times,mean_pace,stdev,prior_mean,prior_exp_std,predicted_pace,pred_pace_error,predicted_pace_std,predicted_pace_sigma_fix,pred_pace_error_in_sigma,pred_pace_error_in_std
3514,869.0,matti peltonen,2,8.86,0.67,10.14,1.15,10.06,1.20,1.15,2.60,0.46,1.05
3797,1491.0,mika ovaskainen:REAKTOR INNOVATIONS,1,10.70,0.00,13.24,1.26,13.10,2.40,1.25,3.34,0.72,1.92
3981,1491.0,jari järvinen:REAKTOR INNOVATIONS,1,12.74,0.00,13.30,1.21,13.28,0.54,1.21,3.12,0.17,0.44
4165,672.0,mikko peltonen:REAKTOR INNOVATIONS,7,8.85,0.70,9.30,1.12,9.15,0.30,1.10,1.70,0.18,0.27
4169,567.0,pasi huhtiniemi,7,9.16,0.65,8.86,1.13,8.94,0.22,1.11,1.72,0.13,0.20
4170,672.0,joni freeman,7,8.33,1.00,9.02,1.13,8.78,0.45,1.11,1.75,0.26,0.40
4171,672.0,tuomas kareinen,7,10.05,1.49,10.00,1.15,9.97,0.08,1.12,1.79,0.05,0.07
4172,532.0,janne vaittinen,3,11.10,1.28,10.28,1.20,10.39,0.71,1.19,2.48,0.29,0.60
4173,429.0,olavi kanerva,1,7.41,0.00,9.91,1.21,9.82,2.41,1.21,3.17,0.76,2.00
4174,672.0,jyri kytömäki,5,10.69,0.52,9.64,1.15,9.85,0.84,1.13,1.99,0.42,0.74

In [21]:
cleanned_up_preds = runner_preds[
    ["mean_team_id", "num_valid_times", "mean_pace", "stdev", "prior_mean", "prior_log_std", 
     "predicted_pace", "pred_pace_error", "predicted_log_pace_mean", "predicted_log_pace_std", "name", "teams"]].round(3)
cleanned_up_preds.to_csv(f"data/preds_for_runners_with_history_2_{ve_or_ju}.csv", sep='\t')

In [22]:
display(np.mean(runner_preds['prior_mean_error']))
display(np.mean(runner_preds["predicted_pace_sigma_fix"]))
display(np.mean(runner_preds["pred_pace_error_in_sigma"]))
display(np.mean(runner_preds["predicted_pace_std"]))
display(np.mean(runner_preds["pred_pace_error_in_std"]))
np.mean(runner_preds["pred_pace_error"])

1.3466497076755544

2.6797601109761087

0.4296402928119174

1.1822896522469124

1.005346065495479

1.2122819031530123

In [26]:
runner_preds[["predicted_pace_sigma", "predicted_pace_sigma_fix", "pred_pace_error_in_sigma", "predicted_pace_std", "pred_pace_error_in_std", "predicted_log_pace_std"]].describe(percentiles=[0.05, .25, .5, .75, .95, .99])

,predicted_pace_sigma,predicted_pace_sigma_fix,pred_pace_error_in_sigma,predicted_pace_std,pred_pace_error_in_std,predicted_log_pace_std
count,28895.000000,28895.000000,28895.000000,28895.000000,28895.000000,28895.000000
mean,2.682787,2.679760,0.429640,1.182290,1.005346,0.166465
std,0.518822,0.512194,0.458177,0.053070,1.160681,0.044251
min,1.629284,1.629284,0.000008,1.003916,0.000013,0.003909
5%,1.800382,1.800382,0.024681,1.107078,0.051679,0.101724
25%,2.234957,2.234957,0.136241,1.142679,0.290487,0.133376
50%,2.787169,2.787169,0.303565,1.178809,0.668196,0.164504
75%,3.117249,3.117249,0.561491,1.215641,1.294606,0.195271
95%,3.361770,3.361770,1.243771,1.270408,3.035911,0.239338
99%,3.566999,3.500000,2.255118,1.323505,5.709243,0.280283
max,6.388586,3.500000,5.865040,1.846947,16.159454,0.613534

In [24]:
runner_preds[
    ['num_valid_times', "prior_mean_error", "prior_exp_std", "prior_mean_error_in_sd", "pred_pace_error", "predicted_pace_sigma_fix", "pred_pace_error_in_sigma", "predicted_pace_std", "pred_pace_error_in_std"]
].groupby('num_valid_times').agg(["mean"]).round(2)

,prior_mean_error,prior_exp_std,prior_mean_error_in_sd,pred_pace_error,predicted_pace_sigma_fix,pred_pace_error_in_sigma,predicted_pace_std,pred_pace_error_in_std
,mean,mean,mean,mean,mean,mean,mean,mean
num_valid_times,,,,,,,,
1,1.61,1.21,1.31,1.55,3.15,0.48,1.21,1.26
2,1.50,1.20,1.24,1.38,2.77,0.49,1.19,1.14
3,1.18,1.19,0.98,1.02,2.47,0.40,1.18,0.86
4,1.11,1.18,0.92,0.90,2.23,0.39,1.16,0.77
5,0.94,1.17,0.79,0.71,2.04,0.34,1.15,0.61
6,0.84,1.16,0.71,0.59,1.89,0.31,1.13,0.52
7,0.72,1.15,0.61,0.46,1.76,0.26,1.12,0.41
8,0.49,1.16,0.42,0.33,1.77,0.19,1.12,0.29
10,0.33,1.11,0.29,0.21,1.71,0.12,1.10,0.19

In [25]:
STOP_HERE IT REQUIRES 72GB MEMORY ALREADY

SyntaxError: invalid syntax (<ipython-input-25-066092549149>, line 1)

In [ ]:
pm.traceplot(short_trace, var_names=['mu', 'sigma'])

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')

%config InlineBackend.figure_format = 'retina'

mu = np.exp(short_trace['mu'])
mmu = [np.mean(mu[:i]) for i in np.arange(1, len(mu))]
plt.figure(figsize=(15, 4))
#plt.axhline(14.383, lw=2.5, color='gray')
plt.plot(mmu, lw=2.5)
#plt.ylim(0, 2)
plt.xlabel('Iteration')
plt.ylabel('MCMC mean of (mu)')
plt.title('MCMC estimation of (mu)');

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')

%config InlineBackend.figure_format = 'retina'

sigma = np.exp(short_trace['sigma'])
msigma = [np.mean(sigma[:i]) for i in np.arange(1, len(sigma))]
plt.figure(figsize=(15, 4))
#plt.axhline(14.383, lw=2.5, color='gray')
plt.plot(msigma, lw=2.5)
#plt.ylim(0, 2)
plt.xlabel('Iteration')
plt.ylabel('MCMC mean of (sigma)')
plt.title('MCMC estimation of (sigma)');