In [1]:
import pandas as pd
import numpy as np
import shared
import json


ve_or_ju = "ju"

In [2]:
with open(f"data/top_countries_{ve_or_ju}.json") as json_file:
    top_countries = json.load(json_file)
top_countries

['FIN',
 'SWE',
 'NOR',
 'RUS',
 'LAT',
 'EST',
 'SUI',
 'GBR',
 'LTU',
 'DEN',
 'GER',
 'FRA',
 'ESP',
 'CZE',
 'ITA',
 'POL',
 'USA',
 'UKR',
 'HUN']

In [3]:
with open(f"data/top_first_names_{ve_or_ju}.json") as json_file:
    top_first_names = json.load(json_file)
top_first_names

['mikko',
 'antti',
 'timo',
 'juha',
 'matti',
 'jukka',
 'pekka',
 'mika',
 'jari',
 'jussi',
 'janne',
 'ville',
 'hannu',
 'heikki',
 'kari',
 'markku',
 'petri',
 'sami',
 'tuomas',
 'teemu',
 'marko',
 'harri',
 'lauri',
 'markus',
 'ari',
 'pasi',
 'vesa',
 'olli',
 'jouni',
 'jaakko',
 'eero',
 'arto',
 'tero',
 'juho',
 'tommi',
 'kimmo',
 'jani',
 'jarmo',
 'seppo',
 'risto',
 'tomi',
 'ilkka',
 'esa',
 'jarkko',
 'kalle',
 'tuomo',
 'tapio',
 'jyrki',
 'anders',
 'johan',
 'jorma',
 'simo',
 'erkki',
 'erik',
 'toni',
 'juhani',
 'jouko',
 'petteri',
 'jonas',
 'mikael',
 'joonas',
 'henrik',
 'lasse',
 'pertti',
 'aleksi',
 'martin',
 'henri',
 'jan',
 'aki',
 'niko',
 'samuli',
 'andreas',
 'anssi',
 'juuso',
 'esko',
 'pauli',
 'matias',
 'fredrik',
 'paavo',
 'miika',
 'joni',
 'peter',
 'riku',
 'niklas',
 'anton',
 'tapani',
 'daniel',
 'reijo',
 'martti',
 'kai',
 'jarno',
 'panu',
 'raimo',
 'stefan',
 'thomas',
 'keijo',
 'per',
 'magnus',
 'simon',
 'sakari',
 'pentti',
 'arttu',
 'oskar',
 'veli-matti',
 'valtteri',
 'eetu',
 'lars',
 'patrik',
 'ossi',
 'oskari',
 'aapo',
 'emil',
 'jyri',
 'asko',
 'kristian',
 'veikko',
 'joona',
 'ismo',
 'sergey',
 'mats',
 'björn',
 'johannes',
 'otto',
 'lassi',
 'joakim',
 'ilari',
 'rasmus',
 'topi',
 'janis',
 'atte',
 'teppo',
 'kim',
 'david',
 'alexander',
 'mattias',
 'johanna',
 'tuukka',
 'tomas',
 'hanna',
 'robert',
 'sampo',
 'christian',
 'tommy',
 'joel',
 'tatu',
 'pyry',
 'jere',
 'ilpo',
 'tom',
 'sanna',
 'rami',
 'miikka',
 'taneli',
 'elina',
 'samu',
 'kauko',
 'santeri',
 'marcus',
 'roope',
 'saku',
 'anna',
 'elias',
 'osmo',
 'andrey',
 'olavi',
 'tiina',
 'sauli',
 'john',
 'perttu',
 'jakob',
 'laura',
 'lukas',
 'rauno',
 'tarmo',
 'viktor',
 'vili',
 'antero',
 'eemeli',
 'reima',
 'jukka-pekka',
 'mauri',
 'hans',
 'jörgen',
 'olli-pekka',
 'sebastian',
 'iiro',
 'andris',
 'mauno',
 'ola',
 'veijo',
 'tobias',
 'leo',
 'mathias',
 'samuel',
 'jesse',
 'jon',
 'jenni',
 'ivan',
 'michael',
 'filip',
 'nils',
 'erno',
 'pavel',
 'oscar',
 'albin',
 'aaro',
 'jesper',
 'juha-pekka',
 'aku',
 'sergei',
 'ari-pekka',
 'martins',
 'riikka',
 'mari',
 'aleksei',
 'petter',
 '',
 'veli-pekka',
 'akseli',
 'juha-matti',
 'topias',
 'olle',
 'jens',
 'igor',
 'kenneth',
 'linus',
 'veli',
 'teuvo',
 'severi',
 'hannes',
 'sampsa',
 'juhana',
 'aimo',
 'maria',
 'öyvind',
 'håkan',
 'henry',
 'jonne',
 'visa',
 'heidi',
 'dmitry',
 'jonathan',
 'anne',
 'karl',
 'konsta',
 'terho',
 'niilo',
 'andrei',
 'reino',
 'henna',
 'sven',
 'ulf',
 'roman',
 'otso',
 'minna',
 'klaus',
 'christoffer',
 'kaisa',
 'rauli',
 'urpo',
 'adam',
 'ove',
 'paul',
 'gustav',
 'päivi',
 'harald',
 'carl',
 'öystein',
 'vladimir',
 'satu',
 'mikhail',
 'max',
 'axel',
 'taisto',
 'ilmari',
 'denis',
 'anu',
 'heimo',
 'dmitriy',
 'nikolay',
 'aleksey',
 'vegard',
 'kirsi',
 'tauno',
 'tanja',
 'aino',
 'göran',
 'anni',
 'kjell',
 'saara',
 'sara',
 'håvard',
 'pontus',
 'kalevi',
 'espen',
 'jori',
 'lari',
 'outi',
 'leena',
 'victor',
 'torbjörn',
 'liisa',
 'eirik',
 'kaj',
 'sören',
 'aarne',
 'leif',
 'aleksandr',
 'morten',
 'teijo',
 'staffan',
 'andre',
 'simen',
 'benjamin',
 'kyösti',
 'mark',
 'sindre',
 'arvid',
 'annika',
 'christer',
 'matthias',
 'harry',
 'salla',
 'rune',
 'katri',
 'erkka',
 'juri',
 'mårten',
 'oleg',
 'juris',
 'dan',
 'conny',
 'terhi',
 'william',
 'jonatan',
 'jussi-pekka',
 'väinö',
 'niclas',
 'unto',
 'nikolai',
 'lotta',
 'dag',
 'taavi',
 'niina',
 'kasperi',
 'kristaps',
 'richard',
 'arvo',
 'konstantin',
 'andis',
 'marius',
 'alexey',
 'tony',
 'sari',
 'reetta',
 'elmeri',
 'kent',
 'håkon',
 'ahti',
 'patrick',
 'oliver',
 'suvi',
 'ole',
 'arne',
 'hugo',
 'tim',
 'magne',
 'kati',
 'edgars',
 'eija',
 'riitta',
 'maris',
 'robin',
 'touko',
 'eric',
 'daniil',
 'eino',
 'arnis',
 'raivo',
 'roger',
 'yrjö',
 'raul',
 'karri',
 'kristoffer',
 'eveliina',
 'einar',
 'artem',
 'roland',
 'rolf',
 'lucas',
 'maxim',
 'guntars',
 'katja',
 'onni',
 'maija',
 'jari-pekka',
 'rickard',
 'ivar',
 'svein',
 'leevi',
 'kaspars',
 'santtu',
 'felix',
 'kirill',
 'mervi',
 'oula',
 'marek',
 'veera',
 'turo',
 'ilya',
 'emma',
 'ainars',
 'nina',
 'raine',
 'pietari',
 'ludvig',
 'aigars',
 'olof',
 'paula',
 'tarja',
 'vesa-matti',
 'heino',
 'aarno',
 'sigurd',
 'nico',
 'rainer',
 'alpo',
 'aleksander',
 'roy',
 'raino',
 'alex',
 'olav',
 'vesa-pekka',
 'maarit',
 'evgeniy',
 'nikita',
 'pär',
 'mia',
 'aatu',
 'gunnar',
 'eerik',
 'emmi',
 'peetu',
 'artur',
 'bo',
 'julius',
 'miro',
 'marja',
 'stein',
 'emils',
 'tore',
 'valters']

In [4]:
history = pd.read_csv('data/grouped_paces_ju.tsv', delimiter="\t")
history.head()

,mean_team_id,teams,name,num_runs,num_valid_times,mean_pace,stdev,most_common_leg,most_common_country,pace_1,pace_2,pace_3,pace_4,pace_5,pace_6,pace_7
0,18.5,KOOVEE,joni hirvikallio,6,5,5.905,0.177,1,FIN,5.873,5.762,6.251,5.843,5.796,NaN,NaN
1,12.0,KOOVEE,topi anjala,7,7,6.051,0.483,1,FIN,5.882,5.621,6.100,5.977,7.164,5.642,5.974
2,3.0,DELTA;KOOVEE;HIIDENKIERTÄJÄT,lauri sild,7,7,5.933,0.382,2,FIN,5.836,5.851,5.996,5.829,6.765,5.391,5.866
3,18.0,OK ORION;KOOVEE,oleksandr kratov,3,3,6.069,0.363,4,SWE,5.703,5.940,6.563,NaN,NaN,NaN,NaN
4,21.0,KANGASALA SK;KOOVEE,kenny kivikas,7,5,5.936,0.345,7,FIN,5.603,5.662,5.837,6.014,6.562,NaN,NaN

In [5]:
# HISTORY: ""mean_team_id"	"teams"	"name"	"num_runs"	"num_valid_times"	"mean_pace"	"stdev"	"most_common_leg"	"most_common_country"	
# "pace_1"	"pace_2"	"pace_3"	"pace_4"	"pace_5"	"pace_6"	"pace_7"
# RUNS: "team"	"team_country"	"pace"	"leg_nro"	"num_runs"
history["year"] = "NA"
history["pace"] = "NA"
history["team"] = "NA"
history["leg_nro"] = history["most_common_leg"]
history["team_id"] = history["mean_team_id"]
history["team_country"] = history["most_common_country"]

In [6]:
features = shared.preprocess_features(history, top_countries, top_first_names)
features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30755 entries, 0 to 30754
Data columns (total 22 columns):
mean_team_id           30755 non-null float64
teams                  30755 non-null object
name                   30755 non-null object
num_runs               30755 non-null int64
num_valid_times        30755 non-null int64
mean_pace              28895 non-null float64
stdev                  28895 non-null float64
most_common_leg        30755 non-null int64
most_common_country    30361 non-null object
pace_1                 28895 non-null float64
pace_2                 16336 non-null float64
pace_3                 11541 non-null float64
pace_4                 8326 non-null float64
pace_5                 5925 non-null float64
pace_6                 3827 non-null float64
pace_7                 1671 non-null float64
year                   30755 non-null object
pace                   30755 non-null object
team                   30755 non-null object
leg_nro                30755 non-null int64
team_id                30755 non-null float64
team_country           30361 non-null object
dtypes: float64(11), int64(4), object(7)
memory usage: 5.2+ MB

None

,team_id,team_id_log10,team_id_square,leg_1,leg_2,leg_3,leg_4,leg_5,leg_6,leg_7,...,fn_viktor,fn_vili,fn_ville,fn_visa,fn_vladimir,fn_väinö,fn_william,fn_yrjö,fn_öystein,fn_öyvind
0,18.5,1.267172,342.25,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,12.0,1.079181,144.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,0.477121,9.00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,18.0,1.255273,324.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,21.0,1.322219,441.00,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,3.0,0.477121,9.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,5.5,0.740363,30.25,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,8.5,0.929419,72.25,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,12.0,1.079181,144.00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9.0,0.954243,81.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,16.0,1.204120,256.00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,85.5,1.931966,7310.25,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,5.0,0.698970,25.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
13,12.0,1.079181,144.00,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
14,26.0,1.414973,676.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,18.0,1.255273,324.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16,21.0,1.322219,441.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,18.0,1.255273,324.00,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
18,14.0,1.146128,196.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
19,7.0,0.845098,49.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20,4.0,0.602060,16.00,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21,5.0,0.698970,25.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,3.5,0.544068,12.25,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,13.5,1.130334,182.25,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,87.0,1.939519,7569.00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,42.0,1.623249,1764.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26,432.0,2.635484,186624.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27,3.5,0.544068,12.25,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,9.5,0.977724,90.25,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,9.5,0.977724,90.25,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30725,191.0,2.281033,36481.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30726,191.0,2.281033,36481.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30727,191.0,2.281033,36481.00,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
30728,191.0,2.281033,36481.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30729,173.0,2.238046,29929.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30730,160.0,2.204120,25600.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30731,160.0,2.204120,25600.00,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30732,160.0,2.204120,25600.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30733,160.0,2.204120,25600.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30734,160.0,2.204120,25600.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30735,160.0,2.204120,25600.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30736,149.0,2.173186,22201.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30737,149.0,2.173186,22201.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30738,149.0,2.173186,22201.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30739,149.0,2.173186,22201.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30740,149.0,2.173186,22201.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30741,139.0,2.143015,19321.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30742,135.0,2.130334,18225.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30743,135.0,2.130334,18225.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30744,135.0,2.130334,18225.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30745,84.0,1.924279,7056.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30746,84.0,1.924279,7056.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30747,71.0,1.851258,5041.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30748,59.0,1.770852,3481.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30749,46.0,1.662758,2116.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30750,43.0,1.633468,1849.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
30751,27.0,1.431364,729.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30752,27.0,1.431364,729.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30753,27.0,1.431364,729.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30754,27.0,1.431364,729.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
x = features.values
x.shape

(30755, 491)

In [8]:
gbr_sd_estimate = shared.predict_without_history(features)

    log_q_low  predicted  log_q_high  log_std
0       1.771      6.095       1.919    0.074
1       1.725      5.871       1.862    0.068
2       1.731      6.053       1.880    0.075
3       1.750      6.513       1.992    0.121
4       1.735      6.051       1.930    0.097
5       1.690      5.762       1.896    0.103
6       1.732      5.931       1.909    0.088
7       1.739      6.263       1.922    0.092
8       1.731      6.135       1.905    0.087
9       1.728      6.023       1.914    0.093
10      1.740      6.189       1.889    0.074
11      1.856      6.770       1.985    0.065
12      1.705      6.079       1.960    0.128
13      1.713      5.980       1.923    0.105
14      1.779      6.241       1.929    0.075

0.18141849070773355

In [9]:
#history['prior_mean'] = np.exp(pmlearn_preds[0])
#history['prior_std'] = np.exp(pmlearn_preds[1])
history['prior_mean'] = gbr_sd_estimate["predicted"]
history['prior_log_std'] = gbr_sd_estimate["log_std"]

In [10]:
history['prior_mean_error'] = np.abs(history['prior_mean'] - history['mean_pace'])
display(np.mean(history['prior_mean_error']))
history['prior_mean_error_in_sd'] = history['prior_mean_error'] / np.exp(history['prior_log_std'])
display(np.mean(history['prior_mean_error_in_sd']))

1.382531900411615

1.1345565092254026

In [11]:
history.head(5)

,mean_team_id,teams,name,num_runs,num_valid_times,mean_pace,stdev,most_common_leg,most_common_country,pace_1,...,year,pace,team,leg_nro,team_id,team_country,prior_mean,prior_log_std,prior_mean_error,prior_mean_error_in_sd
0,18.5,KOOVEE,joni hirvikallio,6,5,5.905,0.177,1,FIN,5.873,...,NA,NA,NA,1,18.5,FIN,6.094817,0.073785,0.189817,0.176315
1,12.0,KOOVEE,topi anjala,7,7,6.051,0.483,1,FIN,5.882,...,NA,NA,NA,1,12.0,FIN,5.871255,0.068395,0.179745,0.167863
2,3.0,DELTA;KOOVEE;HIIDENKIERTÄJÄT,lauri sild,7,7,5.933,0.382,2,FIN,5.836,...,NA,NA,NA,2,3.0,FIN,6.052574,0.074967,0.119574,0.110938
3,18.0,OK ORION;KOOVEE,oleksandr kratov,3,3,6.069,0.363,4,SWE,5.703,...,NA,NA,NA,4,18.0,SWE,6.513263,0.121110,0.444263,0.393588
4,21.0,KANGASALA SK;KOOVEE,kenny kivikas,7,5,5.936,0.345,7,FIN,5.603,...,NA,NA,NA,7,21.0,FIN,6.051477,0.097408,0.115477,0.104759

In [12]:
history[['num_valid_times', "stdev", "prior_mean_error", "prior_log_std", "prior_mean_error_in_sd"]].groupby('num_valid_times').agg("mean").round(2)

,stdev,prior_mean_error,prior_log_std,prior_mean_error_in_sd
num_valid_times,,,,
0,NaN,NaN,0.20,NaN
1,0.00,1.77,0.20,1.44
2,0.89,1.44,0.18,1.18
3,1.06,1.14,0.17,0.94
4,1.13,1.04,0.17,0.87
5,1.13,0.88,0.16,0.74
6,1.07,0.77,0.15,0.65
7,1.02,0.69,0.14,0.59
8,1.17,0.66,0.15,0.56
10,0.73,0.03,0.13,0.03

In [13]:
#history[['num_valid_times', "stdev"]].groupby('num_valid_times').agg("std").round(2)

In [14]:

#runner_preds = history[np.logical_and(history['teams'].str.contains("RE"), history["num_valid_times"] > 1)] 
#runner_preds = history.loc[
#    (history['teams'].str.contains("IONS") |history['teams'].str.contains("ESPOON SUUNTA")) & 
#    (history["num_valid_times"] >= 1)] 
#runner_preds = history[np.isfinite(history["pace_7"])] 
runner_preds = history[history["num_valid_times"] >= 1] 

#display(runner_preds[["name", "num_valid_times", "mean_pace", "stdev", "prior_mean", "prior_log_std"]])
##runner_preds runner_preds = history[np.isfinite(history["pace_7"])] 

paces = runner_preds[["pace_1", "pace_2", "pace_3", "pace_4", "pace_5", "pace_6", "pace_7"]]
paces.shape

(28895, 7)

In [15]:
history[["stdev", "prior_log_std"]].describe(percentiles=[0.05, .25, .5, .75, .95, .99])

              stdev  prior_log_std
count  28895.000000   30755.000000
mean       0.579511       0.181418
std        0.791137       0.045548
min        0.000000       0.006658
5%         0.000000       0.111085
25%        0.000000       0.148521
50%        0.306000       0.179224
75%        0.931000       0.212194
95%        2.020300       0.260838
99%        3.452120       0.285243
max       13.600000       0.511986

In [16]:
#log_stds = np.clip(runner_preds["prior_log_std"], 0.1, 1.3).values
log_stds = runner_preds["prior_log_std"].values
np.min(log_stds)

0.0066582488674278295

In [17]:
import multiprocessing
multiprocessing.cpu_count()

12

In [18]:
J=np.log(paces).T.shape
display(J)
import pymc3 as pm
with pm.Model() as hierarchial:
    mu = pm.Normal('mu', mu=np.log(runner_preds["prior_mean"]).values, sd=log_stds, shape=J[1])
    # Please fix sigma, 
    sigma = pm.Lognormal('sigma',mu=log_stds, sd=0.35, shape=J[1])
    
    eta = pm.Normal('eta', 0, 1)
    tau = pm.HalfCauchy('tau', beta=5,shape=J[1])
    #theta = pm.Normal('theta', mu=mu, sd=tau, shape=J)
    theta = pm.Deterministic('theta', mu + tau*eta)
    obs = pm.Normal('obs', mu=theta, sd=sigma, observed=np.log(paces).T)

(7, 28895)

/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/pymc3/model.py:1331: UserWarning: Data in obs contains missing values and will be automatically imputed from the sampling distribution.
  warnings.warn(impute_message, UserWarning)
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]

In [19]:

with hierarchial:
    nuts_args = {
        "target_accept": 0.9
    }
    short_trace = pm.sample(3000, n_init=3000, tune=5000, random_seed=2019, 
                            cores= multiprocessing.cpu_count() -1, 
                            chains=4,
                            nuts_kwargs=nuts_args)

Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Multiprocess sampling (4 chains in 11 jobs)
NUTS: [obs_missing, tau, eta, sigma, mu]
Sampling 4 chains:   0%|          | 0/32000 [00:00<?, ?draws/s]/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2339: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out[0][inputs[2:]] = inputs[1]
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Sampling 4 chains: 100%|██████████| 32000/32000 [3:39:16<00:00,  2.49s/draws]
There were 27 divergences after tuning. Increase `target_accept` or reparameterize.
The acceptance probability does not match the target. It is 0.48748620654187175, but should be close to 0.9. Try to increase the number of tuning steps.
There were 48 divergences after tuning. Increase `target_accept` or reparameterize.
The acceptance probability does not match the target. It is 0.5023837704955427, but should be close to 0.9. Try to increase the number of tuning steps.
There were 17 divergences after tuning. Increase `target_accept` or reparameterize.
The acceptance probability does not match the target. It is 0.5188589924587089, but should be close to 0.9. Try to increase the number of tuning steps.
There were 30 divergences after tuning. Increase `target_accept` or reparameterize.
The acceptance probability does not match the target. It is 0.4900735159653887, but should be close to 0.9. Try to increase the number of tuning steps.
The number of effective samples is smaller than 10% for some parameters.

In [20]:
runner_preds = runner_preds.assign(predicted_log_pace_mean = np.mean(short_trace["mu"], axis=0))
runner_preds = runner_preds.assign(predicted_log_pace_std = np.std(short_trace["mu"], axis=0))
runner_preds = runner_preds.assign(predicted_pace = np.exp(runner_preds.predicted_log_pace_mean))
runner_preds = runner_preds.assign(predicted_pace_std = np.exp(runner_preds.predicted_log_pace_std))
runner_preds = runner_preds.assign(prior_exp_std = np.exp(runner_preds.prior_log_std))
runner_preds = runner_preds.assign(predicted_pace_sigma = np.exp(np.mean(short_trace["sigma"], axis=0)))

# 3.5 is a bit unjustified but we dont want to predict too wide interval
runner_preds["predicted_pace_sigma_fix"] = np.clip(runner_preds["predicted_pace_sigma"], 0.5, 3.5)
runner_preds["pred_pace_error"] = np.abs(runner_preds["predicted_pace"] - runner_preds["mean_pace"])
runner_preds["pred_pace_error_in_sigma"] = runner_preds["pred_pace_error"] / runner_preds["predicted_pace_sigma_fix"]
runner_preds["pred_pace_error_in_std"] = runner_preds["pred_pace_error"] / runner_preds["predicted_pace_std"]

In [21]:
display(runner_preds[["mean_team_id", "name", "num_valid_times", "mean_pace", "stdev", "prior_mean", "prior_exp_std", 
                "predicted_pace", "pred_pace_error", "predicted_pace_std", "predicted_pace_sigma_fix", "pred_pace_error_in_sigma", "pred_pace_error_in_std"]
                    ][runner_preds['teams'].str.contains("REAK")].round(2).head(10))

,mean_team_id,name,num_valid_times,mean_pace,stdev,prior_mean,prior_exp_std,predicted_pace,pred_pace_error,predicted_pace_std,predicted_pace_sigma_fix,pred_pace_error_in_sigma,pred_pace_error_in_std
3514,869.0,matti peltonen,2,8.86,0.67,10.24,1.14,10.14,1.28,1.14,2.62,0.49,1.13
3797,1491.0,mika ovaskainen:REAKTOR INNOVATIONS,1,10.70,0.00,11.32,1.34,11.29,0.59,1.33,3.50,0.17,0.44
3981,1491.0,jari järvinen:REAKTOR INNOVATIONS,1,12.74,0.00,12.83,1.28,12.86,0.11,1.28,3.35,0.03,0.09
4165,672.0,mikko peltonen:REAKTOR INNOVATIONS,7,8.85,0.70,9.16,1.14,9.03,0.18,1.11,1.73,0.10,0.16
4169,567.0,pasi huhtiniemi,7,9.16,0.65,9.06,1.13,9.09,0.07,1.11,1.72,0.04,0.07
4170,672.0,joni freeman,7,8.33,1.00,8.59,1.16,8.47,0.14,1.13,1.76,0.08,0.12
4171,672.0,tuomas kareinen,7,10.05,1.49,9.70,1.17,9.80,0.25,1.13,1.80,0.14,0.22
4172,532.0,janne vaittinen,3,11.10,1.28,10.21,1.22,10.34,0.76,1.20,2.50,0.30,0.64
4173,429.0,olavi kanerva,1,7.41,0.00,11.21,1.20,11.08,3.68,1.19,3.17,1.16,3.08
4174,672.0,jyri kytömäki,5,10.69,0.52,9.62,1.15,9.81,0.88,1.13,1.98,0.44,0.77

In [22]:
cleanned_up_preds = runner_preds[
    ["mean_team_id", "num_valid_times", "mean_pace", "stdev", "prior_mean", "prior_log_std", 
     "predicted_pace", "pred_pace_error", "predicted_log_pace_mean", "predicted_log_pace_std", "name", "teams"]].round(3)
cleanned_up_preds.to_csv(f"data/preds_for_runners_with_history_2_{ve_or_ju}.csv", sep='\t')

In [23]:
display(np.mean(runner_preds['prior_mean_error']))
display(np.mean(runner_preds["predicted_pace_sigma_fix"]))
display(np.mean(runner_preds["pred_pace_error_in_sigma"]))
display(np.mean(runner_preds["predicted_pace_std"]))
display(np.mean(runner_preds["pred_pace_error_in_std"]))
np.mean(runner_preds["pred_pace_error"])

1.382531900411615

2.6924989553652097

0.43761242197495925

1.1858392980554517

1.0353574439479807

1.2509392604176837

In [24]:
runner_preds[["predicted_pace_sigma", "predicted_pace_sigma_fix", "pred_pace_error_in_sigma", "predicted_pace_std", "pred_pace_error_in_std"]].describe(percentiles=[0.05, .25, .5, .75, .95, .99])

,predicted_pace_sigma,predicted_pace_sigma_fix,pred_pace_error_in_sigma,predicted_pace_std,pred_pace_error_in_std
count,28895.000000,28895.000000,28895.000000,28895.000000,28895.000000
mean,2.693976,2.692499,0.437612,1.185839,1.035357
std,0.526430,0.523908,0.482087,0.053674,1.246203
min,1.630232,1.630232,0.000032,1.006610,0.000050
5%,1.800501,1.800501,0.025842,1.107471,0.053406
25%,2.236390,2.236390,0.136813,1.145419,0.287534
50%,2.794247,2.794247,0.299647,1.181326,0.665559
75%,3.134998,3.134998,0.566455,1.221336,1.317898
95%,3.413932,3.413932,1.289806,1.283350,3.185471
99%,3.550829,3.500000,2.403997,1.316085,6.207348
max,4.716623,3.500000,5.839268,1.582165,16.685963

In [25]:
runner_preds[
    ['num_valid_times', "prior_mean_error", "prior_exp_std", "prior_mean_error_in_sd", "pred_pace_error", "predicted_pace_sigma_fix", "pred_pace_error_in_sigma", "predicted_pace_std", "pred_pace_error_in_std"]
].groupby('num_valid_times').agg(["mean"]).round(2)

,prior_mean_error,prior_exp_std,prior_mean_error_in_sd,pred_pace_error,predicted_pace_sigma_fix,pred_pace_error_in_sigma,predicted_pace_std,pred_pace_error_in_std
,mean,mean,mean,mean,mean,mean,mean,mean
num_valid_times,,,,,,,,
1,1.77,1.22,1.44,1.70,3.18,0.52,1.21,1.39
2,1.44,1.20,1.18,1.32,2.77,0.47,1.19,1.09
3,1.14,1.19,0.94,0.98,2.47,0.39,1.18,0.83
4,1.04,1.18,0.87,0.84,2.23,0.37,1.16,0.72
5,0.88,1.17,0.74,0.66,2.04,0.32,1.15,0.57
6,0.77,1.16,0.65,0.54,1.89,0.28,1.13,0.47
7,0.69,1.15,0.59,0.45,1.76,0.25,1.12,0.39
8,0.66,1.16,0.56,0.43,1.78,0.24,1.13,0.38
10,0.03,1.14,0.03,0.02,1.72,0.01,1.11,0.01

In [26]:
STOP_HERE IT REQUIRES 72GB MEMORY ALREADY

NameError: name 'STOP_HERE' is not defined

In [ ]:
pm.traceplot(short_trace, var_names=['mu', 'sigma'])

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')

%config InlineBackend.figure_format = 'retina'

mu = np.exp(short_trace['mu'])
mmu = [np.mean(mu[:i]) for i in np.arange(1, len(mu))]
plt.figure(figsize=(15, 4))
#plt.axhline(14.383, lw=2.5, color='gray')
plt.plot(mmu, lw=2.5)
#plt.ylim(0, 2)
plt.xlabel('Iteration')
plt.ylabel('MCMC mean of (mu)')
plt.title('MCMC estimation of (mu)');

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')

%config InlineBackend.figure_format = 'retina'

sigma = np.exp(short_trace['sigma'])
msigma = [np.mean(sigma[:i]) for i in np.arange(1, len(sigma))]
plt.figure(figsize=(15, 4))
#plt.axhline(14.383, lw=2.5, color='gray')
plt.plot(msigma, lw=2.5)
#plt.ylim(0, 2)
plt.xlabel('Iteration')
plt.ylabel('MCMC mean of (sigma)')
plt.title('MCMC estimation of (sigma)');