In [228]:
import pandas as pd
import numpy as np
from scipy.stats import lognorm
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error

In [186]:
in_file_name = 'data/grouped_paces_ju.tsv'
df_all = pd.read_csv(in_file_name, delimiter="\t")

In [187]:
#df = df_all[np.isfinite(df_all.pace_1)]
df = df_all

In [188]:
paces = df.as_matrix(["pace_2", "pace_3", "pace_4", "pace_5", "pace_6"])
logs = np.log(paces)
means = np.nanmean(logs, axis=1)
stdevs = np.nanstd(logs, axis=1)
df = df.assign(log_means=pd.Series(means).values)
df = df.assign(log_stdevs=pd.Series(stdevs).values)

/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/ipykernel_launcher.py:3: RuntimeWarning: Mean of empty slice
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/numpy/lib/nanfunctions.py:1434: RuntimeWarning: Degrees of freedom <= 0 for slice.
  keepdims=keepdims)

In [189]:
# Estimate values for all, but only use them if not other value is available
with_history = df[np.isfinite(df_all.pace_3)]
x = with_history.as_matrix(["mean_team_id"])
x = x.reshape(len(x), 1)

log_means = with_history.log_means.values.reshape(len(with_history.log_means), 1)
log_means_model = linear_model.LinearRegression()
log_means_model.fit(x, log_means)
estimated_log_means = log_means_model.predict(df.mean_team_id.values.reshape(len(df.mean_team_id), 1))
df = df.assign(estimated_log_means=estimated_log_means)

log_stdevs = with_history.log_stdevs.values.reshape(len(with_history.log_stdevs), 1)
log_stdevs_model = linear_model.LinearRegression()
log_stdevs_model.fit(x, log_stdevs)
estimated_log_stdevs = log_stdevs_model.predict(df.mean_team_id.values.reshape(len(df.mean_team_id), 1))
df = df.assign(estimated_log_stdevs=estimated_log_stdevs)

/Users/oskari/.virtualenvs/jukola-xml-model-PGRmw6ze/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [190]:
df

,mean_team_id,teams,name,num_runs,num_valid_times,mean_pace,stdev,pace_1,pace_2,pace_3,pace_4,pace_5,pace_6,log_means,log_stdevs,estimated_log_means,estimated_log_stdevs
0,52.7,BROMMA-VÄLLINGBY SOK/JÄRFÄL;IFK GÖTEBORG,max peter bejmer,3,3,6.337,1.050,5.582,5.608,7.822,NaN,NaN,NaN,1.890567,0.166373,1.947046,0.087765
1,91.0,MARKBYGDENS OK;IFK GÖTEBORG,johan högstrand,4,4,6.198,0.468,5.591,5.902,6.571,6.728,NaN,NaN,1.854745,0.057003,1.964758,0.088575
2,13.2,IFK GÖTEBORG,vetle ruud bråten,4,4,5.750,0.181,5.688,5.636,5.615,6.060,NaN,NaN,1.752109,0.035106,1.928778,0.086929
3,33.2,IFK GÖTEBORG,jonas pilblad,5,5,6.083,0.389,5.978,5.772,6.819,5.756,6.089,NaN,1.807365,0.068628,1.938028,0.087352
4,17.5,OK KÅRE;IFK GÖTEBORG,fredrik edn,2,2,6.333,0.472,5.861,6.805,NaN,NaN,NaN,NaN,1.917658,0.000000,1.930767,0.087020
5,10.5,IFK LIDINGÖ SOK;IFK GÖTEBORG,fredrik bakkman,2,2,5.483,0.028,5.511,5.455,NaN,NaN,NaN,NaN,1.696533,0.000000,1.927530,0.086872
6,16.8,IFK GÖTEBORG,eskil kinneberg,4,4,5.623,0.084,5.611,5.494,5.719,5.668,NaN,NaN,1.727429,0.017203,1.930443,0.087005
7,21.3,KOOVEE,topi anjala,6,6,6.080,0.516,5.621,6.100,5.977,7.164,5.642,5.974,1.816586,0.080558,1.932524,0.087101
8,1.0,KOOVEE,olexander kratov,1,1,5.874,0.000,5.874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.923136,0.086671
9,6.7,KOOVEE;VAAJAKOSKEN TERÄ,jani lakanen,6,6,6.044,0.456,5.874,5.734,6.208,6.717,5.326,6.403,1.801252,0.082382,1.925772,0.086792
10,5.3,DELTA;KOOVEE;HIIDENKIERTÄJÄT,lauri sild,6,6,5.950,0.410,5.851,5.996,5.829,6.765,5.391,5.866,1.783921,0.073342,1.925125,0.086762
11,49.8,KANGASALA SK;KOOVEE,kenny kivikas,6,6,6.317,0.689,5.662,5.837,6.102,7.727,6.014,6.562,1.858588,0.100721,1.945705,0.087704
12,5.3,DELTA;KOOVEE;HIIDENKIERTÄJÄT,timo sild,6,6,5.648,0.359,5.272,5.850,5.378,6.293,5.346,5.748,1.742679,0.060014,1.925125,0.086762
13,9.0,KRISTIANSAND OK;KOOVEE,daniel hubmann,5,5,5.717,0.543,5.570,5.658,5.172,6.752,5.432,NaN,1.744619,0.100550,1.926836,0.086840
14,17.5,TAMPEREEN PYRINTÖ,pascal buchs,2,2,5.895,0.273,5.621,6.168,NaN,NaN,NaN,NaN,1.819375,0.000000,1.930767,0.087020
15,25.0,TAMPEREEN PYRINTÖ,elias kuukka,5,5,6.209,0.745,5.878,5.766,5.644,7.670,6.085,NaN,1.831429,0.121989,1.934236,0.087179
16,6.8,KALEVAN RASTI;HALDEN SK;TAMPEREEN PYRINTÖ,jarkko huovila,6,6,5.978,0.608,5.916,6.008,5.736,7.196,5.169,5.843,1.784261,0.107436,1.925819,0.086794
17,25.0,TAMPEREEN PYRINTÖ,severi kymäläinen,5,5,6.139,0.298,6.383,5.802,6.273,6.474,5.764,NaN,1.803471,0.049872,1.934236,0.087179
18,20.5,TAMPEREEN PYRINTÖ,aleksi niemi,4,4,5.654,0.181,5.654,5.758,5.362,5.840,NaN,NaN,1.731553,0.037371,1.932154,0.087084
19,20.5,TAMPEREEN PYRINTÖ,florian howald,4,4,5.708,0.210,5.503,5.778,5.531,6.022,NaN,NaN,1.753282,0.034726,1.932154,0.087084
20,20.5,GÖTEBORG MAJORNA OK;TAMPEREEN PYRINTÖ,johan runesson,6,6,5.926,0.543,5.680,5.805,5.388,7.077,5.647,5.958,1.783121,0.093031,1.932154,0.087084
21,20.8,SÖDERTÄLJE NYKVARN ORIENTER,erik liljequist,4,4,6.132,0.037,6.100,6.091,6.158,6.179,NaN,NaN,1.815240,0.006119,1.932293,0.087090
22,15.2,SÖDERTÄLJE NYKVARN ORIENTER,kent ohlsson,5,5,6.210,0.318,5.987,6.092,5.871,6.771,6.327,NaN,1.833619,0.052738,1.929703,0.086972
23,18.0,SÖDERTÄLJE NYKVARN ORIENTER,ivar lundanes,5,5,5.942,0.555,5.564,5.908,6.407,5.147,6.684,NaN,1.792957,0.099637,1.930998,0.087031
24,65.0,SÖDERTÄLJE NYKVARN ORIENTER,rickard ohlsson,2,1,6.102,0.000,6.102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.952734,0.088025
25,12.8,SÖDERTÄLJE NYKVARN ORIENTER,ralph street,5,5,6.013,0.502,5.519,5.665,6.306,6.861,5.715,NaN,1.811189,0.078445,1.928593,0.086921
26,8.4,SÖDERTÄLJE NYKVARN ORIENTER,eric börjeskog,5,5,6.059,0.311,5.724,5.807,5.931,6.548,6.286,NaN,1.814185,0.047429,1.926559,0.086828
27,7.8,SÖDERTÄLJE NYKVARN ORIENTER,jonas leandersson,6,6,5.736,0.448,5.562,5.783,5.196,6.471,5.291,6.111,1.749248,0.083523,1.926281,0.086815
28,2.8,HALDEN SK,emil wingstedt,5,5,5.832,0.148,5.602,5.841,6.027,5.751,5.940,NaN,1.773059,0.017608,1.923969,0.086709
29,21.6,NTNUI;HALDEN SK;RAUMAR OL,eirik kamstrup hovind,5,5,6.458,0.561,6.328,5.750,7.096,5.998,7.118,NaN,1.865696,0.096551,1.932663,0.087107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27501,191.0,NORBERGS OK,magnus sohlberg,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.011005,0.090691
27502,191.0,NORBERGS OK,viktor funcke,1,1,7.879,0.000,7.879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.011005,0.090691
27503,191.0,NORBERGS OK,johan häll,1,1,8.485,0.000,8.485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.011005,0.090691
27504,173.0,ITÄ-HÄMEEN RASTI,juho lahtinen,1,1,16.630,0.000,16.630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.002681,0.090310
27505,160.0,SUNDSVALLS OK,anders wedin,1,1,7.537,0.000,7.537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.996669,0.090035
27506,160.0,SUNDSVALLS OK,sara timmer,1,1,10.224,0.000,10.224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.996669,0.090035
27507,160.0,SUNDSVALLS OK,jill johansson,1,1,9.680,0.000,9.680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.996669,0.090035
27508,160.0,SUNDSVALLS OK,emil åström,1,1,11.037,0.000,11.037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.996669,0.090035
27509,160.0,SUNDSVALLS OK,joakim nordling,1,1,9.109,0.000,9.109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.996669,0.090035
27510,160.0,SUNDSVALLS OK,tobias elisasson,1,1,5.629,0.000,5.629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.996669,0.090035
27511,149.0,KONGSBERG OL,hakon heggedal,1,1,8.970,0.000,8.970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.991582,0.089803
27512,149.0,KONGSBERG OL,sindre hunn,1,1,8.981,0.000,8.981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.991582,0.089803
27513,149.0,KONGSBERG OL,tor christian helgerud,1,1,12.481,0.000,12.481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.991582,0.089803
27514,149.0,KONGSBERG OL,agni fjogstad nielsen,1,1,9.208,0.000,9.208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.991582,0.089803
27515,149.0,KONGSBERG OL,håvard halvorsen,1,1,2.135,0.000,2.135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.991582,0.089803
27516,139.0,ESPOON SUUNTA,atis dandens,1,1,7.964,0.000,7.964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.986957,0.089591
27517,135.0,LILLOMARKA OL,johansen per hara havnen,1,1,6.584,0.000,6.584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.985107,0.089506
27518,135.0,LILLOMARKA OL,david gottfridsson,1,1,7.540,0.000,7.540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.985107,0.089506
27519,135.0,LILLOMARKA OL,terje biertnes,1,1,7.949,0.000,7.949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.985107,0.089506
27520,84.0,SÖDERS SOL-TYRESÖ,markus martinelle,1,1,7.080,0.000,7.080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.961521,0.088427
27521,84.0,SÖDERS SOL-TYRESÖ,daniel wolf,1,1,7.535,0.000,7.535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.961521,0.088427
27522,84.0,SÖDERS SOL-TYRESÖ,ingo horst,1,1,6.859,0.000,6.859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.961521,0.088427
27523,71.0,IFK LIDINGÖ SOK,johannessen martin holth,1,1,7.654,0.000,7.654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.955509,0.088152
27524,59.0,GÖTEBORG MAJORNA OK,magnus palm,1,1,6.404,0.000,6.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.949959,0.087898
27525,46.0,RAUMAR OL,lund öyvind,1,1,7.008,0.000,7.008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.943947,0.087623
27526,43.0,LILLOMARKA OL,steiwer gaute hallan,1,1,6.593,0.000,6.593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.942560,0.087560
27527,27.0,LEKSANDS OK,thomas höjsgaard,1,1,11.894,0.000,11.894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.935161,0.087221
27528,27.0,LEKSANDS OK,johan söderlund,1,1,7.992,0.000,7.992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.935161,0.087221
27529,27.0,LEKSANDS OK,åke dalin,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.935161,0.087221
27530,27.0,LEKSANDS OK,sven larsson,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.935161,0.087221

In [191]:
# s = sigma and scale = exp(mu).
df['final_log_means'] = np.where(np.isfinite(df["log_means"]) & df["log_means"]>0, df["log_means"], df["estimated_log_means"])
final_log_means = np.exp(df['final_log_means']) 
df['final_log_stdevs'] = np.where(np.isfinite(df["log_stdevs"]) & df["log_stdevs"]>0, df["log_stdevs"], df["estimated_log_stdevs"])
final_log_stdevs = df['final_log_stdevs']

intervals95 = lognorm.interval(0.95, s = final_log_stdevs, scale = final_log_means)
means = lognorm.mean(s = final_log_stdevs, scale = final_log_means)
medians = lognorm.median(s = final_log_stdevs, scale = final_log_means)

In [192]:

df = df.assign(interval95_start = pd.Series( intervals95[0] ).values)
df = df.assign(interval95_end = pd.Series( intervals95[1] ).values)
df = df.assign(p1_in_interval = pd.Series( (df.interval95_start <= df.pace_1) & (df.interval95_end >= df.pace_1) ).values)
df = df.assign(mean_ln = pd.Series(means).values)
df = df.assign(med_ln = pd.Series(medians).values)

In [194]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())
mean_err = rmse(df.mean_ln, df.pace_1)
med_err = rmse(df.med_ln, df.pace_1)
(mean_err, med_err)

(2.743955611857693, 2.672648533105014)

In [195]:
np.mean(df.p1_in_interval)

0.6903853837492281

In [196]:
df.to_csv('data/log_normal_estimates_ju.tsv', sep="\t")

In [197]:
runs17 = pd.read_csv('data/csv-results_j2017_ju.tsv', delimiter="\t")

In [198]:
def get_estimate_row(row):
    name = row["competitor-name"].lower()
    
    by_name = df[df['name'] == name]
    by_name_and_colon = df[df['name'].str.contains(name +":", regex=False)]

    runners = by_name.append(by_name_and_colon)
    if(len(runners) == 1):
        return runners
    team_name = row["team-name"].upper()
    runners = runners[runners['teams'].str.contains(team_name, regex=False)]
    if(len(runners) == 1):
        return runners
    print(f"name '{name}' team_name '{team_name}'")
    print(f"by_name {len(by_name)} by_name_and_colon {len(by_name_and_colon)} runners {len(runners)}")
    print(f"Duplicate runner {runners}")
    #print(f"TEAMS by_name_and_colon {by_name_and_colon['teams']}")
    return runners.sort_values("num_runs", ascending = False).head(1)

def get_estimate_params(row):
    estimate_row = get_estimate_row(row)
    #print(f"estimate_row final_log_means {estimate_row.final_log_means} {estimate_row.final_log_stdevs}")
    final_log_means = estimate_row.final_log_means.values[0]
    final_log_stdevs = estimate_row.final_log_stdevs.values[0]
    return pd.Series({"final_log_means": final_log_means, "final_log_stdevs": final_log_stdevs})

#runs17 = runs17[runs17['team-name'].str.contains("Reak")]
estimate_params = runs17.apply(lambda row: get_estimate_params(row), axis=1)
runs17 = runs17.assign(final_log_means = estimate_params.final_log_means)
runs17 = runs17.assign(final_log_stdevs = estimate_params.final_log_stdevs)

name 'panu kärkkäinen' team_name 'JÄMSÄN RETKI-VEIKOT'
by_name 0 by_name_and_colon 4 runners 2
Duplicate runner       mean_team_id                        teams  \
1841         570.0          JÄMSÄN RETKI-VEIKOT
1843         954.0  JÄMSÄN RETKI-VEIKOT/JUKOLA2

                                             name  num_runs  num_valid_times  \
1841          panu kärkkäinen:JÄMSÄN RETKI-VEIKOT         4                3
1843  panu kärkkäinen:JÄMSÄN RETKI-VEIKOT/JUKOLA2         1                1

      mean_pace  stdev  pace_1  pace_2  pace_3    ...      log_stdevs  \
1841      9.109  1.401   7.938    8.31  11.079    ...        0.143796
1843      8.686  0.000   8.686     NaN     NaN    ...             NaN

      estimated_log_means  estimated_log_stdevs  final_log_means  \
1841             2.186281              0.098710         2.261256
1843             2.363868              0.106835         2.363868

      final_log_stdevs  interval95_start  interval95_end  p1_in_interval  \
1841          0.143796          7.238549       12.718916            True
1843          0.106835          8.623358       13.108514            True

        mean_ln     med_ln
1841   9.694844   9.595128
1843  10.692849  10.632000

[2 rows x 24 columns]
name 'pasi laaksonen' team_name 'OP'
by_name 0 by_name_and_colon 5 runners 2
Duplicate runner       mean_team_id       teams                       name  num_runs  \
4314        1122.7          OP          pasi laaksonen:OP         3
4317        1076.7  OP-POHJOLA  pasi laaksonen:OP-POHJOLA         3

      num_valid_times  mean_pace  stdev  pace_1  pace_2  pace_3    ...     \
4314                3      8.399  0.277   8.731   8.053   8.413    ...
4317                3      9.041  0.437   9.565   8.495   9.064    ...

      log_stdevs  estimated_log_means  estimated_log_stdevs  final_log_means  \
4314    0.021867             2.441887              0.110405         2.107911
4317    0.032416             2.420613              0.109432         2.171894

      final_log_stdevs  interval95_start  interval95_end  p1_in_interval  \
4314          0.021867          7.885719        8.591466           False
4317          0.032416          8.234719        9.350493           False

       mean_ln    med_ln
4314  8.233000  8.231032
4317  8.779501  8.774889

[2 rows x 24 columns]
name 'jukka kirjavainen' team_name 'OP'
by_name 0 by_name_and_colon 3 runners 2
Duplicate runner       mean_team_id       teams                          name  num_runs  \
6740        1261.5          OP          jukka kirjavainen:OP         2
6741        1093.0  OP-POHJOLA  jukka kirjavainen:OP-POHJOLA         1

      num_valid_times  mean_pace  stdev  pace_1  pace_2  pace_3    ...      \
6740                2     10.163  0.713   9.450  10.876     NaN    ...
6741                1      8.915  0.000   8.915     NaN     NaN    ...

      log_stdevs  estimated_log_means  estimated_log_stdevs  final_log_means  \
6740         0.0             2.506077              0.113342         2.386559
6741         NaN             2.428151              0.109777         2.428151

      final_log_stdevs  interval95_start  interval95_end  p1_in_interval  \
6740          0.113342          8.709484       13.581444            True
6741          0.109777          9.143042       14.059656           False

        mean_ln     med_ln
6740  10.946083  10.876000
6741  11.406425  11.337903

[2 rows x 24 columns]
name 'mikko soikkeli' team_name 'PVJJK'
by_name 0 by_name_and_colon 4 runners 2
Duplicate runner       mean_team_id                    teams  \
6341        1600.0                    PVJJK
6342        1506.0  PVJJK (PUOLUSTUSVOIMAT)

                                        name  num_runs  num_valid_times  \
6341                    mikko soikkeli:PVJJK         1                1
6342  mikko soikkeli:PVJJK (PUOLUSTUSVOIMAT)         1                1

      mean_pace  stdev  pace_1  pace_2  pace_3    ...      log_stdevs  \
6341     17.215    0.0  17.215     NaN     NaN    ...             NaN
6342     14.593    0.0  14.593     NaN     NaN    ...             NaN

      estimated_log_means  estimated_log_stdevs  final_log_means  \
6341             2.662623              0.120504         2.662623
6342             2.619151              0.118515         2.619151

      final_log_stdevs  interval95_start  interval95_end  p1_in_interval  \
6341          0.120504         11.318503       18.152464            True
6342          0.118515         10.879334       17.312626            True

        mean_ln     med_ln
6341  14.438282  14.333831
6342  13.820783  13.724061

[2 rows x 24 columns]
name 'lauri mäkinen' team_name 'LKS'
by_name 0 by_name_and_colon 3 runners 2
Duplicate runner       mean_team_id       teams                      name  num_runs  \
2687        1376.0         LKS         lauri mäkinen:LKS         1
2688        1435.0  LKS DEXTER  lauri mäkinen:LKS DEXTER         1

      num_valid_times  mean_pace  stdev  pace_1  pace_2  pace_3    ...      \
2687                1     10.680    0.0  10.680     NaN     NaN    ...
2688                1     12.642    0.0  12.642     NaN     NaN    ...

      log_stdevs  estimated_log_means  estimated_log_stdevs  final_log_means  \
2687         NaN             2.559030              0.115765         2.559030
2688         NaN             2.586315              0.117013         2.586315

      final_log_stdevs  interval95_start  interval95_end  p1_in_interval  \
2687          0.115765         10.299913       16.214794            True
2688          0.117013         10.558954       16.704137            True

        mean_ln     med_ln
2687  13.010158  12.923272
2688  13.371978  13.280746

[2 rows x 24 columns]
name 'antti jokinen' team_name 'HERMANNIN KÖÖRI'
by_name 0 by_name_and_colon 8 runners 2
Duplicate runner       mean_team_id                teams                               name  \
4807        1241.0      HERMANNIN KÖÖRI      antti jokinen:HERMANNIN KÖÖRI
4809        1493.0  DNA HERMANNIN KÖÖRI  antti jokinen:DNA HERMANNIN KÖÖRI

      num_runs  num_valid_times  mean_pace  stdev  pace_1  pace_2  pace_3  \
4807         1                1     28.290    0.0  28.290     NaN     NaN
4809         1                1     16.689    0.0  16.689     NaN     NaN

        ...      log_stdevs  estimated_log_means  estimated_log_stdevs  \
4807    ...             NaN             2.496597              0.112908
4809    ...             NaN             2.613138              0.118240

      final_log_means  final_log_stdevs  interval95_start  interval95_end  \
4807         2.496597          0.112908          9.730846       15.148361
4809         2.613138          0.118240         10.819955       17.199578

      p1_in_interval    mean_ln     med_ln
4807           False  12.218738  12.141102
4809            True  13.737494  13.641798

[2 rows x 24 columns]

In [199]:
def leg_dist(leg):
    dist = [12.7, 14.2, 12.3, 7.6, 7.9, 10.9, 13.8]
    return dist[leg - 1]

runs17 = runs17.assign(leg_dist = runs17["leg-nro"].apply(lambda nro: leg_dist(nro)))

final_means = np.exp(runs17.final_log_means)
#intervals95 = lognorm.interval(0.95, s = runs17.final_log_stdevs, scale = final_means)

#runs17 = runs17.assign(start95 = intervals95[0] * runs17["leg_dist"])
#runs17 = runs17.assign(end95 = intervals95[1] * runs17["leg_dist"])

runs17["est_median"] = lognorm.median(s = runs17.final_log_stdevs, scale = final_means) * runs17["leg_dist"]

In [200]:
runs17

,team-id,placement,team-time,team-name,team-nro,leg-nro,emit,leg-time,competitor-name,control-times,final_log_means,final_log_stdevs,leg_dist,est_median
0,5,1.0,27105.0,IFK Göteborg,1,1,1217511.0,4287.0,Max Peter Bejmer,927;1080;1144;1193;1334;1436;1548;1612;1725;19...,1.890567,0.166373,12.7,84.113679
1,5,1.0,27105.0,IFK Göteborg,1,2,1217440.0,4797.0,Johan Högstrand,905;981;1103;1148;1314;1380;1451;1542;1605;167...,1.854745,0.057003,14.2,90.738981
2,5,1.0,27105.0,IFK Göteborg,1,3,1221058.0,4198.0,Vetle Ruud Bråten,897;1025;1118;1165;1293;1386;1475;1537;1616;18...,1.752109,0.035106,12.3,70.931025
3,5,1.0,27105.0,IFK Göteborg,1,4,1217402.0,2762.0,Jonas Pilblad,325;457;659;917;989;1107;1574;1809;1897;1971;2...,1.807365,0.068628,7.6,46.317172
4,5,1.0,27105.0,IFK Göteborg,1,5,1217509.0,2743.0,Fredrik Edn,285;442;603;802;926;979;1074;1531;1711;1799;18...,1.917658,0.087020,7.9,53.759500
5,5,1.0,27105.0,IFK Göteborg,1,6,1216571.0,3670.0,Fredrik Bakkman,260;390;642;1101;1322;1404;1591;1729;1807;1988...,1.696533,0.086872,10.9,59.459500
6,5,1.0,27105.0,IFK Göteborg,1,7,1217441.0,4646.0,Eskil Kinneberg,304;524;717;1131;1189;1309;1411;1862;2154;2231...,1.727429,0.017203,13.8,77.641148
7,1,2.0,27171.0,Koovee,1,1,1201850.0,4317.0,Topi Anjala,933;1087;1150;1198;1338;1438;1537;1605;1720;19...,1.816586,0.080558,12.7,78.115482
8,1,2.0,27171.0,Koovee,1,2,1230611.0,5040.0,Olexander Kratov,896;1036;1151;1197;1375;1441;1508;1599;1666;17...,1.923136,0.086671,14.2,97.161867
9,1,2.0,27171.0,Koovee,1,3,1214773.0,4335.0,Jani Lakanen,949;1096;1193;1241;1375;1495;1598;1660;1754;20...,1.801252,0.082382,12.3,74.503898
10,1,2.0,27171.0,Koovee,1,4,1213905.0,2703.0,Lauri Sild,335;455;628;916;1006;1116;1566;1741;1837;1901;...,1.783921,0.073342,7.6,45.243955
11,1,2.0,27171.0,Koovee,1,5,1202767.0,2650.0,Kenny Kivikas,284;444;593;795;920;976;1072;1513;1685;1762;18...,1.858588,0.100721,7.9,50.675913
12,1,2.0,27171.0,Koovee,1,6,1213904.0,3511.0,Timo Sild,304;386;576;1038;1251;1328;1515;1634;1711;1859...,1.742679,0.060014,10.9,62.267656
13,1,2.0,27171.0,Koovee,1,7,1230841.0,4612.0,Daniel Hubmann,267;395;584;1013;1102;1230;1329;1816;2104;2181...,1.744619,0.100550,13.8,78.987342
14,12,3.0,27691.0,Tampereen Pyrintö,1,1,1502016.0,4317.0,Pascal Buchs,941;1080;1210;1256;1396;1493;1587;1653;1731;20...,1.819375,0.087020,12.7,78.333600
15,12,3.0,27691.0,Tampereen Pyrintö,1,2,1502418.0,5043.0,Elias Kuukka,828;937;1021;1063;1271;1340;1411;1501;1563;163...,1.831429,0.121989,14.2,88.647755
16,12,3.0,27691.0,Tampereen Pyrintö,1,3,1229664.0,4366.0,Jarkko Huovila,995;1141;1206;1251;1382;1495;1599;1660;1791;20...,1.784261,0.107436,12.3,73.248652
17,12,3.0,27691.0,Tampereen Pyrintö,1,4,1174616.0,2949.0,Severi Kymäläinen,319;456;658;1019;1090;1193;1678;1878;1972;2046...,1.803471,0.049872,7.6,46.137176
18,12,3.0,27691.0,Tampereen Pyrintö,1,5,1501427.0,2646.0,Aleksi Niemi,273;423;584;780;883;934;1025;1482;1651;1729;17...,1.731553,0.037371,7.9,44.630409
19,12,3.0,27691.0,Tampereen Pyrintö,1,6,1211198.0,3665.0,Florian Howald,290;377;578;1048;1263;1348;1557;1685;1759;1921...,1.753282,0.034726,10.9,62.931364
20,12,3.0,27691.0,Tampereen Pyrintö,1,7,1500070.0,4703.0,Johan Runesson,238;348;532;956;1017;1147;1239;1734;2071;2146;...,1.783121,0.093031,13.8,82.087787
21,6,4.0,27750.0,Södertälje Nykvarn Orienter,1,1,1219625.0,4685.0,Erik Liljequist,961;1109;1204;1258;1413;1502;1609;1679;1771;20...,1.815240,0.006119,12.7,78.010408
22,6,4.0,27750.0,Södertälje Nykvarn Orienter,1,2,1219646.0,5137.0,Kent Ohlsson,895;1026;1089;1134;1330;1397;1493;1600;1658;17...,1.833619,0.052738,14.2,88.842138
23,6,4.0,27750.0,Södertälje Nykvarn Orienter,1,3,2219625.0,4106.0,Ivar Lundanes,928;1037;1158;1204;1327;1420;1514;1569;1640;19...,1.792957,0.099637,12.3,73.888452
24,6,4.0,27750.0,Södertälje Nykvarn Orienter,1,4,2219646.0,2819.0,Rickard Ohlsson,279;449;617;888;985;1093;1605;1833;1919;1982;2...,1.952734,0.088025,7.6,53.564287
25,6,4.0,27750.0,Södertälje Nykvarn Orienter,1,5,3219625.0,2583.0,Ralph Street,285;399;576;756;875;927;1027;1451;1611;1694;17...,1.811189,0.078445,7.9,48.329964
26,6,4.0,27750.0,Södertälje Nykvarn Orienter,1,6,3219646.0,3812.0,Eric Börjeskog,264;387;579;1041;1358;1501;1695;1816;1890;2069...,1.814185,0.047429,10.9,66.883224
27,6,4.0,27750.0,Södertälje Nykvarn Orienter,1,7,4219625.0,4605.0,Jonas Leandersson,292;385;575;992;1050;1174;1295;1771;2075;2157;...,1.749248,0.083523,13.8,79.353821
28,4,5.0,27842.0,Halden SK,1,1,1208496.0,4302.0,Emil Wingstedt,903;1046;1139;1189;1332;1415;1523;1592;1674;19...,1.773059,0.017608,12.7,74.788233
29,4,5.0,27842.0,Halden SK,1,2,1200010.0,5429.0,Eirik Kamstrup Hovind,900;974;1102;1148;1336;1409;1528;1626;1692;177...,1.865696,0.096551,14.2,91.738116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11163,102,NaN,NaN,Halden SK,3,6,NaN,NaN,Gregor Samsa,NaN,1.969846,0.088808,10.9,78.148308
11164,102,NaN,NaN,Halden SK,3,7,NaN,NaN,John Doe,NaN,1.969846,0.088808,13.8,98.940060
11165,90,NaN,NaN,Kangasala SK,3,1,1229936.0,4965.0,Jarkko Liuha,1010;1151;1261;1320;1475;1615;1767;1847;1941;2...,1.895310,0.073774,12.7,84.513595
11166,90,NaN,NaN,Kangasala SK,3,2,1222278.0,6496.0,Mikko Sipilä,1092;1216;1374;1425;1638;1713;1897;1976;2069;2...,1.904881,0.040031,14.2,95.404220
11167,90,NaN,NaN,Kangasala SK,3,3,1410773.0,4961.0,Panu Teittinen,1065;1237;1321;1380;1525;1633;1734;1816;1944;2...,1.958247,0.051661,12.3,87.168805
11168,90,NaN,NaN,Kangasala SK,3,4,1208530.0,3680.0,Jeremias Joutsensaari,354;524;761;1286;1378;1508;2127;2337;2446;2527...,1.964296,0.088554,7.6,54.187175
11169,90,NaN,NaN,Kangasala SK,3,5,1225951.0,3433.0,Kimmo Kontio,339;528;714;1030;1241;1299;1430;1996;2220;2319...,2.044877,0.033313,7.9,61.052869
11170,90,NaN,NaN,Kangasala SK,3,6,1180250.0,4886.0,Kristian Kannus,369;471;721;1401;1684;1816;2127;2272;2366;2584...,1.877567,0.118452,10.9,71.259652
11171,90,NaN,NaN,Kangasala SK,3,7,1184953.0,5499.0,Eevert Toivonen,313;467;684;1195;1262;1417;1537;2150;2514;2650...,1.951530,0.145027,13.8,97.144360
11172,47,NaN,NaN,Espoon Suunta,1,1,1205446.0,4616.0,Lari Pernu,930;1065;1148;1195;1336;1471;1586;1657;1737;20...,1.931580,0.091656,12.7,87.635147
11173,47,NaN,NaN,Espoon Suunta,1,2,1500073.0,5178.0,Aleksi Sorsa,1046;1185;1251;1302;1493;1561;1646;1739;1799;1...,1.932759,0.035926,14.2,98.101289
11174,47,NaN,NaN,Espoon Suunta,1,3,1226327.0,4640.0,Rinat Gabitov,977;1289;1414;1461;1603;1679;1779;1841;1924;22...,1.909729,0.111460,12.3,83.040465
11175,47,NaN,NaN,Espoon Suunta,1,4,1199768.0,3043.0,Anssi Vesanto,311;443;656;964;1026;1129;1693;1883;1978;2089;...,1.892812,0.094492,7.6,50.448852
11176,47,NaN,NaN,Espoon Suunta,1,5,1501925.0,2989.0,Alvar Palmen,280;443;615;833;972;1026;1134;1714;1890;1991;2...,2.005238,0.107930,7.9,58.680097
11177,47,NaN,NaN,Espoon Suunta,1,6,1199949.0,3907.0,Mikhail Kuleshov,257;416;631;1167;1402;1494;1707;1852;1936;2154...,1.961083,0.133211,10.9,77.466507
11178,47,NaN,NaN,Espoon Suunta,1,7,1226438.0,4858.0,Vladislav Malyshev,310;393;583;1012;1075;1216;1321;1865;2158;2271...,1.783962,0.086147,13.8,82.156858
11179,35,NaN,NaN,OK Kåre,1,1,1230783.0,4656.0,Fredrik Mattsson,931;1069;1157;1207;1356;1552;1663;1738;1828;20...,1.914389,0.152003,12.7,86.141442
11180,35,NaN,NaN,OK Kåre,1,2,1230784.0,4951.0,Isac Von krusenstierna,917;1108;1226;1445;1507;1671;1734;1806;2148;24...,1.833409,0.043151,14.2,88.823493
11181,35,NaN,NaN,OK Kåre,1,3,1230708.0,4889.0,Jonas Gustafsson,1031;1175;1238;1284;1412;1546;1656;1721;1846;2...,1.779518,0.088078,12.3,72.902100
11182,35,NaN,NaN,OK Kåre,1,4,2230783.0,3821.0,Emil Åberg,871;997;1229;1669;1747;1890;2437;2634;2753;283...,1.947613,0.004421,7.6,53.290679
11183,35,NaN,NaN,OK Kåre,1,5,2230784.0,3069.0,David Prochazka,294;459;641;972;1162;1215;1314;1791;1966;2054;...,1.916286,0.111242,7.9,53.685830
11184,35,NaN,NaN,OK Kåre,1,6,2230686.0,4634.0,Remo Ruch,258;465;674;1343;1564;1817;2165;2295;2383;2580...,1.940350,0.087382,10.9,75.876914
11185,35,NaN,NaN,OK Kåre,1,7,3230783.0,5356.0,Tomas Kubelka,339;439;695;1166;1230;1369;1500;1969;2313;2506...,1.892674,0.053236,13.8,91.591880
11186,17,NaN,NaN,Stora Tuna OK,1,1,1230785.0,4394.0,Ivan Sirakov,945;1073;1206;1260;1401;1483;1588;1651;1732;20...,1.888300,0.061075,12.7,83.923186
11187,17,NaN,NaN,Stora Tuna OK,1,2,1230787.0,5225.0,Joakim Svensk,854;1041;1123;1164;1366;1434;1531;1613;1674;17...,1.816039,0.059876,14.2,87.293897
11188,17,NaN,NaN,Stora Tuna OK,1,3,1230789.0,4275.0,Jesper Svensk,1016;1161;1222;1269;1397;1494;1610;1669;1777;2...,1.854242,0.063418,12.3,78.558314
11189,17,NaN,NaN,Stora Tuna OK,1,4,2230785.0,2841.0,William Pommer,300;419;638;952;1020;1130;1647;1834;1917;1989;...,1.902997,0.109172,7.6,50.965293
11190,17,NaN,NaN,Stora Tuna OK,1,5,2230787.0,4121.0,Viktor Svensk,1358;1508;1671;1882;2066;2118;2219;2739;2919;3...,1.820347,0.087750,7.9,48.774600
11191,17,NaN,NaN,Stora Tuna OK,1,6,NaN,NaN,Anton Sjökvist,NaN,1.803253,0.045524,10.9,66.156044
11192,17,NaN,NaN,Stora Tuna OK,1,7,NaN,NaN,Emil Svensk,NaN,1.785289,0.114687,13.8,82.265954

In [251]:
by_teams = runs17.set_index(["team-id", "leg-nro"]).unstack()
by_teams.head()

        placement                                     team-time           \
leg-nro         1     2     3     4     5     6     7         1        2
team-id
1             2.0   2.0   2.0   2.0   2.0   2.0   2.0   27171.0  27171.0
2            21.0  21.0  21.0  21.0  21.0  21.0  21.0   29186.0  29186.0
3            24.0  24.0  24.0  24.0  24.0  24.0  24.0   29299.0  29299.0
4             5.0   5.0   5.0   5.0   5.0   5.0   5.0   27842.0  27842.0
5             1.0   1.0   1.0   1.0   1.0   1.0   1.0   27105.0  27105.0

                    ...     leg_dist             est_median             \
leg-nro        3    ...            5     6     7          1          2
team-id             ...
1        27171.0    ...          7.9  10.9  13.8  78.115482  97.161867
2        29186.0    ...          7.9  10.9  13.8  79.403068  91.433455
3        29299.0    ...          7.9  10.9  13.8  82.681744  88.404270
4        27842.0    ...          7.9  10.9  13.8  74.788233  91.738116
5        27105.0    ...          7.9  10.9  13.8  84.113679  90.738981


leg-nro          3          4          5          6          7
team-id
1        74.503898  45.243955  50.675913  62.267656  78.987342
2        76.263438  49.412052  44.186301  74.616496  78.258430
3        77.526052  52.050247  55.205200  65.510583  80.069319
4        80.294040  46.180695  51.260091  65.659463  76.896217
5        70.931025  46.317172  53.759500  59.459500  77.641148

[5 rows x 84 columns]

In [252]:
for i in range(1,8):
    by_teams["fin_real", i] = np.sum([ by_teams["leg-time"][j] / 60 for j in range(1,i+1) ], axis=0)
by_teams.fin_real.head()

leg-nro,1,2,3,4,5,6,7
team-id,,,,,,,
1,71.950000,155.950000,228.200000,273.250000,317.416667,375.933333,452.800000
2,77.383333,170.700000,241.633333,296.166667,341.000000,405.933333,486.383333
3,83.800000,173.333333,245.283333,292.850000,346.200000,411.166667,488.283333
4,71.700000,162.183333,232.483333,278.366667,323.850000,385.600000,463.966667
5,71.450000,151.400000,221.366667,267.400000,313.116667,374.283333,451.716667

In [253]:
for i in range(1,8):
    by_teams["fin_med", i] = np.sum([ by_teams["est_median"][j] for j in range(1,i+1) ], axis=0)
by_teams.fin_med.head()

leg-nro,1,2,3,4,5,6,7
team-id,,,,,,,
1,78.115482,175.277349,249.781247,295.025202,345.701115,407.968771,486.956114
2,79.403068,170.836523,247.099961,296.512012,340.698314,415.314810,493.573240
3,82.681744,171.086014,248.612066,300.662313,355.867513,421.378096,501.447415
4,74.788233,166.526350,246.820390,293.001085,344.261176,409.920639,486.816855
5,84.113679,174.852660,245.783685,292.100857,345.860357,405.319857,482.961005

In [255]:

def get_simulated_medians(row):
    samples = pd.DataFrame()
    for i in range(1,8):
        samples[i] = row["leg_dist"][i] * lognorm.rvs(s = row["final_log_stdevs"][i], scale = np.exp(row["final_log_means"][i]), size = 10000)

    samples_sums = pd.DataFrame()
    for i in range(1,8):
        samples_sums[i] = np.sum([ samples[j] for j in range(1,i+1) ], axis=0)

    start95 = samples_sums.quantile(0.025)
    end95 = samples_sums.quantile(0.975)
    medians = samples_sums.median()
    means = samples_sums.mean()
    
    """
    for i in range(1,8):
        bins = int(samples_sums[i].max() - samples_sums[i].min())
        name = row["competitor-name"][i]
        plt.title(f"{name} bins = {bins}")
        plt.hist(samples_sums[i], bins=bins)
        plt.axvline(x=row["fin_real"][i], color="r")        
        plt.axvline(x=medians[i], color="g")
        plt.axvline(x=means[i], color="yellow")
        plt.show()
    """
    
    """
    bins = int( (samples_sums.max().max() - samples_sums.min().min()) / 5) 
    plt.figure(figsize=(20, 6))
    plt.title(f"Whole team, bins = {bins}")
    plt.hist([samples_sums[1], samples_sums[2], samples_sums[3], samples_sums[4], samples_sums[5], samples_sums[6], samples_sums[7]], bins=bins)
    for i in range(1,8):
        plt.axvline(x=row["fin_real"][i], color="r")
        plt.axvline(x=medians[i], color="g")

    plt.show()
    """
    
    fin_start95_dict = {f"fin_start95_{leg}" : start95.values[leg-1] for leg in range(1,8)}
    fin_end95_dict = {f"fin_end95_{leg}" : end95.values[leg-1] for leg in range(1,8)}
    fin_median_dict = {f"fin_median_{leg}" : medians.values[leg-1] for leg in range(1,8)}
    fin_mean_dict = {f"fin_mean_{leg}" : means.values[leg-1] for leg in range(1,8)}
    new_cols = {**fin_start95_dict, **fin_end95_dict, **fin_median_dict, **fin_mean_dict}

    #print(start95.values)
    #print(new_cols)
    return pd.Series(new_cols)

simulated = by_teams.apply(get_simulated_medians, axis=1)


simulated.head()

,fin_start95_1,fin_start95_2,fin_start95_3,fin_start95_4,fin_start95_5,fin_start95_6,fin_start95_7,fin_end95_1,fin_end95_2,fin_end95_3,...,fin_median_5,fin_median_6,fin_median_7,fin_mean_1,fin_mean_2,fin_mean_3,fin_mean_4,fin_mean_5,fin_mean_6,fin_mean_7
team-id,,,,,,,,,,,,,,,,,,,,,
1,66.905457,156.234946,227.730467,272.337800,321.436005,382.818688,458.035404,91.815887,197.313214,274.432018,...,346.942879,409.334623,488.478337,78.469771,175.930789,250.713055,296.055482,347.060441,409.441781,488.759595
2,71.312195,158.602855,231.450748,276.544916,320.421497,391.872513,467.405147,88.280253,183.969099,264.357600,...,341.302011,416.384756,494.800510,79.494706,170.999353,247.499467,297.442157,341.678381,416.658896,495.172158
3,64.023656,149.962873,226.090703,277.134535,330.775295,394.414529,473.023900,106.267093,196.561279,275.687954,...,356.788724,422.606863,502.750080,83.412613,171.932852,249.658319,301.873484,357.300557,423.063068,503.322294
4,72.287039,150.965597,226.257852,270.713245,319.902555,384.416852,460.335786,77.499162,186.154298,270.719502,...,345.437212,411.099889,488.068897,74.813851,167.081999,247.681780,294.164746,345.738565,411.486894,488.411900
5,61.002038,149.550523,220.312167,265.914871,318.510149,376.277997,453.993932,116.115869,208.799962,280.403959,...,346.834822,406.682071,484.291469,85.293676,176.212843,247.232104,293.669892,347.659773,407.395410,485.027302

In [256]:
by_teams_2 = by_teams.copy()
by_teams_2.columns = [f'{x[0]}_{x[1]}' for x in by_teams_2.columns]
by_teams_2.reset_index()
by_teams_2.head()

,placement_1,placement_2,placement_3,placement_4,placement_5,placement_6,placement_7,team-time_1,team-time_2,team-time_3,...,fin_real_5,fin_real_6,fin_real_7,fin_med_1,fin_med_2,fin_med_3,fin_med_4,fin_med_5,fin_med_6,fin_med_7
team-id,,,,,,,,,,,,,,,,,,,,,
1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,27171.0,27171.0,27171.0,...,317.416667,375.933333,452.800000,78.115482,175.277349,249.781247,295.025202,345.701115,407.968771,486.956114
2,21.0,21.0,21.0,21.0,21.0,21.0,21.0,29186.0,29186.0,29186.0,...,341.000000,405.933333,486.383333,79.403068,170.836523,247.099961,296.512012,340.698314,415.314810,493.573240
3,24.0,24.0,24.0,24.0,24.0,24.0,24.0,29299.0,29299.0,29299.0,...,346.200000,411.166667,488.283333,82.681744,171.086014,248.612066,300.662313,355.867513,421.378096,501.447415
4,5.0,5.0,5.0,5.0,5.0,5.0,5.0,27842.0,27842.0,27842.0,...,323.850000,385.600000,463.966667,74.788233,166.526350,246.820390,293.001085,344.261176,409.920639,486.816855
5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,27105.0,27105.0,27105.0,...,313.116667,374.283333,451.716667,84.113679,174.852660,245.783685,292.100857,345.860357,405.319857,482.961005

In [257]:
result = pd.concat([by_teams_2, simulated], axis=1, join='inner')
result.head()

,placement_1,placement_2,placement_3,placement_4,placement_5,placement_6,placement_7,team-time_1,team-time_2,team-time_3,...,fin_median_5,fin_median_6,fin_median_7,fin_mean_1,fin_mean_2,fin_mean_3,fin_mean_4,fin_mean_5,fin_mean_6,fin_mean_7
team-id,,,,,,,,,,,,,,,,,,,,,
1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,27171.0,27171.0,27171.0,...,346.942879,409.334623,488.478337,78.469771,175.930789,250.713055,296.055482,347.060441,409.441781,488.759595
2,21.0,21.0,21.0,21.0,21.0,21.0,21.0,29186.0,29186.0,29186.0,...,341.302011,416.384756,494.800510,79.494706,170.999353,247.499467,297.442157,341.678381,416.658896,495.172158
3,24.0,24.0,24.0,24.0,24.0,24.0,24.0,29299.0,29299.0,29299.0,...,356.788724,422.606863,502.750080,83.412613,171.932852,249.658319,301.873484,357.300557,423.063068,503.322294
4,5.0,5.0,5.0,5.0,5.0,5.0,5.0,27842.0,27842.0,27842.0,...,345.437212,411.099889,488.068897,74.813851,167.081999,247.681780,294.164746,345.738565,411.486894,488.411900
5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,27105.0,27105.0,27105.0,...,346.834822,406.682071,484.291469,85.293676,176.212843,247.232104,293.669892,347.659773,407.395410,485.027302

In [249]:
start_timestamp = pd.Timestamp(year = 2017, month = 6, day = 17, hour = 23)
result["fint_real_1"] = pd.to_datetime(result["fin_real_1"] * 60, unit = "s", origin= start_timestamp)

for leg in range(1,8):
    result[f"fint_real_{leg}"] = pd.to_datetime(result[f"fin_real_{leg}"] * 60, unit = "s", origin= start_timestamp)
    result[f"fint_median_{leg}"] = pd.to_datetime(result[f"fin_median_{leg}"] * 60, unit = "s", origin= start_timestamp)
    result[f"fint_start95_{leg}"] = pd.to_datetime(result[f"fin_start95_{leg}"] * 60, unit = "s", origin= start_timestamp)
    result[f"fint_end95_{leg}"] = pd.to_datetime(result[f"fin_end95_{leg}"] * 60, unit = "s", origin= start_timestamp)

result["fint_end95_2"]

team-id
1      2017-06-18 02:17:27.078352000
2      2017-06-18 02:03:44.163662000
3      2017-06-18 02:16:33.689827000
4      2017-06-18 02:05:52.144775000
5      2017-06-18 02:29:48.491857000
6      2017-06-18 01:56:39.098433000
7      2017-06-18 02:26:44.299537000
8      2017-06-18 02:13:23.785512000
9      2017-06-18 02:00:30.050533000
10     2017-06-18 02:13:40.279052000
11     2017-06-18 02:05:18.023825000
12     2017-06-18 02:14:56.858873000
13     2017-06-18 02:22:15.466467000
14     2017-06-18 02:09:49.017318000
15     2017-06-18 02:28:36.711822000
16     2017-06-18 02:05:04.373186000
17     2017-06-18 02:05:59.454779000
18     2017-06-18 02:20:01.953818000
19     2017-06-18 02:08:07.408825000
20     2017-06-18 02:31:35.528746000
21     2017-06-18 01:57:02.214922000
22     2017-06-18 02:11:22.389501000
23     2017-06-18 02:14:30.744625000
24     2017-06-18 02:43:50.516985999
25     2017-06-18 02:48:19.722852000
26     2017-06-18 02:05:16.712261000
27     2017-06-18 02:10:32.128450000
28     2017-06-18 02:22:11.074388000
29     2017-06-18 02:17:06.362722000
30     2017-06-18 02:09:20.748996000
                    ...
1571   2017-06-18 06:31:08.025946000
1572   2017-06-18 05:29:41.165244000
1573   2017-06-18 06:31:56.450950000
1574   2017-06-18 05:17:09.254066000
1575   2017-06-18 06:13:54.288799000
1576   2017-06-18 06:49:44.891368000
1577   2017-06-18 06:32:35.856758000
1578   2017-06-18 03:47:13.625126000
1579   2017-06-18 03:48:08.850574000
1580   2017-06-18 05:57:17.615866000
1581   2017-06-18 06:32:48.893203000
1582   2017-06-18 06:14:30.893554000
1583   2017-06-18 06:33:06.694448000
1584   2017-06-18 05:08:28.754970000
1585   2017-06-18 05:18:03.008203999
1586   2017-06-18 04:02:05.657246000
1587   2017-06-18 04:06:52.716209000
1588   2017-06-18 05:27:32.938290000
1589   2017-06-18 04:17:27.434426000
1590   2017-06-18 03:22:51.018320000
1591   2017-06-18 06:33:37.463552000
1592   2017-06-18 06:34:39.845835000
1593   2017-06-18 04:56:59.172396000
1594   2017-06-18 06:36:19.001471000
1595   2017-06-18 06:35:51.618558000
1596   2017-06-18 06:36:44.646750000
1597   2017-06-18 06:37:57.046238000
1598   2017-06-18 06:37:28.613311000
1599   2017-06-18 03:57:56.463500000
1600   2017-06-18 06:37:45.855217000
Name: fint_end95_2, Length: 1599, dtype: datetime64[ns]

In [250]:
result.to_csv('data/team_estimates_ju2017.tsv', sep="\t")

In [218]:
[ (rmse(result[f"fin_mean_{leg}"], result[f"fin_real_{leg}"]), rmse(result[f"fin_median_{leg}"], result[f"fin_real_{leg}"])) for leg in range(1,8)]

[(22.371055825752933, 22.029401142480737),
 (34.66291127402661, 34.09477541475599),
 (46.70714393481617, 46.12721122874638),
 (51.76751341137128, 50.611218364399),
 (59.09781637725244, 58.32093211410342),
 (68.13835213124383, 67.30695068573549),
 (76.94961123035401, 76.49842282042769)]

In [236]:
result["fin_real_7"].head()

team-id
1    452.800000
2    486.383333
3    488.283333
4    463.966667
5    451.716667
Name: fin_real_7, dtype: float64

In [215]:
qualified = result[np.isfinite(result.fin_real_7)]

In [231]:
[ (rmse(qualified[f"fin_mean_{leg}"], qualified[f"fin_real_{leg}"]), rmse(qualified[f"fin_median_{leg}"], qualified[f"fin_real_{leg}"])) for leg in range(1,8)]

[(22.21349045049956, 21.85374470685025),
 (34.346580616921216, 33.7370553647828),
 (46.6657892107734, 46.03357847019537),
 (50.94226105856988, 50.49261291630068),
 (58.26950660607369, 58.00094225465912),
 (67.4454790771967, 67.10991465883217),
 (76.94961123035401, 76.49842282042769)]

In [232]:
[ (mean_absolute_error(qualified[f"fin_real_{leg}"], qualified[f"fin_mean_{leg}"]), mean_absolute_error(qualified[f"fin_real_{leg}"], qualified[f"fin_median_{leg}"])) for leg in range(1,8)]

[(14.281530656724978, 13.946578846650764),
 (21.928703068801827, 21.527993764737992),
 (30.925430933505346, 30.39071894491211),
 (33.48524098492939, 33.04195992228056),
 (38.028652415377216, 37.717968920506415),
 (43.10059452537612, 42.78697017778889),
 (48.996112478694265, 48.67674808204247)]

In [225]:
np.mean((result["fin_start95_1"] < result["fin_real_1"]) & (result["fin_end95_1"] > result["fin_real_1"]) )

0.7948717948717948

In [226]:
np.mean((qualified["fin_start95_1"] < qualified["fin_real_1"]) & (qualified["fin_end95_1"] > qualified["fin_real_1"]) )

0.816146540027137

###